.row
  .span9
    %h1= t('quiz.title')
    %section
    #bs-quiz-question-block
      %h2= t('quiz.question_number', :number => flash[:question_number], :questions => Response::QUIZ_LIMIT)
      = form_tag responses_path do
        %h3 #{@question.news}
        .control-group.radio_buttons.required
          %label.radio_buttons.required.control-label
            %h3 Q: #{@question.text}
          .controls
            = hidden_field_tag  :question_id, params[:id]
            - @question.choices.each do |choice|
              %label.radio
                = radio_button_tag :choice_id, choice.id, false, :required => :required
                = choice.text
        .show-grid
          = submit_tag 'Next Question', :class => %w(btn btn-primary)
    %h3.green= t('quiz.note')
  .span3.show-grid
    .thumb
      = link_to image_tag('ebola-370.jpg', :class => %w(img-rounded)), main_app.page_path('win-an-ipad3')
    .thumb
      = link_to image_tag('investment-workshop.png',:class => 'img-rounded'), main_app.page_path('investment-workshop')
