.row
  .span9
    %h1= t('quiz.title')
    %section
    #bs-quiz-question-block
      %h2= t('quiz.question_number', :number => flash[:question_number], :questions => Response::QUIZ_LIMIT)
      = form_tag responses_path do
        %h3 #{@question.news}
        .control-group.radio_buttons.required
          %label.radio_buttons.required.control-label
            %h3 Q: #{@question.text}
          .controls
            = hidden_field_tag  :question_id, params[:id]
            - @question.choices.each do |choice|
              %label.radio
                = radio_button_tag :choice_id, choice.id, false, :required => :required
                = choice.text
        .show-grid
          = submit_tag 'Next Question', :class => %w(btn btn-primary)
    %h3.green= t('quiz.note')
  .span3.show-grid
    .thumb
      = link_to image_tag('ebola-370.jpg', :class => %w(img-rounded)), main_app.page_path('win-an-ipad3')
    .row-fluid
      .span12.well
        .thumb
          %h5= link_to 'Financial Planning', main_app.edit_comprehensive_risk_profiler_path
          %p Planning can be nerve-wracking. That’s why we did all the complicated number crunching so that you can invest with a single click.
        .thumb
          %h5= link_to 'Learn Investing', main_app.page_path('investment_education')
          %p An investment in knowledge pays the best interest." - Benjamin Franklin Learn how to make good investment decisions.
        .thumb
          %h5= link_to 'Stock Recommendations', main_app.page_path('stock-recommendations')
          %p No one has become a crorepati by saving money in a bank account or fixed deposit. That’s why we recommend money-multiplying stocks.
        .thumb
          %h5= link_to 'Stock Market data', main_app.page_path('markets')
          %p The stock market is flooding with information. Stay ahead of others with the latest news, quotes and detailed corporate information. We support 3,500 stocks and 5,000 mutual funds
        .thumb
          %h5= link_to 'Research Reports', main_app.page_path('research')
          %p Our research report aggregator tool is so vast that you can become a Ph.d in Financial Research.
        .thumb
          %h5= link_to 'Portfolio Tracking', portfolios_path
          %p No unnecessary paperwork, excel formulas or any other fancy tools. Get a financial analyst’s perspective of all your investments with just a few clicks.
        .thumb
          %h5
            Social Features
            %small Coming Soon
          %p Connect with the kings of investing and learn how to make profitable investments.If you are a king yourself, build a kingdom of followers.
