.row
  .span9
    %h1= t '.title'
    %section
      %h3= t '.description'
      %p= t '.about'
    = simple_form_for @question , :url => update_response_question_path(@question.id) do |f|
      %h3 Question #{@current_question_number} :  #{@question.news}
      %ol.unstyled
        %li
          %fieldset#special_goals
            = f.input :user_response_id, :collection => @question.choices, :as => :radio_buttons, :label => @question.text,
                      :label_method => :text, :value_method => :id
      .form-actions
        = f.submit 'Answer', :class => %w(btn.btn-primary)
    %section
      .well#reason_part.hide
        %h2#result_part
        %h3 Explanation
        %p #{@question.reason}
        #next_link


  .span3
    %img{:src => "http://placehold.it/270x300&text=ads"}/
    %img{:src => "http://placehold.it/270x300&text=ads"}/


