.row
  .span9
    %h1= t '.title'
    %section
    = form_tag responses_path do
      %h3 #{@question.news}
      .control-group.radio_buttons.required
        %label.radio_buttons.required.control-label
          %h3 Question #{flash[:question_number]} : #{@question.text}
        .controls
          - @question.choices.each do |choice|
            %label.radio
              = radio_button_tag :choice_id, choice.id, false, :required => :required
              = choice.text
      .form-actions
        = submit_tag 'Answer', :class => %w(.btn.btn-primary)

  .span3
    .thumb
      = link_to image_tag('ebola-370.jpg', :class => %w(img-rounded)), main_app.page_path('win-an-ipad3')
    .row-fluid
      .span12.well
        .thumb
          %h5= link_to 'Financial Planning', main_app.edit_comprehensive_risk_profiler_path
          %p Planning can be nerve-wracking. That’s why we did all the complicated number crunching so that you can invest with a single click.
        .thumb
          %h5= link_to 'Learn Investing', main_app.page_path('investment_education')
          %p An investment in knowledge pays the best interest." - Benjamin Franklin Learn how to make good investment decisions.
        .thumb
          %h5= link_to 'Stock Recommendations', '#'
          %p No one has become a crorepati by saving money in a bank account or fixed deposit. That’s why we recommend money-multiplying stocks.
        .thumb
          %h5= link_to 'Research Reports', main_app.research_reports_path
          %p Our research report aggregator tool is so vast that you can become a Ph.d in Financial Research.
        .thumb
          %h5= link_to 'Portfolio Tracking', portfolios_path
          %p No unnecessary paperwork, excel formulas or any other fancy tools. Get a financial analyst’s perspective of all your investments with just a few clicks.
        .thumb
          %h5
            Social Features
            %small Coming Soon
          %p Connect with the kings of investing and learn how to make profitable investments.If you are a king yourself, build a kingdom of followers.
