= simple_nested_form_for([parent, resource]) do |f|
  = f.error_notification

  .security
    = f.fields_for :real_estate do |real_estate|
      = real_estate.input :type, :as => :hidden
      = real_estate.input :name, :hint => 'e.g. 3 bhk flat at Marine Drive'
      = real_estate.input :location
  .inputs
    = f.input :action, :collection => [["Buy",:buy]], :include_blank => false
    = f.input :price
  .security
    = f.fields_for :real_estate do |real_estate|
      = real_estate.input :current_price
  .inputs
    = f.input :date,:order=> [:day,:month,:year]
    = f.input :comments

  .actions
    = f.button :submit
