- unless real_estate_transactions.empty?
  %table
    %tr
      %th Date
      %th Type
      %th Name
      %th Transaction Value (Rs)
      %th Comments

    - real_estate_transactions.each do |real_estate_transaction|
      %tr
        %td= l real_estate_transaction.date
        %td{:class => real_estate_transaction.action}= real_estate_transaction.action.to_s.titleize
        %td= real_estate_transaction.name
        %td= number_to_indian_currency real_estate_transaction.price.abs
        %td= real_estate_transaction.comments || t("tables_not_available")
- else
  = t "transactions.no_real_estate_transactions"

