%table
  %tr
    %th Date
    %th Type
    %th Name
    %th Buy Value
    %th Current Value
    %th Change (%)

  - real_estate_transactions.each do |real_estate_transaction|
    %tr
      %td= real_estate_transaction.date
      %td= real_estate_transaction.action
      %td= real_estate_transaction.name
      %td= number_to_indian_currency real_estate_transaction.price
      %td= number_to_indian_currency real_estate_transaction.current_value
      %td= number_to_indian_currency real_estate_transaction.percentage_change
