= simple_nested_form_for [parent, resource], :url => create_sell_portfolio_real_estate_transaction_path, :html => {:class => 'form-horizontal'} do |f|
  = f.error_notification

  .security
    %h1= resource.name

  .inputs
    = f.input :date
    = f.input :price
    = f.input :comments
    = f.hidden_field :action, :value => :sell
    = f.input :portfolio_id, :as => :hidden
    = f.input :real_estate_id, :as => :hidden

  .actions
    = f.submit 'Submit'

