%category
  %h1 Investment Concepts
  %ul
    %li= link_to t('investment_education.risk_and_return'), page_path('investment_education/risk_and_return')
    %li= link_to t('investment_education.time_value_of_money'),page_path('investment_education/time_value_of_money')
    %li= link_to t('investment_education.diversification'),page_path('investment_education/diversification')
    %li= link_to t('investment_education.investment_trading'),page_path('investment_education/investment_trading')
%category
  %h1 Investment Process
  %ul
    %li= link_to t('investment_education.analyzing_needs'), page_path('investment_education/analyzing_needs')
    %li= link_to t('investment_education.investment_plan'), page_path('investment_education/investment_plan')
    %li= link_to t('investment_education.asset_allocation'), page_path('investment_education/asset_allocation')
    %li= link_to t('investment_education.choosing_investments'), page_path('investment_education/choosing_investments')
    %li= link_to t('investment_education.start_investing'), page_path('investment_education/start_investing')
    %li= link_to t('investment_education.track_investment'), page_path('investment_education/track_investment')
    %li= link_to t('investment_education.risk_management'), page_path('investment_education/risk_management')
    %li= link_to t('investment_education.reduce_taxes'), page_path('investment_education/reduce_taxes')
%category
  %h1 Investment Analysis
  %ul
    %li= link_to t('investment_education.fundamental_analysis1'), page_path('investment_education/fundamental_analysis1')
    %li= link_to t('investment_education.fundamental_analysis2'), page_path('investment_education/fundamental_analysis2')
    %li= link_to t('investment_education.technical_analysis'), page_path('investment_education/technical_analysis')
%category
  %h1 Types Of Investment
  %ul
    %li= link_to t('investment_education.cash_equivalents'), page_path('investment_education/cash_equivalents')
    %li= link_to t('investment_education.stocks1'), page_path('investment_education/stocks1')
    %li= link_to t('investment_education.stocks2'), page_path('investment_education/stocks2')
    %li= link_to t('investment_education.bonds'), page_path('investment_education/bonds')
    %li= link_to t('investment_education.mutual_funds'), page_path('investment_education/mutual_funds')
    %li= link_to t('investment_education.exchange_traded'), page_path('investment_education/exchange_traded')
    %li= link_to t('investment_education.commodities'), page_path('investment_education/commodities')
    %li= link_to t('investment_education.insurance_products'), page_path('investment_education/insurance_products')
    %li= link_to t('investment_education.real_estate_investment'), page_path('investment_education/real_estate_investment')
%category
  %h1 Advanced Investments
  %ul
    %li= link_to t('investment_education.foreign_exchange1'), page_path('investment_education/foreign_exchange1')
    %li= link_to t('investment_education.foreign_exchange2'), page_path('investment_education/foreign_exchange2')
    %li= link_to t('investment_education.forwards'), page_path('investment_education/forwards')
    %li= link_to t('investment_education.futures1'), page_path('investment_education/futures1')
    %li= link_to t('investment_education.futures2'), page_path('investment_education/futures2')
    %li= link_to t('investment_education.options1'), page_path('investment_education/options1')
    %li= link_to t('investment_education.options2'), page_path('investment_education/options2')
%category
  %h1 Jargon Demystified
  %ul
    %li=link_to 'Glossary', page_path('investment_education/glossary')
