%category
  %h1 Investment Concepts
  %ul
    %li= link_to 'Risk & Return', 'investment_education/risk_and_return'
    %li= link_to 'Time Value of Money','investment_education/time_value_of_money'
    %li= link_to 'Diversification','investment_education/diversification'
    %li= link_to 'Investment vs Trading','investment_education/investment_trading'
%category
  %h1 Investment Process
  %ul
    %li= link_to 'Analyzing your Needs', 'investment_education/analyzing_needs'
    %li= link_to 'Investment Plan', 'investment_education/investment_plan'
    %li= link_to 'Asset Allocation', 'investment_education/asset_allocation'
    %li= link_to 'Choosing Investments', 'investment_education/choosing_investments'
    %li= link_to 'Start Investing', 'investment_education/start_investing'
    %li= link_to 'Track your Investments', 'investment_education/track_investment'
    %li= link_to 'Risk Management', 'investment_education/risk_management'
    %li= link_to 'Reduce Your Taxes', 'investment_education/reduce_taxes'
%category
  %h1 Investment Analysis
  %ul
    %li= link_to 'Fundamental AnalysisI', 'investment_education/fundamental_analysis1'
    %li= link_to 'Fundamental AnalysisII', 'investment_education/fundamental_analysis2'
    %li= link_to 'Technical Analysis', 'investment_education/technical_analysis'
%category
  %h1 Types Of Investment
  %ul
    %li= link_to 'Cash Equivalents', 'investment_education/cash_equivalents'
    %li= link_to 'Stocks I', 'investment_education/stocks1'
    %li= link_to 'Stocks II', 'investment_education/stocks2'
    %li= link_to 'Bonds', 'investment_education/bonds'
    %li= link_to 'Mutual Funds', 'investment_education/mutual_funds'
    %li= link_to 'Exchange Traded Funds', 'investment_education/exchange_traded'
    %li= link_to 'Commodities', 'investment_education/commodities'
    %li= link_to 'Insurance Products', 'investment_education/insurance_products'
    %li= link_to 'Real Estate Investments', 'investment_education/real_estate_investment'
%category
  %h1 Advanced Investments
  %ul
    %li= link_to 'Foreign Exchange I', 'investment_education/foreign_exchange1'
    %li= link_to 'Foreign Exchange II', 'investment_education/foreign_exchange2'
    %li= link_to 'Forwards', 'investment_education/forwards'
    %li= link_to 'Futures I', 'investment_education/futures1'
    %li= link_to 'Futures II', 'investment_education/futures2'
    %li= link_to 'Options I', 'investment_education/options1'
    %li= link_to 'Options II', 'investment_education/options2'
%category
  %h1 Jargon Demystified
  %ul
    %li=link_to 'Glossary', 'investment_education/glossary'
