- if @stock.company_code && @audited_results[0].model
  %h1= "#{@stock.name} - Profit Loss"
  %table
    %tr
      %th
      - @audited_results.each do |audited_result|
        %th= audited_result.year_ending
    - @audited_results[0].profit_loss_view_items.each do |item|
      %tr
        %td
          - if item[:heading]
            %b= item[:title]
          -else
            = item[:title]
        - @audited_results.each do |audited_result|
          %td= audited_result.send(item[:field_name].to_sym) if item[:field_name]
- else
  %p Data not available
