.row.show-grid
  .span8
    .row.show-gird
      .span8
        %a.btn.btn-primary.pull-right{:href => "#"} Import Contacts
        .input-append
          = text_field_tag :query, nil, :placeholder => 'Search Friends', :class => 'search-query input-xxlarge'
          = button_tag :class => 'btn' do
            %i.icon-search
    .row.show-grid
      .span8
        -# TODO: Top Performing Public Portfolios
    .row.show-grid
      .span8
        -# Todo: Here image of user, name and comment text.
        %h5.show-grid Events Feed
        %ul.thumbnails
          - collection.each do |update|
            %li.span8
              .thumbnail
                .row
                  .span1= update.avatar(:small)
                  .span6
                    %h3= update.title
                    %p= update.content
  .span4
    %ul.thumbnails
      %li.span4
        .well
          %p.header
            News
            %small.pull-right
              = link_to 'See all'
          %ul
            %li=link_to "Corporations or governments issue bonds when they need capital."
            %li=link_to "In return the bond holder receives interest and principal payments at pre-specified dates"
            %li=link_to "Investors can directly deal with the bond issuer or on the secondary market through a broker."
            %li=link_to "Be aware of credit risk, interest rate risk and liquidity risk while investing in bonds."
      %li.span4.articles
        .well
          %p.header
            Stock Recommendations
            %small.pull-right
              = link_to 'See all'
          %ul
            %li
              =link_to "Reliance Industries"
              %span.pull-right Hold
            %li
              =link_to "Tata consultant Services"
              %span.pull-right Hold
            %li
              =link_to "Infosys Public limited"
              %span.pull-right Hold
            %li
              =link_to "Reliance Industries"
              %span.pull-right Hold
            %li
              =link_to "Tata consultant Services"
              %span.pull-right Hold
