%h1 Listing profiles

%table
  %tr
    %th Name
    %th Avatar url
    %th Location
    %th Occupation
    %th Company
    %th

  - @profiles.each do |profile|
    %tr
      %td= profile.name
      %td= profile.avatar_url
      %td= profile.location
      %td= profile.occupation
      %td= profile.company
      %td= link_to 'Show', profile_path(profile)
