= facebook_recommendation('Listing profiles')

= simple_form_for @search, :url => collection_path, :html => {:novalidate => true}, :html => {:class => 'form-horizontal'} do |f|
  = f.input :name_or_email_contains, :as => :string
  = f.submit 'Search'

%ul.thumbnails
  - collection.each do |profile|
    %li.span3
      .thumbnail
        = profile.avatar
        %h3= link_to profile.name, profile_path(profile)
        %p= profile.location
        %p= profile.occupation
        %p= profile.company
