.row.show-grid
  .span2
    = resource.avatar
    %h2.align-center
      = resource.name
      = resource.follow_unfollow_button
    %h4
      Occupation:
      %small= resource.occupation
    %h4
      City:
      %small= resource.location
    %h4
      Favourite Stocks:
      %small= resource.favourite_stocks
    %h4
      Investing Style:
      %small= resource.investing_style
  .span7
    .row.show-grid
      .span7
        %h5 Public Portfolios
        #public_portfolios_carousel.carousel.slide
          .carousel-inner
            - PortfolioDecorator.decorate(resource.portfolios.public).each do |portfolio|
              .item.wide
                = gchart( :header => ['Asset Class','Percenatge'],
                          :data => portfolio.total_assets_distribution,
                          :chart_type => 'Pie',
                          :title => portfolio.name )
          %a.carousel-control.left{:href => '#public_portfolios_carousel', :data => {:slide => :prev}} &lsaquo;
          %a.carousel-control.right{:href => '#public_portfolios_carousel', :data => {:slide => :next}} &rsaquo;
    .row.show-grid
      .span7
        %h5 Activity
        %ul.thumbnails
          - EventDecorator.decorate(resource.events).each do |event|
            %li.span7
              .thumbnail
                .row
                  .span1= event.icon
                  .span5
                    %h3= event.action.titleize
                    %p= event.content
  .span3
    .well
      %h5.header
        Following
        %small.pull-right
          = link_to 'See all', subscriptions_path
      - SubscriptionDecorator.decorate(resource.subscriptions.of_type('User')).each do |subscription|
        .show-grid= subscription.render_profile :mini
    .well
      %h5.header
        Followers
        %small.pull-right
          = link_to 'See all', subscriptions_path
      - SubscriptionDecorator.decorate(resource.follow_subscriptions).each do |subscription|
        .show-grid= subscription.render_user :mini
