%p#notice= notice

%p
  %b Name:
  = @profile.name
%p
  %b Avatar url:
  = @profile.avatar_url
%p
  %b Location:
  = @profile.location
%p
  %b Occupation:
  = @profile.occupation
%p
  %b Company:
  = @profile.company

- if can? :edit, @profile
  = link_to 'Edit', edit_own_profile_path
= simple_form_for @profile.follows.new do |f|
  = f.input :subscribable_id, :as => :hidden
  = f.input :subscribable_type, :as => :hidden
  = f.submit 'Follow'
= link_to 'Back', profiles_path
