%p#notice= notice

%p
  %b Name:
  = @profile.name
%p
  %b Avatar url:
  = @profile.avatar_url
%p
  %b Location:
  = @profile.location
%p
  %b Occupation:
  = @profile.occupation
%p
  %b Company:
  = @profile.company

- if can? :edit, @profile
  = link_to 'Edit', edit_own_profile_path

= @profile.follow_unfollow_button

= link_to 'Back', profiles_path
