= render 'stocks/search_form'
- provide :title, @company.name if @company

- if @cash_flows.instance_variable_get("@cash_flow_decorators").first
  %h1= "#{@company.name} - Cash Flow"
  %p *All Numbers are in crores of rupees unless specified otherwise
  %table
    %tr
      %th
      - @cash_flows.instance_variable_get("@cash_flow_decorators").each do |cash_flow|
        %th=  l cash_flow.year_ending, :format => :yearly_results
    - @cash_flows.collection_non_null_fields.each do |field|
      %tr
        %td
          - if field == "net_c_flow_op" || field == "nt_csh_in_ia" || field == "nt_csh_usd_fa" || field == "csh_end_year"
            %b= t "cash_flow.#{field}"
          - else
            = t "cash_flow.#{field}"
        - @cash_flows.instance_variable_get("@cash_flow_decorators").each do |cash_flow|
          %td= cash_flow.send(field.to_sym)
      - if field == "net_c_flow_op" || field == "nt_csh_in_ia" || field == "nt_csh_usd_fa"
        %tr
- else
  %p Data not available for this company

#disqus_thread{data: {disqus_identifier: "stocks_#{@company.code}"}}
