<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Nav amount:</b>
  <%= nav_amount %>
</p>

<p>
  <b>Percentage change:</b>
  <%= percentage_change %>
</p>

<p>
  <b>Size:</b>
  <%= size %>
</p>

<p>
  <b>Prev year percent:</b>
  <%= prev_year_percent %>
</p>

<p>
  <b>Prev1 month percent:</b>
  <%= prev1_month_percent %>
</p>

<p>
  <b>Prev3 year percent:</b>
  <%= prev3_year_percent %>
</p>


<a href="#/index">Back</a>