.row
  %h1.span12.show-grid Portfolio Tracker
%section.row
  .span12.show-grid
    %ul.thumbnails
      %li.span4
        %h5 #{image_tag  "Portfolio_Snapshot.png"} Portfolio Snapshot
        %p Gives you personalized investment suggestions based on your unique financial needs & constraints.
      %li.span4
        %h5 #{image_tag  "Transaction_History_Comments.png"} Transaction History & Comments
        %p View a log of all your trades, neatly organized by our system along with your comments pertaining to each trade.
      %li.span4
        %h5 #{image_tag  "Sectoral_Analysis.png"} Sectoral Analysis
        %p See the sector wise/category wise breakdown of your stocks and mutual funds.
      %li.span4
        %h5 #{image_tag  "Profit_and_Loss_Analysis.png"} Profit and Loss Analysis
        %p View your profits and losses across stocks, fixed deposits, gold and mutual funds.
      %li.span4
        %h5 #{image_tag  "Asset_Class_Analysis.png"} Asset Class Analysis
        %p View how your portfolio is distributed across asset classes such as fixed deposits, stocks and gold.
      %li.span4
        %h5 #{image_tag  "Features.png"} More Features Coming Soon
        %p Personalized stock recommendations based on your existing portfolio, email alerts, watchlists, portfolio sharing with friends and portfolio risk analysis coming shortly!
%section.row
  .span12.show-grid
    .alert.alert-notice
      .align-center
        Please login/signup using one of the options below to access these features. Signing up is quick, free and
        will always be.
%section.row
  .span12.show-grid
    - unless current_user
      %iframe{ src: "/auth/single_signon", width:"100%", height: "350px", style: 'border:none;' }
