%ul.nav.nav-pills
  %li.btn-large= portfolio.name
  - if portfolio.user == current_user
    %li= link_to '< Back to my portfolio', portfolio, :class => 'btn'
  %li.btn-large.pull-right= l Time.now, :format => :date_time_IST
.subnav.show-grid
  %ul.nav.nav-pills
    = navigation_link 'Assets Breakdown',        main_app.public_portfolio_path(portfolio)
    = navigation_link 'Current Holdings',        main_app.current_holdings_public_portfolio_path(portfolio)
    = navigation_link 'Profit/Loss',             main_app.profit_loss_public_portfolio_path(portfolio)
    = navigation_link 'Historical Transactions', main_app.historical_transactions_public_portfolio_path(portfolio)
