%h1 Listing other_liabilities

%table
  %tr
    %th Name
    %th User
    %th Current price
    %th
    %th
    %th

  - @other_liabilities.each do |other_liability|
    %tr
      %td= other_liability.name
      %td= other_liability.user
      %td= other_liability.current_price
      %td= link_to 'Show', other_liability
      %td= link_to 'Edit', edit_other_liability_path(other_liability)
      %td= link_to 'Destroy', other_liability, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Other liability', new_other_liability_path
