.row
  .span8
    = facebook_recommendation('Personalized Financial Plan')
    = image_tag 'Quiz-page-mf-selection.png', :class => 'show-grid';
    .row
      .span10.show-grid
        -unless resource.persisted?
          = link_to "Skip Step and load balanced portfolio (Not Recommended)", comprehensive_risk_profiler_path(score: 6), html_options = { id: "skip_quiz"}

    .row
      .span10.show-grid
        = simple_form_for resource, :url => comprehensive_risk_profiler_path, :method => :put do |f|
          %ol
            %li= f.input :age
            %li= f.input :household_savings
            %li= f.input :household_income
            %li= f.input :household_expenditure
            %li= f.input :dependent
            %li
              %fieldset#special_goals
                = f.input :special_goals, :collection => %w[Yes No], :as => :radio_buttons
                #special_goals_field
                  = f.input :special_goals_amount
                  = f.input :special_goals_years
            %li
              %fieldset#tax_saving_investment
                = f.input :investment_check, :collection => %w[Yes No], :as => :radio_buttons
                #tax_saving_investment_field
                  = f.input :tax_saving_investment
            %li= f.input :time_horizon
            %li= f.input :preference, :collection => t("comprehensive_risk_profiler.preference").invert, :as => :radio_buttons
            %li= f.input :portfolio_investment, :collection => t("comprehensive_risk_profiler.portfolio_investment").invert, :as => :radio_buttons
            .form-actions
              = f.submit 'Submit', :class => %w(btn btn-primary)

  .span4
    %ul.thumbnails
      %li
        = image_tag 'Personalized.png', :class => 'bs-icon'
        %h5 Personalized investment suggestions
        %p Gives you personalized investment suggestions based on your unique financial needs & constraints.
      %li
        = image_tag 'Sectoral_Analysis.png', :class => 'bs-icon'
        %h5 Balance between risk and return
        %p Ensures that you strike a perfect balance between risk and return. All suggestions are based on financial experts’ opinion & backed by 10 years of market data.
      %li
        = image_tag 'Diversification.png', :class => 'bs-icon'
        %h5 Diversification
        %p Automatically ensures diversification across asset classes such as stocks, fixed deposits and gold. This reduces the riskiness of your portfolio drastically.
      %li
        = image_tag 'Quick_-free_and_beginner_-friendly.png', :class => 'bs-icon'
        %h5 Quick, free and beginner friendly
        %p Completely free of cost and doesn’t require a credit card or email address. Takes less than a minute to finish and requires no prior knowledge of investing.
    .pull-right
      = link_to image_tag('ebola-370.jpg'), main_app.page_path('signup-and-win')
