.row
  .span10.show-grid
    .row
      .span10.show-grid
        %h1 Personalized Financial Plan

    .row
      .span5.show-grid
        = image_tag "Personalized.png", :class => 'bs-icon'
        %h4 Personalized investment suggestions
        %p Gives you personalized investment suggestions based on your unique financial needs & constraints.
      .span5.show-grid
        = image_tag "risk_and_return.png", :class => 'bs-icon'
        %h4 Balance between risk and return
        %p Ensures that you strike a perfect balance between risk and return. All suggestions are based on financial experts’ opinion & backed by 10 years of market data.
      .span5.show-grid
        = image_tag "Diversification.png", :class => 'bs-icon'
        %h4 Diversification
        %p Automatically ensures diversification across asset classes such as stocks, fixed deposits and gold. This reduces the riskiness of your portfolio drastically.
      .span5.show-grid
        = image_tag "Quick_-free_and_beginner_-friendly.png", :class => 'bs-icon'
        %h4 Quick, free and beginner friendly
        %p Completely free of cost and doesn’t require a credit card or email address. Takes less than a minute to finish and requires no prior knowledge of investing.

    .row
      .span10.show-grid
        -unless resource.persisted?
          = link_to "Skip Step and load balanced portfolio (Not Recommended)", comprehensive_risk_profiler_path(score: 6), html_options = { id: "skip_quiz"}

    .row
      .span10.show-grid
        = simple_form_for resource, :url => comprehensive_risk_profiler_path, :method => :put do |f|
          %ol
            %li= f.input :age
            %li= f.input :household_savings
            %li= f.input :household_income
            %li= f.input :household_expenditure
            %li= f.input :dependent
            %li
              %fieldset#special_goals
                = f.input :special_goals, :collection => %w[Yes No], :as => :radio_buttons
                #special_goals_field
                  = f.input :special_goals_amount
                  = f.input :special_goals_years
            %li
              %fieldset#tax_saving_investment
                = f.input :investment_check, :collection => %w[Yes No], :as => :radio_buttons
                #tax_saving_investment_field
                  = f.input :tax_saving_investment
            %li= f.input :time_horizon
            %li= f.input :preference, :collection => t("comprehensive_risk_profiler.preference").invert, :as => :radio_buttons, :collection_wrapper_tag => :ul, :item_wrapper_tag => :li
            %li= f.input :portfolio_investment, :collection => t("comprehensive_risk_profiler.portfolio_investment").invert, :as => :radio_buttons, :collection_wrapper_tag => :ul, :item_wrapper_tag => :li
            .actions
              = f.submit 'Submit'

  .span2
