.row
  .span9
    = facebook_recommendation('Personalized Financial Plan')
    
    = image_tag 'Quiz-page-mf-selection.png', :class => 'show-grid';
    .row
      .span10.show-grid
        -unless resource.persisted?
          = link_to "Skip Step and load balanced portfolio (Not Recommended)", comprehensive_risk_profiler_path(score: 6), html_options = { id: "skip_quiz"}

    .row
      .span10.show-grid
        = simple_form_for resource, :url => comprehensive_risk_profiler_path, :method => :put do |f|
          %ol
            %li= f.input :age
            %li= f.input :household_savings
            %li= f.input :household_income
            %li= f.input :household_expenditure
            %li= f.input :dependent
            %li
              %fieldset#special_goals
                = f.input :special_goals, :collection => %w[Yes No], :as => :radio_buttons
                #special_goals_field
                  = f.input :special_goals_amount
                  = f.input :special_goals_years
            %li
              %fieldset#tax_saving_investment
                = f.input :investment_check, :collection => %w[Yes No], :as => :radio_buttons
                #tax_saving_investment_field
                  = f.input :tax_saving_investment
            %li= f.input :time_horizon
            %li= f.input :preference, :collection => t("comprehensive_risk_profiler.preference").invert, :as => :radio_buttons
            %li= f.input :portfolio_investment, :collection => t("comprehensive_risk_profiler.portfolio_investment").invert, :as => :radio_buttons
            .form-actions
              = f.submit 'Submit', :class => %w(btn btn-primary)

  .span3
