%p
  %b Your Risk Appetite is :
  = resource.score
  out of 10. 10 indicates maximum risk taking ability
  %ul
    = resource.summary
  %h1 Suggested Investment Mix
  = t ".suggestion"
  - if resource.score
    %table
      %tr
        %th Asset Class
        %th Percentage
      - FinancialPlanner.ideal_asset_allocation(resource).each do |asset_class,percentage|
        %tr
          %td= asset_class
          %td= "#{percentage}%"
    #asset-allocation-chart{ 'data-asset-allocation' => FinancialPlanner.ideal_asset_allocation(resource).to_a }
-unless current_user
  #sign_up
    =link_to "Signin",  '/signin'
= t ".future_investment"
