.row
  .span12
    -if resource.valid?
      %h1
        Your Risk Appetite is :
        %small
          = resource.score
          out of 10. (10 indicates maximum risk taking ability)
      = facebook_recommendation_tag
      %ul
        = resource.private_summary
      %h5.show-gird Suggested Investment Mix
      %p= t ".suggestion"
    - else
      %h1 Balanced Portfolio
      = facebook_recommendation_tag
      %p= t( ".default_suggestion", :quiz_link => (link_to 'short quiz', edit_comprehensive_risk_profiler_path)).html_safe

- if resource.score
  .row
    .span8.show-grid
      -gchart(:data => FinancialPlanner.ideal_asset_allocation(resource).to_a,
              :title => 'Suggested Asset Allocation',
              :chart_type => 'Pie' )

    .span4.show-grid
      %table.table.table-striped.table-bordered
        %tr
          %th Asset Class
          %th Percentage
        - FinancialPlanner.ideal_asset_allocation(resource).each do |asset_class,percentage|
          %tr
            %td= asset_class
            %td= "#{percentage}%"
      .pull-right
        = link_to image_tag('ebola-370.jpg'), main_app.page_path('win-an-ipad3')

.row
  .span12.show-grid
    .well
      %p= t ".future_investment"
      - if current_user
        =link_to 'Continue', comprehensive_risk_profiler_ideal_investments_path, :class => %w(btn btn-primary)
      - else
        %p= t ".sign_up"
        =link_to 'Signin & Continue', login_and_go_to(comprehensive_risk_profiler_ideal_investments_path), :class => %w(btn btn-primary)
