
= render :partial => 'layouts/facebook_recommend'
-if resource.valid?
  %p
    %b Your Risk Appetite is :
    %span
      = resource.score
      out of 10. (10 indicates maximum risk taking ability)
  %ul
    = resource.summary
  %h1 Suggested Investment Mix
  %p= t ".suggestion"
- else
  %h1 Balanced Portfolio
  %p= t( ".default_suggestion", :quiz_link => (link_to 'short quiz', edit_comprehensive_risk_profiler_path)).html_safe

- if resource.score
  %table
    %tr
      %th Asset Class
      %th Percentage
    - FinancialPlanner.ideal_asset_allocation(resource).each do |asset_class,percentage|
      %tr
        %td= asset_class
        %td= "#{percentage}%"
  #asset-allocation-chart.chart{ data: { elements: [['','']] + FinancialPlanner.ideal_asset_allocation(resource).to_a,
                                         title: 'Suggested Asset Allocation', chartType: 'Pie'} }
%p
  = t ".future_investment"
  -unless current_user
    = t ".sign_up"
#continue
  =link_to "#{'Signin & ' unless current_user}Continue", portfolios_path
