%p
  %b Your Risk Appetite is :
  = resource.score
  out of 10. (10 indicates maximum risk taking ability)
  %ul
    = resource.summary
%h1 Suggested Investment Mix
%p
  = t ".suggestion"
- if resource.score
  %table
    %tr
      %th Asset Class
      %th Percentage
    - FinancialPlanner.ideal_asset_allocation(resource).each do |asset_class,percentage|
      %tr
        %td= asset_class
        %td= "#{percentage}%"
  #asset-allocation-chart{ 'data-asset-allocation' => FinancialPlanner.ideal_asset_allocation(resource).to_a }
  %p
    = t ".future_investment"
    -unless current_user
      = t ".sign_up"
  #continue
    =link_to "#{'Signin & ' unless current_user}Continue", portfolios_path
