= render :partial => 'layouts/facebook_recommend'
.row
  .span12.show-grid
    -if resource.valid?
      %p
        %b Your Risk Appetite is :
        %span
          = resource.score
          out of 10. (10 indicates maximum risk taking ability)
      %ul
        = resource.summary
      %h1 Suggested Investment Mix
      %p= t ".suggestion"
    - else
      %h1 Balanced Portfolio
      %p= t( ".default_suggestion", :quiz_link => (link_to 'short quiz', edit_comprehensive_risk_profiler_path)).html_safe

- if resource.score
  .row
    .span8.show-grid
      #asset-allocation-chart.chart{ data: { elements: [['','']] + FinancialPlanner.ideal_asset_allocation(resource).to_a,
                                             title: 'Suggested Asset Allocation', chartType: 'Pie'} }
    .span4.show-grid
      %table.table.table-striped
        %tr
          %th Asset Class
          %th Percentage
        - FinancialPlanner.ideal_asset_allocation(resource).each do |asset_class,percentage|
          %tr
            %td= asset_class
            %td= "#{percentage}%"
.row
  .span12.show-grid
    .hero-unit
      %p= t ".future_investment"
      -unless current_user
        %p= t ".sign_up"
      =link_to "#{'Signin & ' unless current_user}Continue", portfolios_path, :class => %w(btn btn-primary)
