- unless fixed_deposit_transactions.empty?
  %table
    %tr
      %th Date
      %th Type
      %th Name
      %th Interest Rate
      %th Duration
      %th Amount
      %th Comments
    %tr
      %td
      %td
      %td
      %td.center (% p.a.)
      %td.center (years)
      %td.center (Rs)
      %td
    - fixed_deposit_transactions.each do |transaction|
      %tr
        %td.dates= l transaction.date
        %td.type{:class => transaction.action}= transaction.display_action
        %td.name= transaction.name
        %td.rate= transaction.rate_of_interest
        %td.duration= transaction.period
        %td.amount= number_to_indian_currency transaction.invested_amount.abs
        %td.comment= transaction.comments && transaction.comments.strip.empty?  ? t("tables_not_available") : transaction.comments
- else
  = t "transactions.no_fixed_deposit_transactions"
