- unless fixed_deposit_transactions.empty?
  %section{ :class => "FixedDepositTransactions" }
    %h3= "Fixed Deposit Transactions"
    %table.table.table-striped.table-bordered
      %tr
        %th.align-center.span2 Date
        %th.align-center.span1 Type
        %th.span3 Name
        %th.align-center.span1 Duration
        %th.align-center.span2 Interest Rate
        %th.align-center.span2 Amount
        %th.span1 Comments
      %tr
        %td
        %td
        %td
        %td.align-center (years)
        %td.align-center (% p.a.)
        %td.align-center (Rs)
        %td
      - fixed_deposit_transactions.each do |transaction|
        %tr
          %td.align-center= l transaction.date
          %td.align-center{:class => transaction.action}= transaction.display_action
          %td= transaction.name
          %td.align-right= transaction.period
          %td.align-right=   number_with_precision transaction.rate_of_interest
          %td.align-right= transaction.invested_amount.abs
          %td= transaction.comments && transaction.comments.strip.empty?  ? t("tables_not_available") : transaction.comments
