- unless fixed_deposit_transactions.empty?
  %table
    %tr
      %th Date
      %th Type
      %th Name
      %th Rate of Interest (% p.a.)
      %th Duration (years)
      %th Transaction Amount (Rs)
      %th Comments

    - fixed_deposit_transactions.each do |transaction|
      %tr
        %td= l transaction.date
        %td= transaction.action.to_s.titleize
        %td= transaction.name
        %td= transaction.rate_of_interest
        %td= transaction.period
        %td= number_to_indian_currency transaction.invested_amount.abs
        %td= transaction.comments || t("tables_not_available")
- else
  = t "transactions.no_fixed_deposit_transactions"
