= simple_nested_form_for([parent, resource], :url => create_redeem_portfolio_fixed_deposit_transaction_path) do |f|
  = f.error_notification
  %h1= resource.name

  .inputs
    = f.input :rate_of_redemption
    = f.input :date
    = f.input :comments
    = f.input :price, :as => :hidden
    = f.hidden_field :action, :value => :sell
    = f.input :portfolio_id, :as => :hidden
    = f.input :fixed_deposit_id, :as => :hidden

  .actions
    = f.submit 'Submit'
