.span6
  %h5= t(".#{type}")
  %table.table.table-striped.table-bordered{ :data => { :role => type } }
    %tr
      %th Name
      %th Amount (Rs)
    -resource.send(type).each do |investment|
      %tr
        - if type == 'fixed_deposits'
          %td= investment.name
        - else
          %td= link_to investment.name, mutual_fund_path(resource.scheme(investment.name))
        %td= investment.amount

