:css
  .ajax_spinner {
      display:    none;
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 )
                  url('/assets/loading.gif')
                  50% 50%
                  no-repeat;
  }

  body.loading {
      overflow: hidden;
  }

  body.loading .ajax_spinner {
      display: block;
  }​

.ajax_spinner

#mailModal.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 Share your financial plan via email
  .modal-body
    %h2#option-b Invite by email
    .option
      %p{:style => "margin-bottom:1em;"} Invite your contacts (Gmail, AOL, Yahoo, etc.)
    .alert.alert-error#error_msg{:style => 'display:none'}
    = form_tag import_contacts_path, :remote => true, :id => 'contacts_form' do
      .sector.control-group
        = label_tag "Contact", "Email", :class => 'control-label'
        .controls
          = email_field_tag("login", 'julayiaugust@gmail.com')
      .sector.control-group
        = label_tag "Contact", "Password", :class => 'control-label'
        .controls
          = password_field_tag("password", 'alluarjun')
      .actions
        = submit_tag 'Retrieve Contacts'

#myModal.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h4
      = image_tag 'Mail.png'
      Choose contacts
  .modal-body
    = form_tag send_mail_path, :remote => true, :id => 'mail_form' do
      %table.table#contacts_list
      .actions
        = submit_tag 'test'

  .modal-footer
    %a.btn.btn-primary{"data-dismiss" => "modal", :href => "#"}
      %span#count Invite 0 Friends
    %a.btn{:href => "#"} Cancel