.row
  .span12
    - if @comprehensive_risk_profiler.valid?
      %h1
        = @user.email
        Risk Appetite is :
        %small
          %span{ :data => { :role => 'risk_appetite' } }
            = @comprehensive_risk_profiler.score
          out of 10. (10 indicates maximum risk taking ability)

      %span{ :data => { :role => 'public_summary' } }
        %ul
          = @comprehensive_risk_profiler.public_summary
    - else
      %h1
        %span{ :data => { :role => 'balanced_portfolio' } } Balanced Portfolio
        %p= t( ".default_suggestion")

= render_cell :ideal_investments, :public, :ideal_investment_mix => @ideal_investment_mix

- unless current_user && current_user.id == @user.id
  = link_to t('.take_quiz'), edit_comprehensive_risk_profiler_path