.row
  .span12
    = facebook_recommendation('Ideal Investments')
    %h3
      Share
      = tracked_facebook_share_url_for('public_financial_profile')
      = social_network_link('twitter.png', '#twitterModal') do
        = render :partial => 'shared/twitter_share_modal', :locals => { :share_type => 'public_financial_profile' }
      = social_network_link('mail.png', '#mail_modal') do
        = render :partial => 'shared/mail_modal', :locals => { :step => PointTracker::ShareFinancialProfileViaMailStep }

    %p
      = t('.public.message', :profile_link => link_to(t('.public.profile_link'), public_financial_profile_path(current_user))).html_safe

    -if resource.decorated_comprehensive_risk_profiler.valid?
      %h1
        Your Risk Appetite is :
        %small
          = resource.decorated_comprehensive_risk_profiler.score
          out of 10. (10 indicates maximum risk taking ability)
      = facebook_recommendation_tag
      %ul
        = resource.decorated_comprehensive_risk_profiler.private_summary
      %h5.show-gird Suggested Investment Mix
      %p= t ".suggestion"
    - else
      %h1 Balanced Portfolio
      = facebook_recommendation_tag
      %p= t( ".default_suggestion", :quiz_link => (link_to 'short quiz', edit_comprehensive_risk_profiler_path)).html_safe

- if resource.decorated_comprehensive_risk_profiler.score
  .row
    .span8.show-grid
      = gchart(:data => FinancialPlanner.ideal_asset_allocation(resource.decorated_comprehensive_risk_profiler).to_a,
              :title => 'Suggested Asset Allocation',
              :chart_type => 'Pie' )

    .span4.show-grid
      %table.table.table-striped.table-bordered
        %tr
          %th Asset Class
          %th Percentage
        - FinancialPlanner.ideal_asset_allocation(resource.decorated_comprehensive_risk_profiler).each do |asset_class,percentage|
          %tr
            %td= asset_class
            %td= "#{percentage}%"
      .pull-right
        = link_to image_tag('ebola-370.jpg'), main_app.page_path('win-an-ipad3')

.row.show-grid
  .span12
    %p= t(".introduction")
    - if params[:initial_investment] && params[:initial_investment].to_f != resource.initial_investment
      = content_tag :div, t(".too_low_investment"), :id => 'result', :class => 'alert alert-notice'

    = form_tag comprehensive_risk_profiler_ideal_investments_path, :method => :get, :class => 'form-horizontal' do
      .input-append
        = label_tag :initial_investment, t('.initial_investment'), :class => 'control-label'
        .controls
          = text_field_tag :initial_investment, resource.initial_investment.to_s
          = submit_tag t('.submit'), :class => 'btn btn-primary'

    %p= t('.default_amount', :amount => [ resource.comprehensive_risk_profiler.initial_investment, IdealInvestmentMix::MINIMUM_INVESTMENT].max.to_s)

= render_cell :ideal_investments, :private, :ideal_investment_mix => resource

.span12
  .well
    %h5= t('.intro_to_trade')
    %h3
      Share
      = tracked_facebook_share_url_for('public_financial_profile')
      = social_network_link('twitter.png', '#twitterModal')
      = social_network_link('mail.png', '#mail_modal')
    = link_to 'Continue', page_path('trade'), :class => 'btn btn-primary'
