= resource.ideal_investment_investment_message
.row
  .span12
    = facebook_recommendation('Ideal Investments')
    %h3
      Share
      = tracked_facebook_share_url_for('public_financial_profile')
      = social_network_link('twitter.png', '#twitterModal') do
        = render :partial => 'shared/twitter_share_modal', :locals => { :share_type => 'public_financial_profile' }
      = social_network_link('mail.png', '#mail_modal') do
        = render :partial => 'shared/mail_modal', :locals => { :step => PointTracker::ShareFinancialProfileViaMailStep }

    %p
      = t('.public.message', :profile_link => link_to(t('.public.profile_link'), public_ideal_investment_path(current_user))).html_safe

    -if resource.comprehensive_risk_profiler_valid?
      %h1
        Your Risk Appetite is :
        %small
          = resource.comprehensive_risk_profiler_score
          out of 10. (10 indicates maximum risk taking ability)
      = facebook_recommendation_tag
      %ul
        = resource.comprehensive_risk_profiler_private_summary
      %h5.show-gird Suggested Investment Mix
      %p= t "ideal_investments.risk_summary.suggestion"
    - else
      %h1 Balanced Portfolio
      = facebook_recommendation_tag
      %p= t(".default_suggestion", :quiz_link => (link_to 'short quiz', edit_comprehensive_risk_profiler_path)).html_safe

.row
  .span12
    %p= t(".introduction")

    = form_tag comprehensive_risk_profiler_ideal_investments_path, :method => :get, :class => 'form-horizontal' do
      .input-append
        = label_tag :initial_investment, t('.initial_investment'), :class => 'control-label'
        .controls
          = text_field_tag :initial_investment, resource.ideal_investment_investment_amount.to_s
          = submit_tag t('.submit'), :class => 'btn btn-primary'

    %p= t('.default_amount', :amount => resource.ideal_investment_investment_amount.to_s)

.row
  .span6
    = gchart(:data => resource.financial_planner_ideal_asset_allocation.to_a, :title => 'Suggested Asset Allocation', :chart_type => 'Pie')
    %h3 Ideal Portfolio Mix
    %table.table.table-striped.table-bordered
      %tr
        %th Asset Class
        %th Percentage
      - resource.financial_planner_ideal_asset_allocation.each do |asset_class, percentage|
        %tr
          %td= asset_class
          %td= "#{percentage}%"
    = resource.ideal_investment_draw_top_elss_table

  .span6
    = resource.ideal_investment_draw_asset_chart
    = resource.ideal_investment_draw_asset_tables

.row
  .span12
    .well
      %h3
        Share
        = tracked_facebook_share_url_for('public_financial_profile')
        = social_network_link('twitter.png', '#twitterModal')
        = social_network_link('mail.png', '#mail_modal')

      %h5= t('.intro_to_trade')
      = link_to 'Continue', page_path('trade'), :class => 'btn btn-primary'