:css
  .freshbutton-lightblue {
  color: #1E75BD;
  border-top: 1px #93CEF8 solid;
  border-right: 1px #79BCEA solid;
  border-bottom: 1px #79BCEA solid;
  border-left: 1px #79BCEA solid;
  background: #E4F3FF;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4fafe", endColorstr="#e4f3ff");
  -moz-box-shadow: 0 1px 1px #d3d3d3,inset 0px 1px 0px #fff;
  -webkit-box-shadow: 0 1px 1px lightGrey,inset 0px 1px 0px white;
  box-shadow: 0 1px 1px lightGrey,inset 0px 1px 0px white;
  }

  .freshbutton, .freshbutton-red, .freshbutton-blue, .freshbutton-big, .freshbutton-lightblue, .freshbutton-gray, .freshbutton-green {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 5px 16px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  overflow: visible;
  }

  .freshbutton img.sprite, .freshbutton-red img.sprite, .freshbutton-blue img.sprite, .freshbutton-big img.sprite, .freshbutton-lightblue img.sprite, .freshbutton-gray img.sprite, .freshbutton-green img.sprite {
  margin-bottom: -3px;
  margin-right: 3px;
  }

  .s_web_twitter {
  background-position: left -8923px;
  }

  .sprite_web {
  width: 16px;
  height: 16px;
  background-image: url(/assets/web_sprites.png);
  background-repeat: no-repeat;
  }

  img {
      border: 0 none;
      max-width: 100%;
      vertical-align: middle;
  }

  .freshbutton, .freshbutton-red, .freshbutton-blue, .freshbutton-big, .freshbutton-lightblue, .freshbutton-gray, .freshbutton-green {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  }

#twitterModal.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 Modal header
  .modal-body
    = form_tag "http://127.0.0.1:3001/twitter_post?redirect_uri=#{current_page_url}", :id => 'twitter_post_form' do
      .sector.control-group
        = label_tag "Twitter", "Shared link on Twitter", :class => 'control-label'
        .controls
          = text_area(:twitter, :message, :cols => 20, :rows => 5, :value => twitter_share_description)
      .actions
        %span#twittershare.freshbutton-lightblue{:style => "margin-right: 0px;"}
          %img.sprite.sprite_web.s_web_twitter{:alt => "", :src => "/assets/icon_spacer.gif"}
            Tweet on Twitter

      .modal-footer
        %a.btn{"data-dismiss" => "modal", :href => "#"} Close
        %a.btn.btn-primary{:href => "#"} Save changes
=#"http://127.0.0.1:3001/twitter_post?redirect_uri=#{current_page_url}"
.row.show-grid
  .span12
    = facebook_recommendation('Ideal Investments')
    Share
    = link_to facebook_share_url_with_link(public_financial_profile_path(current_user)) do
      = image_tag 'facebook.png'
    %a{'data-toggle' => 'modal', :href => '#twitterModal'}
      %img{:alt => "Twitter", :src => "/assets/twitter.png"}
    = link_to facebook_share_url_with_link(public_financial_profile_path(current_user)) do
      = image_tag 'mail.png'

    %p= t(".introduction")
    - if params[:initial_investment] && params[:initial_investment].to_f != resource.initial_investment
      = content_tag :div, t(".too_low_investment"), :id => 'result', :class => 'alert alert-notice'
    .ga-track-event{:data => {:category => 'share', :action => 'facebook'}}
      = link_to t('.facebook.post_wall'), facebook_share_url_with_link(public_financial_profile_path(current_user)), :class => 'btn btn-primary'
    %p
      = t('.public.message', :profile_link => link_to(t('.public.profile_link'), public_financial_profile_path(current_user))).html_safe
    = form_tag comprehensive_risk_profiler_ideal_investments_path, :method => :get, :class => 'form-horizontal' do
      .input-append
        = label_tag :initial_investment, t('.initial_investment'), :class => 'control-label'
        .controls
          = text_field_tag :initial_investment, resource.initial_investment.to_s
          = submit_tag t('.submit'), :class => 'btn btn-primary'

    %p= t('.default_amount', :amount => [ resource.comprehensive_risk_profiler.initial_investment, IdealInvestmentMix::MINIMUM_INVESTMENT].max.to_s)

= render_cell :ideal_investments, :private, :ideal_investment_mix => resource

.row
  .span12
    %p= t('.intro_to_trade')
    %h6
      = link_to 'Continue', page_path('trade'), :class => 'btn btn-primary'
      Share
      = link_to facebook_share_url_with_link(public_financial_profile_path(current_user)) do
        = image_tag 'facebook.png'
      = link_to facebook_share_url_with_link(public_financial_profile_path(current_user)) do
        = image_tag 'twitter.png'
      = link_to facebook_share_url_with_link(public_financial_profile_path(current_user)) do
        = image_tag 'mail.png'

:javascript
  $(document).ready(function() {
    $("#twittershare").click(function(){
      $('#twitter_post_form').submit();
    });
  });
