.row.show-grid
  .span12
    = facebook_recommendation('Ideal Investments')
    %h3
      Share
      = tracked_facebook_share_url_for('public_financial_profile')
      = social_network_link('twitter.png', '#twitterModal') do
        = render :partial => 'shared/twitter_share_modal', :locals => { :share_type => 'public_financial_profile' }
      = social_network_link('mail.png', '#mail_modal') do
        = render :partial => 'shared/mail_modal', :locals => { :step => PointTracker::ShareFinancialProfileViaMailStep }

    %p= t(".introduction")
    - if params[:initial_investment] && params[:initial_investment].to_f != resource.initial_investment
      = content_tag :div, t(".too_low_investment"), :id => 'result', :class => 'alert alert-notice'
    %p
      = t('.public.message', :profile_link => link_to(t('.public.profile_link'), public_financial_profile_path(current_user))).html_safe
    = form_tag comprehensive_risk_profiler_ideal_investments_path, :method => :get, :class => 'form-horizontal' do
      .input-append
        = label_tag :initial_investment, t('.initial_investment'), :class => 'control-label'
        .controls
          = text_field_tag :initial_investment, resource.initial_investment.to_s
          = submit_tag t('.submit'), :class => 'btn btn-primary'

    %p= t('.default_amount', :amount => [ resource.comprehensive_risk_profiler.initial_investment, IdealInvestmentMix::MINIMUM_INVESTMENT].max.to_s)

= render_cell :ideal_investments, :private, :ideal_investment_mix => resource

.span12
  .well
    %h5= t('.intro_to_trade')
    %h3
      Share
      = tracked_facebook_share_url_for('public_financial_profile')
      = social_network_link('twitter.png', '#twitterModal')
      = social_network_link('mail.png', '#mail_modal')
    = link_to 'Continue', page_path('trade'), :class => 'btn btn-primary'
