.row
  .span12
    = facebook_recommendation('Ideal Investments')
    %h3
      Share
      = tracked_facebook_share_url_for('public_financial_profile')
      = social_network_link('twitter.png', '#twitterModal') do
        = render :partial => 'twitter_share_modal'
      = social_network_link('mail.png', '#mail_modal') do
        = render :partial => 'mail_modal'
    %p
      = t('.public.message', :profile_link => link_to(t('.public.profile_link'), public_financial_profile_path(current_user))).html_safe

    = render :partial => 'risk_summary', :locals => { :ideal_investment_mix => resource }

.row
  .span12
    %p= t(".introduction")
    - if params[:initial_investment] && params[:initial_investment].to_f != resource.initial_investment
      = content_tag :div, t(".too_low_investment"), :id => 'result', :class => 'alert alert-notice'

    = form_tag comprehensive_risk_profiler_ideal_investments_path, :method => :get, :class => 'form-horizontal' do
      .input-append
        = label_tag :initial_investment, t('.initial_investment'), :class => 'control-label'
        .controls
          = text_field_tag :initial_investment, resource.initial_investment.to_s
          = submit_tag t('.submit'), :class => 'btn btn-primary'

    %p= t('.default_amount', :amount => [ resource.comprehensive_risk_profiler_initial_investment, IdealInvestmentMix::MINIMUM_INVESTMENT].max.to_s)


- if resource.comprehensive_risk_profiler_score
  .row
    .span6
      = render :partial => 'asset_allocation_data', :locals => { :ideal_investment_mix => resource }
      = render :partial => 'top_elss_funds', :locals => { :ideal_investment_mix => resource }
    .span6
      = gchart( :data => resource.security_mix, title: 'Ideal Investments', chart_type: 'Pie' )
      - %w(fixed_deposits gold_investments large_caps mid_caps).each do |type|
        - unless resource.send(type).empty?
          = render 'investments', :type => type, :value => 'amount', :ideal_investment_mix => resource

.row
  .span12
    .well
      %h3
        Share
        = tracked_facebook_share_url_for('public_financial_profile')
        = social_network_link('twitter.png', '#twitterModal')
        = social_network_link('mail.png', '#mail_modal')

      %h5= t('.intro_to_trade')
      = link_to 'Continue', page_path('trade'), :class => 'btn btn-primary'