%h1 Ideal Investments
%p= t(".introduction")
- if params[:initial_investment] && params[:initial_investment].to_f != resource.initial_investment
  = content_tag :div, t(".too_low_investment"), :id => 'result'

= form_tag comprehensive_risk_profiler_ideal_investments_path, :method => :get do
  = label_tag :initial_investment, t('.initial_investment')
  = text_field_tag :initial_investment, resource.initial_investment.to_s
  = submit_tag t('.submit')

%p= t('.default_amount', :amount => [ resource.comprehensive_risk_profiler.initial_investment, IdealInvestmentMix::MINIMUM_INVESTMENT].max.to_s)

-gchart( :data => resource.security_mix, :header =>  ['Name','Amount'], title: 'Ideal Investments', chartType: 'Pie' )

-%w(fixed_deposits gold_investments large_caps mid_caps).each do |type|
  - unless resource.send(type).empty?
    %div{ :id => type, :class => cycle('left_div', 'right_div') }
      %h1= t(".#{type}")
      %table
        %tr
          %th Name
          %th Amount (Rs)
        -resource.send(type).each do |investment|
          %tr
            - unless type == 'fixed_deposits'
              %td= link_to investment.name, mutual_fund_path(resource.scheme(investment.name))
            - else
              %td= investment.name
            %td= investment.amount
- reset_cycle

%p Also see the ELSS funds
%h1 Top ELSS funds
%table{:id => 'top_elss_funds'}
  %tr
    %th Name
    %th 3 Yr Return (%)
    - resource.top_elss_funds.limit(5).each do |fund|
      %tr
        %td= fund.name
        %td= number_with_precision fund.prev3_year_comp_percent

%p= t('.intro_to_trade')
= link_to 'Continue', page_path('trade')
