= render 'stocks/search_form'
- provide :title, @company.name if @company

- if @company
  %h1= "Ratios - #{@company.name}"

- if @company && @ratios.first && @ratios.first.model
  %table
    %tr
      %th Ratio
      - @ratios.each do|ratio|
        %th= ratio.year_ending
    - if @company.major_sector == 2
      - row_for('ratios','capital_adequacy_ratio', @ratios)
    - @ratios.first.view_items.each do |group, items|
      %tr
        %th.group{:colspan => 6}= group
      - items.each do |item|
        - row_for('ratios',item, @ratios)
- else
  %p No Data Available
- if @company
  #disqus_thread{data: {disqus_identifier: "stocks_#{@company.code}"}}
