- if @company
  %h1= "Ratios - #{@company.company_name}"

= render 'stocks/search_form'
- if @company && @ratio.model
  %table
    - if @company.major_sector == 2
      %tr
        %td= t "ratios.capital_adequacy_ratio"
        %td= @ratio.send(:capital_adequacy_ratio)
    - @ratio.view_items.each do |group, items|
      %tr
        %th.group{:colspan => 2}= group
      - items.each do |item|
        %tr
          %td= t "ratios.#{item}"
          %td= @ratio.send(item.to_sym)
- else
  %p No Data Available
