= simple_form_for(resource), :html => {:class => 'form-horizontal'} do |f|
  = f.error_notification

  .inputs
    = f.input :name

  .actions
    = f.button :submit

  #back
    = button_to 'Back', portfolios_path
