- unless loan_positions.empty?
  %table
    %tr
      %th Date
      %th Name
      %th Rate of Interest (% p.a.)
      %th Duration (years)
      %th{:colspan => 2} Outstanding Amount (Rs)
    - loan_positions.each do |net_position|
      %tr
        %td= l net_position.date
        %td= net_position.name
        %td= net_position.rate_of_interest
        %td= net_position.period
        %td= number_to_indian_currency net_position.outstanding_amount.abs
        %td= button_to 'Clear Loan', clear_portfolio_loan_transaction_path(net_position.first.portfolio_id, net_position.first), :method => :post
- else
  = t ".no_loan_positions"
