- unless loan_positions.empty?
  %section{ :class => "Loan" }
    %h3 Loans
    %table.table.table-striped.table-bordered
      %tr
        %th.span4 Name
        %th.span2.align-center.span2 Borrow Date
        %th.span2.align-center Interest
        %th.span3.align-center Duration
        %th.span3.align-center Outstanding Amount
        %th.span2.align-center Clear Loan
      %tr
        %td
        %td
        %td.align-center (%p.a.)
        %td.align-center (years)
        %td.align-center (Rs)
        %td
      - loan_positions.each do |net_position|
        %tr
          %td= net_position.name
          %td.align-center= l net_position.date
          %td.align-right= net_position.rate_of_interest
          %td.align-right= net_position.period
          %td.align-right= net_position.outstanding_amount.abs
          %td.align-center= link_to 'Clear Loan', clear_portfolio_loan_transaction_path(net_position.first.portfolio_id, net_position.first), :method => :post
      %tr.total
        %td Total
        %td
        %td
        %td
        %td.align-right= loan_positions.sum(&:outstanding_amount).abs
        %td
