- net_positions.group_by { |net_position| net_position.security.type }.each do |type, positions|
  %section{:class => type}
    %h1=t ".#{type}"
    %table
      %tr
        %th Name
        %th Quantity
        %th Average Cost Price
        %th Market Price
        %th Amount Invested
        %th Market value
        %th Profit
        %th

      - positions.each do |net_position|
        %tr
          %td= link_to net_position.security.name, portfolio_net_position_path(resource, net_position)
          %td= net_position.quantity
          %td= net_position.average_cost
          %td= net_position.security.current_price
          %td= net_position.total_cost
          %td= net_position.current_value
          %td= net_position.unrealised_profit
          %td.actions
            = button_to 'Add Transaction', new_portfolio_net_position_transaction_path(resource, net_position), :method => :get
            = button_to 'Change Security', edit_portfolio_net_position_path(resource, net_position), :method => :get
            = button_to 'Destroy', portfolio_net_position_path(resource, net_position), :confirm => 'Are you sure?', :method => :delete, :class => :negetive

.actions
  - %w(Stock FixedIncome Loan RealEstate Gold MutualFund).each do |security_type|
    = link_to "Add New #{security_type.titleize}", new_portfolio_net_position_path(resource, 'net_position[security_attributes][type]' => security_type), :class => :button
