%table.table.table-striped.table-bordered
  %tr
    %th.span4 Security
    %th.span2 Security Type
    %th.span1.align-center Quantity
    %th.span2.align-center Avg Cost Price
    %th.span2.align-center Avg Sell Price
    - profit_or_loss = net_income.sum(&:profit_or_loss) > 0 ? "profit" : "loss"
    %th.span2.align-center{ :class => profit_or_loss}= profit_or_loss.titleize
    %th.span2.align-center= "#{profit_or_loss.titleize} Percentage"
  %tr
    %td
    %td
    %td
    %td.align-center{:colspan => '3'} (Rs)
    %td.align-center (%)
  - net_income.each do |security|
    %tr
      %td= security.name
      %td= security.type
      %td.align-right= security.quantity ? security.quantity : ""
      %td.align-right= security.average_cost_price ? security.average_cost_price : ""
      %td.align-right= security.average_sell_price ? security.average_sell_price : ""
      %td.align-right= rg_colorize security.profit_or_loss
      %td.align-right= rg_colorize number_with_precision(security.percentage), security.percentage
  %tr
    %td Total
    %td
    %td
    %td
    %td
    %td.align-right= rg_colorize net_income.sum(&:profit_or_loss)
    %td
