%table.table.table-striped
  %tr
    %th.name Security
    %th.type Security Type
    %th.quantity Quantity
    %th.avg_price Avg Cost Price
    %th.avg_price Avg Sell Price
    - profit_or_loss = net_income.sum(&:profit_or_loss) > 0 ? "profit" : "loss"
    %th{ :class => profit_or_loss}= profit_or_loss.titleize
    %th.percentage= "#{profit_or_loss.titleize} Percentage"
  %tr
    %td
    %td
    %td
    %td.right_align (Rs)
    %td.right_align (Rs)
    %td.right_align (Rs)
    %td.right_align (%)
  - net_income.each do |security|
    %tr
      %td.name= security.name
      %td.center_align= security.type
      %td.right_align= security.quantity ? security.quantity : ""
      %td.right_align= security.average_cost_price ? number_to_indian_currency(security.average_cost_price) : ""
      %td.right_align= security.average_sell_price ? number_to_indian_currency(security.average_sell_price) : ""
      = table_content_with_red_or_green_class security.profit_or_loss
      = table_content_with_red_or_green_class security.percentage
  %tr.total
    %td Total
    %td
    %td
    %td
    %td
    %td.right_align= number_to_indian_currency net_income.sum(&:profit_or_loss).round(2)
    %td
