- unless real_estate_positions.empty?
  %section{ :class => "RealEstate" }
    %h1= "Real Estate"
    %table
      %tr
        %th.name Name
        %th Buy Value
        %th Mkt Value
        %th Unrealised Profit
        %th
      %tr
        %td.name
        %td (Rs)
        %td (Rs)
        %td (Rs)
        %td
      - real_estate_positions.each do |net_position|
        %tr
          %td.name= net_position.name
          %td= number_to_indian_currency net_position.buy_value
          %td= number_to_indian_currency net_position.current_value
          - if net_position.unrealised_profit < 0
            %td.red= number_to_indian_currency net_position.unrealised_profit
          - else
            %td.green= number_to_indian_currency net_position.unrealised_profit
          %td= button_to 'Sell', sell_portfolio_real_estate_transaction_path(net_position.first.portfolio_id, net_position.first), :method => :get
      %tr.total
        %td.name Total
        %td= number_to_indian_currency real_estate_positions.sum(&:buy_value)
        %td= number_to_indian_currency real_estate_positions.sum(&:current_value)
        %td= number_to_indian_currency real_estate_positions.sum(&:unrealised_profit)
        %td
