- unless real_estate_positions.empty?
  %table
    %tr
      %th Date
      %th Name
      %th Buy Value
      %th Current Value
      %th{:colspan => 2} Profit
    - real_estate_positions.each do |net_position|
      %tr
        %td= l net_position.first.date
        %td= net_position.name
        %td= number_to_indian_currency net_position.buy_value
        %td= number_to_indian_currency net_position.current_value
        %td= number_to_indian_currency net_position.unrealised_profit
        %td= button_to 'Sell', sell_portfolio_real_estate_transaction_path(net_position.first.portfolio_id, net_position.first), :method => :get
- else
  = t ".no_real_estate_positions"
