= link_to "#share-#{portfolio.id}", :class => %w(btn btn-success), :data => {:toggle => :modal} do
  %i.icon-globe.icon-white
  Share
.modal.fade.hide{:id => "share-#{portfolio.id}"}
  .modal-header
    %button.close{:type => :button, :data => {:dismiss => :modal}} x
    %h1 Share #{portfolio.name}
  .modal-body
    %p
      Your Portfolio
      %strong= portfolio.name
      shall be made public. Every one will be able to see the portfolio at
      = link_to portfolio_url(portfolio), portfolio_path(portfolio)     # TODO: link to portfolio public path
    %p Your actual amount holding shall not be shared. Only the corresponding percentages shall be visible to a viewer.
  .modal-footer
    = link_to 'Cancel', '#', :class => %w(btn btn-danger), :data => {:dismiss => :modal}
    = link_to 'Share', portfolio_path(portfolio), :class => %w(btn btn-success)   # TODO: Make the link post to share portfolio page

