#accumulated_profits_or_losses
  %h1 Your Accumulated Profits or Losses
  - unless resource.top_five_profits.empty?
    #accumulated_profits
      #accumulated-profits-chart{ 'data-accumulated-profits' => resource.top_five_profits.map(&:percentage) + resource.top_five_losses.map(&:percentage),
                                    'data-categories' => resource.top_five_profits.map(&:name) + resource.top_five_losses.map(&:name) }
      %h1 Profits
      %table
        %tr
          %th Security
          %th Profit (Rs)
          %th Profit Percentage (%)
        - resource.profits.each do |security|
          %tr
            %td= security.name
            %td= security.profit_or_loss
            %td= security.percentage
        %tr.total
          %td Total
          %td= resource.profits.map(&:profit_or_loss).sum
          %td 100

  - unless resource.top_five_losses.empty?
    #accumulated_losses
      %h1 Losses
      %table
        %tr
          %th Security
          %th Loss (Rs)
          %th Loss Percentage (%)
        - resource.losses.each do |security|
          %tr
            %td= security.name
            %td= security.profit_or_loss
            %td= security.percentage
        %tr.total
          %td Total
          %td= resource.losses.map(&:profit_or_loss).sum
          %td 100
  - if resource.top_five_losses.empty? && resource.top_five_profits.empty?
    = t ".no_profit_or_loss"
