= render 'current_portfolio'

#accumulated_profits_or_losses
  %h1 Your Realized Profits and Losses
  - if resource.top_five_losses.empty? && resource.top_five_profits.empty?
    #no_portfolios
      %p
        = t ".no_profit_or_loss"
  - else
    #accumulated-profits-chart.chart{ data: { elements: [['','']] + (resource.top_five_profits + resource.top_five_losses).map{ |r| [ r.name, r.percentage ] },
                                              chartType: 'Column', yAxisTitle: 'Percentage (%)', title: 'Your Top Realised Profit/Losses by Percentage' } }
    %h2 Realized Profits
    - unless resource.top_five_profits.empty?
      #accumulated_profits
        = render 'profit_or_loss', :net_income => resource.profits
    - else
      %p
        = t(".no_profit")

    %h2 Realized Losses
    - unless resource.top_five_losses.empty?
      #accumulated_losses
        = render 'profit_or_loss', :net_income => resource.losses
    - else
      %p
        = t(".no_loss")
    - unless resource.positions.empty?
      %h2 Net Profit/Loss
      %table.table.table-striped
        %tr
          %td.name.total Net Profit/Loss
          = table_content_with_red_or_green_class resource.net_profit_or_loss

