= render 'subnav'

#accumulated_profits_or_losses
  %h1 Your Realized Profits and Losses
  - if resource.top_five_losses.empty? && resource.top_five_profits.empty?
    .hero-unit.show-grid
      %p.align-center
        = t ".no_profit_or_loss"
  - else
    #accumulated-profits-chart.chart{ data: { elements: [['','']] + (resource.top_five_profits + resource.top_five_losses).map{ |r| [ r.name, r.percentage ] },
                                              chartType: 'Column', yAxisTitle: 'Percentage (%)', title: 'Your Top Realised Profit/Losses by Percentage' } }
    %h1 Realized Profits
    - unless resource.top_five_profits.empty?
      #accumulated_profits
        = render 'profit_or_loss', :net_income => resource.profits
    - else
      %p
        = t(".no_profit")

    %h1 Realized Losses
    - unless resource.top_five_losses.empty?
      #accumulated_losses
        = render 'profit_or_loss', :net_income => resource.losses
    - else
      %p
        = t(".no_loss")
    - unless resource.positions.empty?
      %h1 Net Profit/Loss
      %table.table.table-striped{ :data => {:role => 'net_profit_loss'}}
        %tr
          %td.name.total= t('.net_profit_loss')
          %td= rg_colorize resource.net_profit_or_loss
