#accumulated_profits_or_losses
  %h1 Your Accumulated Profits or Losses
  - unless resource.top_five_profits.empty?
    #accumulated_profits
      #accumulated-profits-chart{ 'data-accumulated-profits' => resource.top_five_profits.map(&:last),
                                    'data-categories' => resource.top_five_profits.map(&:first) }
      %table
        %tr
          %th Security
          %th Profit
        - resource.profits.each do |security|
          %tr
            %td= security.first
            %td= security.last

  - unless resource.top_five_losses.empty?
    #accumulated_losses
      #accumulated-losses-chart{ 'data-accumulated-losses' => resource.top_five_losses.map(&:last),
                                    'data-categories' => resource.top_five_losses.map(&:first) }

      %table
        %tr
          %th Security
          %th Losses
        - resource.losses.each do |security|
          %tr
            %td= security.first
            %td= security.last
  - if resource.top_five_losses.empty? || resource.top_five_profits.empty?
    = t ".no_profit_or_loss"
