#stocks_analysis
  %h1 Stocks
  - unless resource.sector_wise_stock_percentage.empty?
    #stock-sectoral-allocation-chart{ 'data-stocks-sectoral-asset-allocation' => resource.sector_wise_stock_percentage }
    - unless resource.stocks_positions_profit_or_loss.empty?
      #stocks-profit-or-loss-chart{ 'data-stocks-profit-or-loss' => resource.stocks_positions_profit_or_loss.map(&:last),
                                    'data-categories' => resource.stocks_positions_profit_or_loss.map(&:first) }
    -else
      %p= t ".no_sell_stock_transaction"
  -else
    %p= t ".no_stock_transaction"

#mutual_funds_analysis
  %h1 Mutual Funds
  - unless resource.category_wise_mutual_funds_percentage.empty?
    #mutual-fund-category-wise-allocation-chart{ 'data-mutual-fund-category-wise-asset-allocation' => resource.category_wise_mutual_funds_percentage }
    - unless resource.mutual_fund_positions_profit_or_loss.empty?
      #mutual-fund-profit-or-loss-chart{ 'data-mutual-fund-profit-or-loss' => resource.mutual_fund_positions_profit_or_loss.map(&:last),
                                       'data-categories' => resource.mutual_fund_positions_profit_or_loss.map(&:first) }
    -else
      %p= t ".no_sell_mutual_fund_transaction"
  -else
    %p= t ".no_mutual_fund_transaction"

#fixed_deposits_analysis
  %h1 Fixed Deposits
  - unless resource.fixed_deposit_open_positions_rate_of_interests.empty?
    #fixed-deposits-chart{ 'data-fixed-deposits' => resource.fixed_deposit_open_positions_rate_of_interests.map(&:last),
                                  'data-categories' => resource.fixed_deposit_open_positions_rate_of_interests.map(&:first) }
  -else
    %p= t ".no_fixed_deposit_transaction"
