- [ 'stock_positions', 'mutual_fund_positions' ].each do |positions|
  %section{ :class => positions }
    %h1= positions.gsub(/_positions/,'').titleize
    - unless resource.send(positions).empty?
      %div{ :id => "#{positions}"}
        %table
          %tr
            %th Name
            %th Quantity
            %th Average Cost Price (Rs)
            %th Amount Invested (Rs)
            %th Market Price (Rs)
            %th Market Value (Rs)
            %th Unrealised Profit (Rs)
          - resource.send(positions).each do |net_position|
            %tr
              %td= net_position.name
              %td= number_to_indian_currency net_position.quantity
              %td= number_to_indian_currency net_position.average_cost_price
              %td= number_to_indian_currency net_position.value
              - if net_position.current_price
                %td= number_to_indian_currency net_position.current_price
              - else
                %td -
              - if net_position.current_price
                %td= number_to_indian_currency net_position.current_value
              - else
                %td -
              - if net_position.unrealised_profit
                %td= number_to_indian_currency net_position.unrealised_profit
              - else
                %td -
          %tr.total
            %td Total
            %td
            %td
            %td= number_to_indian_currency resource.send(positions).sum(&:value)
            %td
            %td= number_to_indian_currency resource.send(positions).sum(&:current_value)
            %td= number_to_indian_currency resource.send(positions).map(&:unrealised_profit).compact.inject(:+)
    - else
      = t ".no_#{positions}"

%section{ :class => "Gold" }
  %h1 Gold
  - unless resource.gold_transactions.empty?
    #gold_positions
      %table
        %tr
          %th Name
          %th Quantity (grams)
          %th Average Cost Price (Rs)
          %th Amount Invested (Rs)
          %th Market Price (Rs)
          %th Market Value (Rs)
          %th Unrealised Profit (Rs)

        %tr
          %td Gold
          %td= number_to_indian_currency resource.gold_transactions.for(Gold).quantity
          %td= number_to_indian_currency resource.gold_transactions.for(Gold).average_cost_price
          %td= number_to_indian_currency resource.gold_transactions.for(Gold).value
          %td= number_to_indian_currency resource.gold_transactions.for(Gold).current_price
          %td= number_to_indian_currency resource.gold_transactions.for(Gold).current_value
          %td= number_to_indian_currency resource.gold_transactions.for(Gold).unrealised_profit
  - else
    = t ".no_gold_positions"

- %w(Loan FixedDeposit RealEstate).each do |security|
  %section{ :class => security }
    %h1= "#{security.titleize}"
    = render "#{security.underscore}_positions", "#{security.underscore}_positions".to_sym => resource.send("#{security.underscore}_positions")
