- [ 'stock_positions', 'mutual_fund_positions' ].each do |positions|
  %h1= positions.gsub(/_positions/,'').titleize
  - unless resource.send(positions).empty?
    %div{ :id => "#{positions}"}
      %table
        %tr
          %th Name
          %th Quantity
          %th Average Cost Price
          %th Market Price
          %th Amount Invested
          %th Market Value
          %th Profit
        - resource.send(positions).each do |net_position|
          %tr
            %td= link_to net_position.name
            %td=  number_to_indian_currency net_position.quantity
            %td= number_to_indian_currency net_position.average_cost_price
            %td= number_to_indian_currency net_position.current_price
            %td= number_to_indian_currency net_position.total_cost
            %td= number_to_indian_currency net_position.current_value
            %td= number_to_indian_currency net_position.unrealised_profit
  - else
    = t ".no_#{positions}"

%h1 Gold Positions
- unless resource.gold_transactions.empty?
  #gold_positions
    %table
      %tr
        %th Name
        %th Quantity
        %th Average Cost Price
        %th Market Price
        %th Amount Invested
        %th Market Value
        %th Profit

      %tr
        %td= link_to resource.gold_transactions.name
        %td=  number_to_indian_currency resource.gold_transactions.quantity
        %td= number_to_indian_currency resource.gold_transactions.average_cost_price
        %td= number_to_indian_currency resource.gold_transactions.current_price
        %td= number_to_indian_currency resource.gold_transactions.total_cost
        %td= number_to_indian_currency resource.gold_transactions.current_value
        %td= number_to_indian_currency resource.gold_transactions.unrealised_profit
- else
  = t ".no_gold_positions"

- %w(Loan FixedDeposit RealEstate).each do |security|
  %section{ :class => security }
    %h1= "#{security.titleize}"
    = render "#{security.underscore}_positions", "#{security.underscore}_positions".to_sym => resource.send("#{security.underscore}_positions")
#add_links
  = link_to 'Add Stock', new_portfolio_stock_transaction_path(resource)
  = link_to 'Add Mutual Fund', new_portfolio_mutual_fund_transaction_path(resource)
  = link_to 'Add Gold', new_portfolio_gold_transaction_path(resource)
  = link_to 'Add Fixed Deposit', new_portfolio_fixed_deposit_transaction_path(resource)
  = link_to 'Add Real Estate', new_portfolio_real_estate_transaction_path(resource)
  = link_to 'Add Loan', new_portfolio_loan_transaction_path(resource)
