- [ 'stock_positions', 'mutual_fund_positions' ].each do |positions|
  - if resource.send(positions)
    %div{ :id => "#{positions}" }
      %table
        %tr
          %th Name
          %th Quantity
          %th Average Cost Price
          %th Market Price
          %th Amount Invested
          %th Market Value
          %th Profit

        - resource.send(positions).each do |net_position|
          %tr
            %td= link_to net_position.name
            %td=  number_to_indian_currency net_position.quantity
            %td= number_to_indian_currency net_position.average_cost_price
            %td= number_to_indian_currency net_position.current_price
            %td= number_to_indian_currency net_position.total_cost
            %td= number_to_indian_currency net_position.current_value
            %td= number_to_indian_currency net_position.unrealised_profit

