= render 'subnav'

- [ 'stock_positions', 'mutual_fund_positions' ].each do |positions|
  - unless resource.send(positions).empty?
    %section{ :class => positions }
      %h1= positions.gsub(/_positions/,'').titleize.pluralize
      %div{ :id => "#{positions}"}
        %table.table.table-striped.table-bordered
          %tr
            %th Name
            %th Quantity
            %th Avg Cost Price
            %th Amt Invested
            %th Current Price
            %th Current Value
            %th Unrealised Profit
            %th Profit/Loss Percentage
            %th Sell
          %tr
            %td.name
            %td
            %td (Rs)
            %td (Rs)
            %td (Rs)
            %td (Rs)
            %td (Rs)
            %td (%)
            %td

          - resource.send(positions).each do |net_position|
            %tr
              %td= link_to net_position.name, ( positions == "mutual_fund_positions" ? mutual_fund_path(net_position.mutual_fund.scheme_master) : stock_path(net_position.company) )
              %td= net_position.quantity
              %td= net_position.average_cost_price
              %td= net_position.value
              %td= net_position.current_price
              - unless net_position.current_price == "-"
                %td= net_position.current_value
              - else
                %td -
              %td= net_position.unrealised_profit
              %td= rg_colorize net_position.unrealised_profit_percentage
              -transaction = positions.gsub(/_positions/,'_transaction')
              %td= link_to "Sell", send("new_portfolio_#{transaction}_path",resource, transaction.to_sym => net_position.action_params)
          %tr.total
            %td Total
            %td
            %td
            %td= resource.send(positions).sum(&:value)
            %td
            %td= resource.send(positions).sum(&:current_value)
            %td{:data => {:attribute => :unrealised_profit}}= resource.unrealised_profit positions
            %td
            %td

- unless resource.gold_transactions.empty?
  %section{ :class => "Gold" }
    %h1 Gold
    #gold_positions
      %table.table.table-striped.table-bordered
        %tr
          %th Name
          %th Quantity
          %th Avg Cost price
          %th Amt Invested
          %th Current Price
          %th Current Value
          %th Unrealised Profit
          %th Profit/Loss Percentage
          %th Sell
        %tr
          %td.name
          %td (grams)
          %td (Rs)
          %td (Rs)
          %td (Rs)
          %td (Rs)
          %td (Rs)
          %td (%)
          %td
        %tr
          %td Gold
          %td= resource.gold_position.quantity
          %td= resource.gold_position.average_cost_price
          %td= resource.gold_position.value
          %td= resource.gold_position.current_price
          %td= resource.gold_position.current_value
          %td= rg_colorize resource.gold_position.unrealised_profit
          %td= rg_colorize resource.gold_position.unrealised_profit_percentage
          %td= link_to "Sell", new_portfolio_gold_transaction_path(resource, gold_transaction: resource.gold_position.action_params)
        %tr.total
          %td Total
          %td
          %td
          %td= resource.gold_position.value
          %td
          %td= resource.gold_position.current_value
          %td= rg_colorize resource.gold_position.unrealised_profit
          %td
          %td

- %w(FixedDeposit Loan RealEstate).each do |security|
  = render "#{security.underscore}_positions", "#{security.underscore}_positions".to_sym => resource.send("#{security.underscore}_positions")

-if resource.empty_positions?
  = render 'empty_transaction'
