.row.show-grid
  .span12
    = render 'subnav'
.row
  .span12
    - [ 'stock_positions', 'mutual_fund_positions' ].each do |positions|
      - unless resource.send(positions).empty?
        %section{ :class => positions }
          %h5= positions.gsub(/_positions/,'').titleize.pluralize
          %div{ :id => "#{positions}"}
            %table.table.table-striped.table-bordered
              %tr
                %th.span4 Name
                %th.span1.align-center Quantity
                %th.align-center Avg Cost Price
                %th.align-center Amt Invested
                %th.align-center Current Price
                %th.align-center Current Value
                %th.align-center Unrealised Profit
                %th.align-center Profit/Loss
                %th.span1.align-center Sell
              %tr
                %td
                %td
                %td.align-center{:colspan => '5'} (Rs)
                %td.align-center (%)
                %td

              - resource.send(positions).each do |net_position|
                %tr
                  %td= link_to net_position.name, ( positions == "mutual_fund_positions" ? mutual_fund_path(net_position.mutual_fund.scheme_master) : stock_path(net_position.company) )
                  %td.align-right= net_position.quantity
                  %td.align-right= net_position.average_cost_price
                  %td.align-right= net_position.value
                  %td.align-right= net_position.current_price
                  - unless net_position.current_price == "-"
                    %td.align-right= net_position.current_value
                  - else
                    %td -
                  %td.align-right= rg_colorize net_position.unrealised_profit
                  %td.align-right= rg_colorize net_position.unrealised_profit_percentage
                  -transaction = positions.gsub(/_positions/,'_transaction')
                  %td.align-center= link_to "Sell", send("new_portfolio_#{transaction}_path",resource, transaction.to_sym => net_position.action_params)
              %tr.total
                %td Total
                %td
                %td
                %td.align-right= resource.send(positions).sum(&:value)
                %td
                %td.align-right= resource.send(positions).sum(&:current_value)
                %td.align-right{:data => {:attribute => :unrealised_profit}}= rg_colorize resource.resource.unrealised_profit positions
                %td
                %td

    - unless resource.gold_transactions.empty?
      %section{ :class => "Gold" }
        %h5 Gold
        #gold_positions
          %table.table.table-striped.table-bordered
            %tr
              %th.span4 Name
              %th.span1.align-center Quantity
              %th.align-center Avg Cost price
              %th.align-center Amt Invested
              %th.align-center Current Price
              %th.align-center Current Value
              %th.align-center Unrealised Profit
              %th.align-center Profit/Loss
              %th.span1.align-center Sell
            %tr
              %td
              %td.align-center (gm)
              %td.align-center{:colspan => '5'} (Rs)
              %td.align-center (%)
              %td
            %tr
              %td Gold
              %td.align-right= resource.gold_position.quantity
              %td.align-right= resource.gold_position.average_cost_price
              %td.align-right= resource.gold_position.value
              %td.align-right= resource.gold_position.current_price
              %td.align-right= resource.gold_position.current_value
              %td.align-right= rg_colorize resource.gold_position.unrealised_profit
              %td.align-right= rg_colorize resource.gold_position.unrealised_profit_percentage
              %td.align-center= link_to "Sell", new_portfolio_gold_transaction_path(resource, gold_transaction: resource.gold_position.action_params)
            %tr.total
              %td Total
              %td
              %td
              %td.align-right= resource.gold_position.value
              %td
              %td.align-right= resource.gold_position.current_value
              %td.align-right= rg_colorize resource.gold_position.unrealised_profit
              %td
              %td

    - %w(FixedDeposit Loan RealEstate).each do |security|
      = render "#{security.underscore}_positions", "#{security.underscore}_positions".to_sym => resource.send("#{security.underscore}_positions")

    -if resource.empty_positions?
      = render 'empty_transaction'
