= render 'current_portfolio'

%h1 Fixed Deposits Analysis
- unless resource.fixed_deposit_open_positions_rate_of_interests.empty?
  #fixed-deposits-chart.chart{ data: { elements: [['Rate','Amount']] + resource.fixed_deposit_open_positions_rate_of_interests.map{ |fd| [fd.rate.to_s, fd.amount] },
                               title: 'Fixed Deposits', yAxisTitle: 'Interest Rate (%)', chartType: 'Column' } }
  %h2 Interest rate wise Analysis
  %table
    %tr
      %th.name Name
      %th.right Interest Rate
      %th.right Invested Amount
    %tr
      %td
      %td.right (%)
      %td.right (Rs)
    - resource.fixed_deposit_open_positions_rate_of_interests.each do |hsh|
      %tr
        %td= hsh.name
        %td.right= hsh.rate
        %td.right= number_to_indian_currency hsh.amount
    %tr.total
      %td Total
      %td
      %td.right= number_to_indian_currency resource.fixed_deposit_open_positions_rate_of_interests.sum(&:amount)
-else
  #no_portfolios
    %p= t ".no_fixed_deposit_transaction"
    %p
      = link_to "Click here", new_portfolio_fixed_deposit_transaction_path(resource)
      = "to add some."
