%h1 My Portfolios
- unless collection.empty?
  %table.table.table-striped
    %thead
      %tr
        %th{:colspan => 3} Portfolio Name

    %tbody
      - @portfolios.each do |portfolio|
        %tr
          %td.name= portfolio.name
          %td.actions= link_to 'View', details_portfolio_path(portfolio), :method => :get
          %td.actions= link_to 'Add Transaction', add_transaction_portfolio_path(portfolio), :method => :get
          %td.actions= link_to 'Rename', edit_portfolio_path(portfolio), :method => :get
          %td.actions= link_to 'Delete', portfolio, :confirm => 'Are you sure you want to delete this portfolio?', :method => :delete
  = link_to 'Create New Portfolio', new_portfolio_path, :method => :get, :class => "create_new_portfolio"

-else
  .hero-unit.show-grid
    %p.align-center
      You do not have any portfolios.
      = t(".empty_portfolio")
      = link_to 'click here.', new_portfolio_path, :method => :get

