.row
  .span12
    = facebook_recommendation('My Portfolios')
    - unless collection.empty?
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th{:colspan => 3} Portfolio Name

        %tbody
          - @portfolios.each do |portfolio|
            %tr
              %td= link_to portfolio.name, details_portfolio_path(portfolio), :method => :get
              %td.span3
                = link_to add_transaction_portfolio_path(portfolio), :method => :get, :class => %w(btn) do
                  %i.icon-plus
                  Add Transaction
              %td.span2= render 'share_button', :portfolio => portfolio
              %td.span2
                = link_to edit_portfolio_path(portfolio), :method => :get, :class => %w(btn btn-warning) do
                  %i.icon-edit.icon-white
                  Rename
              %td.span2
                = link_to portfolio, :confirm => 'Are you sure you want to delete this portfolio?', :method => :delete, :class => %w(btn btn-danger) do
                  %i.icon-trash.icon-white
                  Delete

      = link_to 'Create New Portfolio', new_portfolio_path, :method => :get, :class => "create_new_portfolio"

    -else
      .well.show-grid
        %p.align-center
          = t '.empty_portfolio'
          = link_to 'Create new portfolio', new_portfolio_path, :method => :get

