= render 'current_portfolio'

%h1 Mutual Funds Analysis
- unless resource.category_wise_mutual_funds_percentage.empty?
  #mutual-fund-category-wise-allocation-chart{ 'data-mutual-fund-category-wise-asset-allocation' => resource.category_wise_mutual_funds_percentage }
  %h2 Category wise Analysis
  %table
    %tr
      %th.name Category
      %th Quantity
      %th Average Cost Price
      %th.right Invested Amount
      %th.right Current Price
      %th.right Current Value
      %th.right Unrealised Profit
      %th.right Percentage Holding
    %tr
      %td
      %td
      %td.right (Rs)
      %td.right (Rs)
      %td.right (Rs)
      %td.right (Rs)
      %td.right (Rs)
      %td.right (%)
    - resource.category_wise_mutual_funds_percentage_table.each do |category|
      - category.each do |position|
        %tr
          %td{:class => position.class_name }= position.name
          %td= position.quantity
          %td.right= position.average_cost_price ? number_to_indian_currency(position.average_cost_price) : "-"
          %td.right= position.amount_invested ? number_to_indian_currency(position.amount_invested) : "-"
          %td.right= position.current_price ? number_to_indian_currency(position.current_price) : "-"
          %td.right= position.current_value ? number_to_indian_currency(position.current_value) : "-"
          %td.right= position.unrealised_profit ? number_to_indian_currency(position.unrealised_profit) : "-"
          %td.right= position.percentage ? number_to_indian_currency(position.percentage) : "-"
    %tr.total
      %td Total
      %td
      %td
      %td
      %td
      %td.right= number_to_indian_currency resource.mutual_funds_value
      %td
      %td
-else
  #no_portfolios
    %p= t ".no_mutual_fund_transaction"
    %p
      = link_to "Click here", new_portfolio_mutual_fund_transaction_path(resource)
      = "to add some."

#mfs_profit_or_loss_analysis
  - unless resource.mutual_fund_positions_profit_or_loss.empty?
    #mutual-fund-profit-or-loss-chart{ 'data-mutual-fund-profit-or-loss' => resource.mutual_fund_positions_profit_or_loss.map(&:percentage),
                                     'data-categories' => resource.mutual_fund_positions_profit_or_loss.map(&:name) }
    %h2 Realized Profits/Losses
    %table
      %tr
        %th.name Scheme Name
        %th Category
        %th Quantity
        %th Avg cost Price
        %th Avg Sell Price
        %th.right Profit/Loss
        %th.right Percentage Profit/Loss
      %tr
        %td
        %td
        %td
        %td.right (Rs.)
        %td.right (Rs.)
        %td.right (Rs.)
        %td.right (%)
      - resource.mutual_fund_positions_profit_or_loss.each do |position|
        %tr
          %td= position.name
          %td= position.category
          %td.center= position.quantity
          %td.center= position.average_cost_price
          %td.center= position.average_sell_price
          - if position.profit_or_loss < 0
            %td.red= number_to_indian_currency position.profit_or_loss
            %td.red= number_to_indian_currency position.percentage
          - else position.profit_or_loss < 0
            %td.green= number_to_indian_currency position.profit_or_loss
            %td.green= number_to_indian_currency position.percentage
      %tr.total
        %td Total
        %td
        %td
        %td
        %td
        %td.right= number_to_indian_currency resource.mutual_fund_positions_profit_or_loss.map(&:profit_or_loss).sum
        %td
