%h1 Mutual Funds
- unless resource.category_wise_mutual_funds_percentage.empty?
  #mutual-fund-category-wise-allocation-chart{ 'data-mutual-fund-category-wise-asset-allocation' => resource.category_wise_mutual_funds_percentage }
  %table
    %tr
      %th Category
      %th Invested Amount (Rs)
      %th Percentage Holding (%)
    - resource.category_wise_mutual_funds_percentage_table.each do |position|
      %tr
        %td= position[:category]
        %td= number_to_indian_currency position[:amount_invested]
        %td= number_to_indian_currency position[:percentage]
    %tr.total
      %td Total
      %td= number_to_indian_currency resource.mutual_funds_value
      %td 100
-else
  %p= t ".no_mutual_fund_transaction"

#mfs_profit_or_loss_analysis
  - unless resource.mutual_fund_positions_profit_or_loss.empty?
    #mutual-fund-profit-or-loss-chart{ 'data-mutual-fund-profit-or-loss' => resource.mutual_fund_positions_profit_or_loss.map(&:percentage),
                                     'data-categories' => resource.mutual_fund_positions_profit_or_loss.map(&:name) }
    %table
      %tr
        %th Scheme Name
        %th Profit/Loss (Rs.)
        %th % Profit/Loss
      - resource.mutual_fund_positions_profit_or_loss.each do |position|
        %tr
          %td= position.name
          %td= number_to_indian_currency position.profit_or_loss
          %td= number_to_indian_currency position.percentage
      %tr.total
        %td Total
        %td= number_to_indian_currency resource.mutual_fund_positions_profit_or_loss.map(&:profit_or_loss).sum
        %td 100
