.row.show-grid
  .span12
    = render 'subnav'

.row
  .span12
    = facebook_recommendation('Mutual Funds Analysis')
- unless resource.category_wise_mutual_funds_percentage.empty?
  .row
    .span8
      = gchart(:data => resource.category_wise_mutual_funds_percentage, :title => 'Category Wise Mutual Fund Allocation', :chart_type => 'Pie')

  .row
    .span12.show-grid
      %h3 Category wise Analysis
      %table.table.table-striped.table-bordered
        %tr
          %th.span4 Category
          %th.align-center Quantity
          %th.align-center Avg Cost Price
          %th.align-center Invested Amount
          %th.align-center Current Price
          %th.align-center Current Value
          %th.align-center Unrealised Profit
          %th.align-center Percentage Holding
        %tr
          %td
          %td
          %td.align-center{:colspan => '5'} (Rs)
          %td.align-center (%)
        - resource.category_wise_mutual_funds_percentage_table.each do |category|
          - category.each do |position|
            %tr
              %td{:class => position.class_name }= position.name
              %td.align-right= position.quantity
              %td.align-right= position.average_cost_price ? position.average_cost_price : "-"
              %td.align-right= position.amount_invested ? position.amount_invested : "-"
              %td.align-right= position.current_price ? position.current_price : "-"
              %td.align-right= position.current_value ? position.current_value : "-"
              %td.align-right= rg_colorize position.unrealised_profit ? position.unrealised_profit : "-"
              %td.align-right= position.percentage ? number_with_precision(position.percentage) : "-"
        %tr
          %td Total
          %td
          %td
          %td
          %td
          %td.align-right= resource.mutual_funds_value
          %td
          %td
-else
  .row
    .span12.well.show-grid
      %p.align-center
        = t ".no_mutual_fund_transaction"
        = link_to "Add a mutual fund", new_portfolio_mutual_fund_transaction_path(resource), :class => 'btn btn-primary'

- unless resource.mutual_fund_positions_profit_or_loss.empty?
  .row
    .span8
      = gchart(:data => resource.mutual_fund_positions_profit_or_loss.map { |r| [r.name, r.percentage] },
               :title => 'Realized Profit/Loss on Mutual Funds', :yAxisTitle => 'Percentage (%)', :chart_type => 'Column')
  .row
    .span12.show-grid
      %h3 Realized Profits/Losses
      %table.table.table-striped.table-bordered
        %tr
          %th.span4 Scheme Name
          %th Category
          %th.align-center Quantity
          %th.align-center Avg cost Price
          %th.align-center Avg Sell Price
          %th.align-center Profit/Loss
          %th.align-center Percentage Profit/Loss
        %tr
          %td
          %td
          %td
          %td.align-center{:colspan => '3'} (Rs.)
          %td.align-center (%)
        - resource.mutual_fund_positions_profit_or_loss.each do |position|
          %tr
            %td= position.name
            %td= position.category
            %td.align-right= position.quantity
            %td.align-right= position.average_cost_price
            %td.align-right= position.average_sell_price
            %td.align-right= rg_colorize position.profit_or_loss
            %td.align-right= rg_colorize number_with_precision(position.percentage), position.percentage
        %tr
          %td Total
          %td
          %td
          %td
          %td
          %td.align-right= rg_colorize resource.mutual_fund_positions_profit_or_loss.sum(&:profit_or_loss)
          %td
