= render 'current_portfolio'

%h1 Mutual Funds Analysis
- unless resource.category_wise_mutual_funds_percentage.empty?
  #mutual-fund-category-wise-allocation-chart.chart{ data: { elements: [['','']] + resource.category_wise_mutual_funds_percentage,
                                                             title: 'Category Wise Mutual Fund Allocation', chartType: 'Pie' } }
  %h2 Category wise Analysis
  %table
    %tr
      %th.name Category
      %th Quantity
      %th Average Cost Price
      %th Invested Amount
      %th Current Price
      %th Current Value
      %th Unrealised Profit
      %th Percentage Holding
    %tr
      %td
      %td
      %td (Rs)
      %td (Rs)
      %td (Rs)
      %td (Rs)
      %td (Rs)
      %td (%)
    - resource.category_wise_mutual_funds_percentage_table.each do |category|
      - category.each do |position|
        %tr
          %td.name{:class => position.class_name }= position.name
          %td= position.quantity
          %td= position.average_cost_price ? number_to_indian_currency(position.average_cost_price) : "-"
          %td= position.amount_invested ? number_to_indian_currency(position.amount_invested) : "-"
          %td= position.current_price ? number_to_indian_currency(position.current_price) : "-"
          %td= position.current_value ? number_to_indian_currency(position.current_value) : "-"
          %td= position.unrealised_profit ? number_to_indian_currency(position.unrealised_profit) : "-"
          %td= position.percentage ? number_to_indian_currency(position.percentage) : "-"
    %tr.total
      %td.name Total
      %td
      %td
      %td
      %td
      %td= number_to_indian_currency resource.mutual_funds_value
      %td
      %td
-else
  #no_portfolios
    %p= t ".no_mutual_fund_transaction"
    %p
      = link_to "Click here", new_portfolio_mutual_fund_transaction_path(resource)
      = "to add some."

#mfs_profit_or_loss_analysis
  - unless resource.mutual_fund_positions_profit_or_loss.empty?
    #mutual-fund-profit-or-loss-chart.chart{ data: { elements: [['','']] + resource.mutual_fund_positions_profit_or_loss.map { |r| [r.name, r.percentage] },
                                                     title: 'Realized Profit/Loss on Mutual Funds', yAxisTitle: 'Percentage (%)', chartType: 'Column' } }
    %h2 Realized Profits/Losses
    %table
      %tr
        %th.name Scheme Name
        %th Category
        %th Quantity
        %th Avg cost Price
        %th Avg Sell Price
        %th Profit/Loss
        %th Percentage Profit/Loss
      %tr
        %td
        %td
        %td
        %td (Rs.)
        %td (Rs.)
        %td (Rs.)
        %td (%)
      - resource.mutual_fund_positions_profit_or_loss.each do |position|
        %tr
          %td.name= position.name
          %td= position.category
          %td= position.quantity
          %td= position.average_cost_price
          %td= position.average_sell_price
          - if position.profit_or_loss < 0
            %td.red= number_to_indian_currency position.profit_or_loss
            %td.red= number_to_indian_currency position.percentage
          - else position.profit_or_loss < 0
            %td.green= number_to_indian_currency position.profit_or_loss
            %td.green= number_to_indian_currency position.percentage
      %tr.total
        %td.name Total
        %td
        %td
        %td
        %td
        %td= number_to_indian_currency resource.mutual_fund_positions_profit_or_loss.map(&:profit_or_loss).sum
        %td
