= render 'subnav'

%h1 Mutual Funds Analysis
- unless resource.category_wise_mutual_funds_percentage.empty?
  - gchart(:data => resource.category_wise_mutual_funds_percentage, :title => 'Category Wise Mutual Fund Allocation', :chartType => 'Pie')

  %h1 Category wise Analysis
  %table.table.table-striped
    %tr
      %th.name Category
      %th Quantity
      %th Avg Cost Price
      %th Invested Amount
      %th Current Price
      %th Current Value
      %th Unrealised Profit
      %th Percentage Holding
    %tr
      %td
      %td
      %td (Rs)
      %td (Rs)
      %td (Rs)
      %td (Rs)
      %td (Rs)
      %td (%)
    - resource.category_wise_mutual_funds_percentage_table.each do |category|
      - category.each do |position|
        %tr
          %td.name{:class => position.class_name }= position.name
          %td= position.quantity
          %td= position.average_cost_price ? position.average_cost_price : "-"
          %td= position.amount_invested ? position.amount_invested : "-"
          %td= position.current_price ? position.current_price : "-"
          %td= position.current_value ? position.current_value : "-"
          %td= position.unrealised_profit ? position.unrealised_profit : "-"
          %td= position.percentage ? number_with_precision(position.percentage) : "-"
    %tr.total
      %td.name Total
      %td
      %td
      %td
      %td
      %td= resource.mutual_funds_value
      %td
      %td
-else
  .hero-unit.show-grid
    %p.align-center
      = t ".no_mutual_fund_transaction"
      = link_to "Add a mutual fund", new_portfolio_mutual_fund_transaction_path(resource), :class => 'btn btn-primary'

#mfs_profit_or_loss_analysis
  - unless resource.mutual_fund_positions_profit_or_loss.empty?
    - gchart(:data => resource.mutual_fund_positions_profit_or_loss.map { |r| [r.name, r.percentage] },
             :title => 'Realized Profit/Loss on Mutual Funds', :yAxisTitle => 'Percentage (%)', :chartType => 'Column')
    %h1 Realized Profits/Losses
    %table.table.table-striped
      %tr
        %th.name Scheme Name
        %th Category
        %th Quantity
        %th Avg cost Price
        %th Avg Sell Price
        %th Profit/Loss
        %th Percentage Profit/Loss
      %tr
        %td
        %td
        %td
        %td (Rs.)
        %td (Rs.)
        %td (Rs.)
        %td (%)
      - resource.mutual_fund_positions_profit_or_loss.each do |position|
        %tr
          %td.name= position.name
          %td= position.category
          %td= position.quantity
          %td= position.average_cost_price
          %td= position.average_sell_price
          %td= rg_colorize position.profit_or_loss
          %td= rg_colorize number_with_precision(position.percentage), position.percentage
      %tr.total
        %td.name Total
        %td
        %td
        %td
        %td
        %td= resource.mutual_fund_positions_profit_or_loss.sum(&:profit_or_loss)
        %td
