%p#notice= notice

%p
  %b Name:
  = @portfolio.name

= link_to 'Positions', portfolio_net_positions_path(@portfolio)

= button_to 'Edit', edit_portfolio_path(@portfolio), :method => :get
\|
= link_to 'Back', portfolios_path
