.row.show-grid
  .span12
    = render 'subnav'
.row.show-grid
  .span12
    - if resource.empty_transactions?
      = render 'empty_transaction'
    - else
      .row
        .span8.show-grid
          - gchart( :header => ['Asset Class','Percenatge'], :data => resource.total_assets_distribution,
                    :chart_type => 'Pie', :title => 'Portfolio Assets Composition')
          - if resource.assets_and_liabilities?
            - gchart(:elements => resource.assets_and_liabilities, :title => 'Portfolio Summary',
                      :yAxisTitle => 'Amount(Rupees)', :chart_type => 'Column')

        .span4
          %table.table.table-striped.show-grid.assets.table-bordered
            %tr
              %th.span4 Assets
              %th.span4.align-center Amount
              %th.span4.align-center Percentage
            %tr
              %td
              %td.align-center (Rs)
              %td.align-center (%)
            -resource.total_assets_distribution_table.each do |asset|
              %tr{:class => asset[:class]}
                %td= asset[:asset_type]
                %td.align-right= asset[:amount]
                %td.align-right= asset[:percentage]

          %table.table.table-striped.show-grid.liabilities.table-bordered
            %tr
              %th.span4 Liabilities
              %th.span4.align-center Amount
              %th.span4.align-center Percentage
            %tr
              %td
              %td.align-center (Rs)
              %td.align-center (%)
            -resource.total_liabilities_distribution_table.each do |asset|
              %tr{:class => asset[:class]}
                %td= asset[:asset_type]
                %td.align-right= asset[:amount]
                %td.align-right= asset[:percentage]

