= render 'subnav'
- if resource.empty_transactions?
  = render 'empty_transaction'
- else
  #portfolio-total-asset-allocation-chart.chart{ data: { elements: [['Asset Class','Percenatge']]+resource.total_assets_distribution,
                                                         chartType: 'Pie', title: 'Portfolio Assets Composition'} }
  %table.table.table-striped.assets
    %tr
      %th Assets
      %th Amount
      %th Percentage
    %tr
      %td
      %td (Rs)
      %td (%)
    -resource.total_assets_distribution_table.each do |asset|
      %tr{:class => asset[:class]}
        %td= asset[:asset_type]
        %td= asset[:amount]
        %td= asset[:percentage]

  %table.table.table-striped.liabilities
    %tr
      %th Liabilities
      %th Amount
      %th Percentage
    %tr
      %td
      %td (Rs)
      %td (%)
    -resource.total_liabilities_distribution_table.each do |asset|
      %tr{:class => asset[:class]}
        %td= asset[:asset_type]
        %td= asset[:amount]
        %td= asset[:percentage]

- if resource.assets_and_liabilities?
  #net-worth-chart.chart{ data: { elements: resource.assets_and_liabilities, title: 'Portfolio Summary',
                                  yAxisTitle: 'Amount(Rupees)', chartType: 'Column' } }
