= render 'current_portfolio'

%h1 Stocks Analysis
- unless resource.sector_wise_stock_percentage.empty?
  #stock-sectoral-allocation-chart{ 'data-stocks-sectoral-asset-allocation' => resource.sector_wise_stock_percentage }
  %h2 Sector wise Analysis
  %table
    %tr
      %th.name Sector
      %th.right Invested Amount
      %th.right Percentage Holding
    %tr
      %td
      %td.right (Rs)
      %td.right (%)
    - resource.sector_wise_stock_percentage_table.each do |position|
      %tr
        %td= position[:sector]
        %td.right= number_to_indian_currency position[:amount_invested]
        %td.right= number_to_indian_currency position[:percentage]
    %tr.total
      %td Total
      %td.right= number_to_indian_currency resource.stocks_value
      %td.right 100
-else
  #no_portfolios
    %p= t ".no_stock_transaction"
    %p
      = link_to "Click here", new_portfolio_stock_transaction_path(resource)
      = "to add some."

#stocks_profit_or_loss_analysis
  - unless resource.stocks_positions_profit_or_loss.empty?
    #stocks-profit-or-loss-chart{ 'data-stocks-profit-or-loss' => resource.stocks_positions_profit_or_loss.map(&:percentage),
                                  'data-categories' => resource.stocks_positions_profit_or_loss.map(&:name) }
    %h2 Realized Profits/Losses
    %table
      %tr
        %th Stock Name
        %th Sector
        %th.right Profit/Loss
        %th.right Percentage Profit/Loss
      %tr
        %td
        %td
        %td.right (Rs.)
        %td.right (%)
      -resource.stocks_positions_profit_or_loss.each do |position|
        %tr
          %td= position.name
          %td= position.sector
          - if position.profit_or_loss < 0
            %td.red= number_to_indian_currency position.profit_or_loss
            %td.red= number_to_indian_currency position.percentage
          - else
            %td.green= number_to_indian_currency position.profit_or_loss
            %td.green= number_to_indian_currency position.percentage

      %tr.total
        %td.name Total
        %td
        %td.right= number_to_indian_currency resource.stocks_positions_profit_or_loss.map(&:profit_or_loss).sum
        %td.right 100
