= render 'current_portfolio'

%h1 Stocks
- unless resource.sector_wise_stock_percentage.empty?
  #stock-sectoral-allocation-chart{ 'data-stocks-sectoral-asset-allocation' => resource.sector_wise_stock_percentage }
  %table
    %tr
      %th Sector
      %th Invested Amount (Rs)
      %th Percentage Holding (%)
    - resource.sector_wise_stock_percentage_table.each do |position|
      %tr
        %td= position[:sector]
        %td= number_to_indian_currency position[:amount_invested]
        %td= number_to_indian_currency position[:percentage]
    %tr.total
      %td Total
      %td= number_to_indian_currency resource.stocks_value
      %td 100
-else
  %p= t ".no_stock_transaction"

#stocks_profit_or_loss_analysis
  - unless resource.stocks_positions_profit_or_loss.empty?
    #stocks-profit-or-loss-chart{ 'data-stocks-profit-or-loss' => resource.stocks_positions_profit_or_loss.map(&:percentage),
                                  'data-categories' => resource.stocks_positions_profit_or_loss.map(&:name) }
    %table
      %tr
        %th Stock Name
        %th Sector
        %th Profit/Loss (Rs.)
        %th % Profit/Loss
      - resource.stocks_positions_profit_or_loss.each do |position|
        %tr
          %td= position.name
          %td= position.sector
          - if position.profit_or_loss < 0
            %td.red= number_to_indian_currency position.profit_or_loss
            %td.red= number_to_indian_currency position.percentage
          - else
            %td.green= number_to_indian_currency position.profit_or_loss
            %td.green= number_to_indian_currency position.percentage

      %tr.total
        %td{:colspan => 2} Total
        %td= number_to_indian_currency resource.stocks_positions_profit_or_loss.map(&:profit_or_loss).sum
        %td 100
