= render 'subnav'

%h1 Stocks Analysis
- unless resource.sector_wise_stock_percentage.empty?
  #stock-sectoral-allocation-chart.chart{ data: { elements: [['','']] + resource.sector_wise_stock_percentage,
                                                  title: 'Sector Wise Stocks Allocation', chartType: 'Pie'} }
  %h1 Current Holdings:Sector wise Analysis
  %table.table.table-striped
    %tr
      %th.name Sector
      %th Quantity
      %th Avg Cost Price
      %th Invested Amount
      %th Current Price
      %th Current Value
      %th Unrealised Profit
      %th Percentage Holding
    %tr
      %td
      %td
      %td (Rs)
      %td (Rs)
      %td (Rs)
      %td (Rs)
      %td (Rs)
      %td (%)
    - resource.sector_wise_stock_percentage_table.each do |sector|
      - sector.each do |position|
        %tr
          %td.name{:class => position.class_name }= position.name
          %td= position.quantity
          %td= position.average_cost_price ? number_to_indian_currency(position.average_cost_price) : "-"
          %td= position.amount_invested ? number_to_indian_currency(position.amount_invested) : "-"
          %td= position.current_price ? number_to_indian_currency(position.current_price) : "-"
          %td= position.current_value ? number_to_indian_currency(position.current_value) : "-"
          %td= position.unrealised_profit ? number_to_indian_currency(position.unrealised_profit) : "-"
          %td= position.percentage ? number_to_indian_currency(position.percentage) : "-"
    %tr.total
      %td.name Total
      %td
      %td
      %td
      %td
      %td= number_to_indian_currency resource.stocks_value
      %td
      %td
-else
  .hero-unit.show-grid
    %p.align-center
      = t ".no_stock_transaction"
      = link_to "Add a stock", new_portfolio_stock_transaction_path(resource), :class => 'btn btn-primary'

#stocks_profit_or_loss_analysis
  - unless resource.stocks_positions_profit_or_loss.empty?
    #stocks-profit-or-loss-chart.chart{ data: { elements: [['','']] + resource.stocks_positions_profit_or_loss.map { |r| [r.name, r.percentage] },
                                                title: 'Realized Profit/Loss on Stocks', yAxisTitle: 'Percentage (%)', chartType: 'Column' } }
    %h1 Realized Profits/Losses
    %table.table.table-striped
      %tr
        %th.name Stock Name
        %th.sector Sector
        %th Quantity
        %th Avg cost Price
        %th Avg Sell Price
        %th Profit/Loss
        %th Percentage Profit/Loss
      %tr
        %td
        %td
        %td
        %td (Rs.)
        %td (Rs.)
        %td (Rs.)
        %td (%)
      -resource.stocks_positions_profit_or_loss.each do |position|
        %tr
          %td.name= position.name
          %td.sector= position.sector
          %td= position.quantity
          %td= position.average_cost_price
          %td= position.average_sell_price
          - if position.profit_or_loss < 0
            %td.red= number_to_indian_currency position.profit_or_loss
            %td.red= number_to_indian_currency position.percentage
          - else
            %td.green= number_to_indian_currency position.profit_or_loss
            %td.green= number_to_indian_currency position.percentage

      %tr.total
        %td.name Total
        %td
        %td
        %td
        %td
        %td= number_to_indian_currency resource.stocks_positions_profit_or_loss.map(&:profit_or_loss).sum
        %td
