= render 'subnav'
- %w(stock_transactions mutual_fund_transactions gold_transactions fixed_deposit_transactions loan_transactions real_estate_transactions).each do |transaction|
  = render "#{transaction}/#{transaction}", transaction.to_sym => resource.send(transaction)
-if resource.empty_transactions?
  .well.show-grid
    %p.align-center
      = t(".empty_transactions")
      = link_to "Add Some", add_transaction_portfolio_path, :class => 'btn btn-primary'
