.row
  .span12
    %h1 Accumulated Points
  .span12
    %section
      %table.table
        %thead
          %tr
            %th
              = t '.completed'
            %th
              = t '.description'
            %th
              = t '.points_per_action'
            %th
              = t '.no_of_times'
            %th
              = t '.total_points'
          - PointTracker.steps.each do |step|
            - step_klass = "PointTracker::#{step.to_s.classify}".constantize
            - point_tracker_step = step_klass.new(current_user)
            %tr
              %td
                = point_tracker_step.completed_step_for_user? ? 'Yes' : 'No'
              %td
                = link_to step_klass.const_get('DESCRIPTION'), step_klass.const_get('ACTION_LINK')
              %td
                = step_klass.const_get('POINTS')
              %td
                = point_tracker_step.number_of_times_done
              %td
                = point_tracker_step.total_points
          %tr
            %td
            %td
            %td
            %td
              = t '.total_accumulated_points'
            %td
              = current_user.ebola_points

%a{ :href => 'mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.website.com.', :title => 'Share by Email'}
  asdfasdf