.row
  .span9
    %h1 Consolidated Research Ratings
    %section
      %p
        The table below shows a consolidated recommendation for 50 stocks on the NSE Index 'Nifty' based on research reports published by brokerages across India.
    %section
      %table.table.table.table-striped.table-bordered
        %tr
          %th.span5 Stock Name
          %th.span2 Rating(out of 5)
          %th.span2 Recommendation
        - collection.each do |stock|
          %tr
            %td= link_to stock.name, stock_path(stock)
            %td= stock.rating
            %td= stock.recommendation
  .span3
    .thumb
      = link_to image_tag('ebola-370.jpg', :class => %w(img-rounded)), main_app.page_path('win-an-ipad3')
    .row-fluid
      .span12.well
        .thumb
          %h5
            = link_to 'Financial Planning', main_app.edit_comprehensive_risk_profiler_path

          %p Planning can be nerve-wracking. That’s why we did all the complicated number crunching so that you can invest with a single click.
        .thumb
          %h5= link_to 'Learn Investings', main_app.page_path('investment_education')
          %p An investment in knowledge pays the best interest." - Benjamin Franklin Learn how to make good investment decisions.
        .thumb
          %h5= link_to 'Stock Recommendations', main_app.page_path('stock-recommendations')
          %p No one has become a crorepati by saving money in a bank account or fixed deposit. That’s why we recommend money-multiplying stocks.
        .thumb
          %h5= link_to 'Stock Market data', main_app.stocks_path
          %p The stock market is flooding with information. Stay ahead of others with the latest news, quotes and detailed corporate information. We support 3,500 stocks and 5,000 mutual funds
        .thumb
          %h5= link_to 'Portfolio Tracking', main_app.page_path('manage-investments')
          %p No unnecessary paperwork, excel formulas or any other fancy tools. Get a financial analyst’s perspective of all your investments with just a few clicks.
        .thumb
          %h5
            Social Features
            %small Coming Soon
          %p Connect with the kings of investing and learn how to make profitable investments.If you are a king yourself, build a kingdom of followers.

