%h1 Fixed Deposit Finder

%p= t ".fixed_deposit_tool"
= simple_form_for @search, :url => fixed_deposits_path, :method => :get do |f|
  = f.input :amount

  = f.label :duration
  = f.fields_for :duration do |duration|
    = duration.input :year, :label => 'Years'
    = duration.input :month, :label => 'Months'
    = duration.input :days

  = f.input :senior_citizen, :collection => [['Yes', "rate_of_interest_senior_citizen"],['No', "rate_of_interest_general"]], :as => :radio_buttons

  .actions
    = f.submit 'Submit'

- if params[:fixed_deposit_detail_proxy]
  - unless collection.top_five_public_sector.empty? || collection.top_five_private_sector.empty?
    .notice= @search.result_summary
  - else
    .alert-error= @search.result_summary(true)
  - [collection.top_five_public_sector, collection.top_five_private_sector].each do |fd_details|
    - unless fd_details.empty?
      %h1= "#{fd_details.first.sector.titleize} banks"
      %div{ :id => "top_five_#{fd_details.first.sector.downcase}_sector_interest_rate"}
        %table
          %tr
            %th Bank Name
            %th General Interest Rate
            %th Senior Citizen Interest Rate
          - fd_details.each do |fd_detail|
            %tr
              %td= fd_detail.bank
              %td= fd_detail.rate_of_interest_general
              %td= fd_detail.rate_of_interest_senior_citizen
- else
  .notice= t ".default"
  - [@top_five_public_banks_interest_rates, @top_five_private_banks_interest_rates].each do |fd_details|
    - unless fd_details.empty?
      %h1= "#{fd_details.first.sector.titleize} banks"
      %div{ :id => "top_five_#{fd_details.first.sector.downcase}_sector_interest_rate"}
        %table
          %tr
            %th Bank Name
            %th 1 year
            %th 180 days
            %th 90 days
            %th 30 days
          - fd_details.each do |fd_detail|
            %tr
              %td= fd_detail.name
              %td= fd_detail.one_year_interest_rate
              %td= fd_detail.six_month_interest_rate
              %td= fd_detail.three_month_interest_rate
              %td= fd_detail.one_month_interest_rate
