.row
  .span4
    %a Nifty
    %b= NiftyDecorator.last_traded_price
    - red_or_green_class(NiftyDecorator.net_change, "span")
    = "("
    - red_or_green_class(NiftyDecorator.percent_change, "span")
    = " % )"

  .span4
    %a Sensex
    %b= SensexDecorator.last_traded_price
    - red_or_green_class(SensexDecorator.net_change, "span")
    = "("
    - red_or_green_class(SensexDecorator.percent_change, "span")
    = " % )"

  .span4
    %a Gold (10 gms)
    %b= GoldDecorator.current_price
    - red_or_green_class(GoldDecorator.net_change, "span")
    = "("
    - red_or_green_class(GoldDecorator.percent_change, "span")
    = " % )"
