%ul.nav.nav-tabs
  - DataProvider::NewsArticle.feeds.keys.each do |section_name|
    %li= link_to t(".#{section_name}"), "#news_#{section_name}", :data => {:toggle => :tab}

.tab-content
  - DataProvider::NewsArticle.feeds.each do |section_name,articles|
    %section.tab-pane{:id => "news_#{section_name}" }
      - articles.take(10).each do |article|
        - if article.title
          %article
            %h4= link_to article.title.html_safe, article.url, :title => article.source, :target => :blank
            %h6 #{article.source} - #{time_ago_in_words article.published} ago
            %p= article.summary.html_safe
