%h1 Sectoral Indices

%ul.nav.nav-tabs
  %li= link_to 'NSE', "#nse_scrip_sectoral_indices", :data => { :toggle => :tab }
  %li= link_to 'BSE', "#bse_scrip_sectoral_indices", :data => { :toggle => :tab }

.tab-content
  - [ 'NseScrip', 'BseScrip' ].each do |scrip|
    .tab-pane{ :id => "#{scrip.underscore}_sectoral_indices" }
      -bt_table "DataProvider::#{scrip}".constantize.send('sectoral_indices').each do |table|
        = table.ths 'Index Name', 'Value', 'Change', '<nobr>% Change</nobr>'.html_safe
        = table.tds ->(index) { t(".#{index.id.delete(' ').gsub('&', '')}") },
                    ->(index) { index.last_traded_price },
                    ->(index) { rg_colorize index.net_change },
                    ->(index) { rg_colorize number_with_precision(index.percent_change), index.percent_change }
