.row
  - [ 'NseScrip', 'BseScrip' ].each do |klass|
    %div.span6{ :id => "#{klass[0..2].downcase}_gainers_losers" }
      %h1= "Trending Shares - #{klass[0..2].upcase}"
      %ul.nav.nav-tabs
        %li= link_to t(".top_gainers"), "##{klass.to_s.underscore}_top_gainers", :data => {:toggle => :tab}
        %li= link_to t(".top_losers"), "##{klass.to_s.underscore}_top_losers", :data => {:toggle => :tab}
        %li.active= link_to t(".most_active"), "##{klass.to_s.underscore}_most_active", :data => {:toggle => :tab}

      .tab-content
        .tab-pane.active{ :id => "#{klass.underscore}_most_active" }
          -bt_table "DataProvider::#{klass}".constantize.most_active(5).each do |table|
            = table.ths 'Name', "<nobr>Today's Price</nobr>".html_safe, 'Volume'
            = table.tds ->(scrip) { link_to scrip.company.name, stock_path(scrip.company.name) if scrip.company.name },
                        ->(scrip) { number_to_indian_currency(scrip.last_traded_price) },
                        ->(scrip) { number_to_indian_currency(scrip.volume, 0) }
        - %w(top_gainers top_losers).each do |performance|
          .tab-pane{ :id => "#{klass.underscore}_#{performance}" }
            -bt_table "DataProvider::#{klass}".constantize.send(performance, 5).each do |table|
              = table.ths 'Name', "<nobr>Today's Price</nobr>".html_safe, '<nobr>% Change</nobr>'.html_safe
              = table.tds ->(scrip) { link_to scrip.company.name, stock_path(scrip.company.name) if scrip.company.name },
                          ->(scrip) { number_to_indian_currency(scrip.last_traded_price) },
                          ->(scrip) { rg_colorize(scrip.percent_change) }
