%h1 Stock Search
= simple_form_for @search, :url => collection_path, :html => {:novalidate => true} do |f|
  = f.input :name_contains, :required => false
  = f.input :sector_contains, :collection => Stock::SECTOR_NAMES, :prompt => "Any", :required => false

#stocks
  %table
    %tr
      %th= sort_link @search, :name
      %th= sort_link @search, :sector

    - @stocks.each do |stock|
      %tr
        %td= link_to stock.name, resource_path(stock)
        %td= stock.sector
:javascript
  $(function() {
    window.router = new Finginie.Routers.StocksRouter({stocks: #{@stocks.to_json.html_safe}});
    Backbone.history.start();
  });

