%h1 Listing stocks

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @stocks.each do |stock|
    %tr
      %td= stock.name
      %td= link_to 'Show', stock
      %td= link_to 'Edit', edit_stock_path(stock)
      %td= link_to 'Destroy', stock, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Stock', new_stock_path
