%h1 Stock Search
= simple_form_for @search, :url => collection_path, :html => {:novalidate => true} do |f|
  .loading
    Loading...
    = image_tag 'ajax-loader.gif', :class => :loading
  .string
    = f.label :name_contains, :required => false
    = f.text_field :name_contains, data: { autocomplete_source: stocks_path }
  = f.input :sector_contains, :collection => Stock::SECTOR_NAMES, :prompt => "Any", :required => false

#stocks

:javascript
  $(function() {
    window.router = new Finginie.Routers.StocksRouter({stocks: #{@stocks.to_json.html_safe}});
    Backbone.history.start();
  });

