%h1= @stock.name
%section
  - %w( symbol asset_class sector).each do |attr|
    %div{:class => attr}
      %dt= t ".#{attr}"
      %dd= @stock.send(attr)

%section.daily_prices
  #daily_price_change
    %h1= @stock.last_traded_price
    = @stock.net_change
    = "#{@stock.percent_change}%"
  %dl
    - %w(last_close_price day_open_price volume).each do |attr|
      %dt= t ".#{attr}"
      %dd= @stock.send(attr)

%section.fundamentals
  %dl
    - %w(eps pe fifty_two_week_high_price fifty_two_week_low_price fifty_two_week_high_date fifty_two_week_low_date beta).each do |attr|
      %dt= t ".#{attr}"
      %dd= @stock.send(attr)

%section.trade_prices
  %dl
    - %w(best_buy_price best_buy_quantity best_sell_price best_sell_quantity).each do |attr|
      %dt= t ".#{attr}"
      %dd= @stock.send(attr)

= link_to 'Back', stocks_path
