%h1= @stock.name
%section
  - %w( symbol asset_class sector).each do |attr|
    %div{:class => attr}
      %dt= t ".#{attr}"
      %dd= @stock.send(attr)

%section.daily_prices
  .daily_price_change
    %h1= @stock.last_traded_price    
    %strong= @stock.net_change    
    %span= "(#{@stock.percent_change}%)"
  
  - %w(last_close_price day_open_price volume high_price low_price).each do |attr|
    %div{:class => attr}  
      %p= t ".#{attr}"
      %strong= @stock.send(attr) || "N/A"

%section.fundamentals
  - %w(eps pe beta).each do |attr|
    %div{:class => attr}    
      %p= t ".#{attr}"
      %strong= @stock.send(attr)
  .week_high_price
    %P= t ".fifty_two_week_high_price"
    %strong= @stock.fifty_two_week_high_price
    %span (#{@stock.fifty_two_week_high_date})
  .week_low_price    
    %P= t ".fifty_two_week_low_price"
    %strong= @stock.fifty_two_week_low_price
    %span (#{@stock.fifty_two_week_low_date})



= link_to 'Back', stocks_path
