%h1= @stock.name

%section
  - %w( symbol asset_class sector).each do |attr|
    %div{:class => attr}
      %dt= t ".#{attr}"
      %dd= @stock.send(attr)

%section.daily_prices
  .daily_price_change
    %h1= @stock.last_traded_price
    %strong= @stock.net_change
    %span= "(#{@stock.percent_change}%)"

  - %w(close_price open_price volume high_price low_price).each do |attr|
    %div{:class => attr}
      %p= t ".#{attr}"
      %strong= @stock.send(attr) || "N/A"

%section.fundamentals
  - %w(eps pe beta).each do |attr|
    %div{:class => attr}
      %p= t ".#{attr}"
      %strong= @stock.send(attr) || "N/A"
  .week_high_price
    %p= t ".fifty_two_week_high_price"
    %strong= @stock.fifty_two_week_high_price
    %span= "(#{l(@stock.fifty_two_week_high_date.change(:year => @stock.fifty_two_week_high_date.year + 2000), :format => :stock_52w_date)})"
  .week_low_price
    %p= t ".fifty_two_week_low_price"
    %strong= @stock.fifty_two_week_low_price
    %span= "(#{l(@stock.fifty_two_week_low_date.change(:year => @stock.fifty_two_week_low_date.year + 2000), :format => :stock_52w_date)})"

%section.news
  %h1 News
  %ul
    - if @stock.news_headlines
      - @stock.news_headlines.each do |headline|
        %li
          = link_to headline, stock_news_path(:stock_id => @stock.id, :id => headline), :target => "_blank"

%section
%iframe{:src => @chart_url, :style => "width:800px; height:600px"}

.back= link_to 'Back', stocks_path
