= render 'search_form'
- if resource.model
  %h1= resource.company_name

  %section
    - %w( nse_code industry_name ).each do |attr|
      %div{:class => attr}
        %dt= t ".#{attr}"
        %dd= resource.send(attr)
  %section.fundamentals
    %table
      %tr
        - %w(eps pe price_to_book_value book_value face_value market_capitalization dividend_yield).each do |attr|
          %td
            %span= t ".#{attr}"
      %tr
        - %w(eps pe price_to_book_value book_value face_value market_capitalization dividend_yield).each do |attr|
          %td.center= resource.send(attr)

  = render 'quotes'

  %section.news
    - if resource.news.count > 0
      %h1 News
      %ul
        - resource.news.each do |news|
          %li
            = link_to news.headlines, stock_news_path(:stock_id => resource.company_code, :id => news._id), :target => "_blank"

  - if @chart_url
    %iframe{:src => @chart_url, :style => "width:760px; height:600px"}

  - if resource.share_holding
    %section.share_holding
      %h1 Share Holding Pattern
      %table
        %th Investor Type
        %th.percentage Percentage(%)
        - resource.share_holding.non_zero_groups.each do |attr|
          %tr
            %td= t "share_holding.#{attr}"
            %td.right= resource.share_holding.send(attr)
  - if resource.ratio
    %section.ratios
      %h1 Ratios
      %table
        %th Ratio
        %th.percentage Value
        - resource.ratio.company_view_items.each do |attr|
          %tr
            %td= t "ratio.#{attr}"
            %td.right= resource.ratio.send(attr)

  #disqus_thread{data: {disqus_identifier: "stocks_#{resource.company_code}"}}
