=render 'search_form'
%br

%h1= @company.company_name

=#%section
=#  - %w( nse_code industry_name).each do |attr|
=#    %div{:class => attr}
=#      %dt= t ".#{attr}"
=#      %dd= @company.send(attr)
%section.fundamentals
  - %w(eps pe price_to_book_value book_value face_value market_capitalization dividend_yield).each do |attr|
    %div{:class => attr}
      %dt= t ".#{attr}"
      %dd= @company.send(attr)

.nse_quotes
  %section.daily_prices
    %h1 NSE
    .daily_price_change
      %h1= @company.last_traded_price
      %strong.net_change= @company.net_change
      %span.percent_change= "(#{@company.percent_change}%)"
      - if @company.time
        %p= l @company.time, :format => :short_date_and_time
    %table
      - %w(close_price open_price volume high_price low_price fifty_two_week_high fifty_two_week_low high_date low_date).each do |attr|
        %tr
          %td= t ".#{attr}"
          %td
            - if [ "high_date", "low_date" ].include?(attr) && @company.send(attr)
              = l @company.send(attr), :format => :stock_52w_date
            - else
              = @company.send(attr)
.bse_quotes
  %section.daily_prices
    %h1 BSE
    .daily_price_change
      %h1= @company.bse_last_traded_price
      %strong.net_change= @company.bse_net_change
      %span.percent_change= "(#{@company.bse_percent_change}%)"
      - if @company.bse_time
        %p= l @company.bse_time, :format => :short_date_and_time
    %table
      - %w(bse_close_price bse_open_price bse_volume bse_high_price bse_low_price bse_fifty_two_week_high bse_fifty_two_week_low bse_high_date bse_low_date).each do |attr|
        %tr
          %td= t ".#{attr}"
          %td
            - if ["bse_high_date", "bse_low_date" ].include?(attr) && @company.send(attr)
              = l @company.send(attr), :format => :stock_52w_date
            - else
              =@company.send(attr)

%section.news
  %h1 News
  %ul
    - if @company.news_headlines
      - @company.news_headlines.each do |headline|
        %li
          = link_to headline, stock_news_path(:stock_id => @company.company_code, :id => headline), :target => "_blank"

%section
%iframe{:src => @chart_url, :style => "width:750px; height:600px"}

- if @company.share_holding
  %section.share_holding
    %h1 Share Holding Pattern
    %table
      %th Investor Type
      %th Percentage(%)
      - @company.share_holding.non_zero_groups.each do |attr|
        %tr
          %td= t "share_holding.#{attr}"
          %td= @company.share_holding.send(attr)
- if @company.ratio
  %section.ratios
    %h1 Ratios
    %table
      %th Ratio
      %th Value
      - @company.ratio.company_view_items.each do |attr|
        %tr
          %td= t "ratio.#{attr}"
          %td= @company.ratio.send(attr)
.back= link_to 'Back', stocks_path
