= simple_form_for([parent, resource]) do |f|
  = f.error_notification

  .inputs
    = f.input :company_code do
      = f.select :company_code, DataProvider::Company.stocks.order_by([[:name, :asc]]).all.map { |c| [c.name, c.code] }
    = f.input :action, :collection => [["Buy",:buy],["Sell",:sell]], :include_blank => false
    = f.input :quantity
    = f.input :price
    = f.input :date,:order=>[:day,:month,:year]
    = f.input :comments

  .actions
    = f.button :submit
