= simple_form_for([parent, resource]) do |f|
  = f.error_notification

  .inputs
    = f.input :company do
      = f.select :company, Company.stocks.all.map { |c| [c.company_name, c.company_code] }
    = f.input :action, :collection => [["Buy",:buy],["Sell",:sell]], :include_blank => false
    = f.input :quantity
    = f.input :price
    = f.input :date,:order=>[:day,:month,:year]
    = f.input :comments

  .actions
    = f.button :submit
