- unless stock_transactions.empty?
  %table
    %tr
      %th Date
      %th Type
      %th Name
      %th Quantity
      %th Price
      %th Total Amount

    - stock_transactions.each do |stock_transaction|
      %tr
        %td= stock_transaction.date
        %td= stock_transaction.action
        %td= stock_transaction.stock.name
        %td= stock_transaction.amount
        %td= number_to_indian_currency stock_transaction.price
        %td= number_to_indian_currency stock_transaction.total_cost
-else
  = t "transactions.no_stock_transactions"
