- unless stock_transactions.empty?
  %section{ :class => "StockTransactions" }
    %h1= "Stock Transactions"
    %table
      %tr
        %th.dates Date
        %th.type Type
        %th.name Name
        %th.quantity Quantity
        %th.price Price
        %th.amount Amount
        %th.comment Comments
      %tr
        %td
        %td
        %td
        %td
        %td.right (Rs)
        %td.right (Rs)
        %td
      - stock_transactions.each do |stock_transaction|
        %tr
          %td.dates= l stock_transaction.date
          %td.type{:class => stock_transaction.action}= stock_transaction.action.to_s.titleize
          %td.name= stock_transaction.company.company_name
          %td.quantity= stock_transaction.quantity
          %td.price= number_to_indian_currency stock_transaction.price
          %td.amount= number_to_indian_currency stock_transaction.value.abs
          %td.comment= stock_transaction.comments && stock_transaction.comments.strip.empty? ? t("tables_not_available") : stock_transaction.comments
