- unless stock_transactions.empty?
  %section{ :class => "StockTransactions" }
    %h5= "Stock Transactions"
    %table.table.table-striped.table-bordered
      %tr
        %th.dates Date
        %th.type Type
        %th.name Name
        %th.quantity Quantity
        %th.price Price
        %th.amount Amount
        %th.comment Comments
      %tr.right_align
        %td
        %td
        %td
        %td
        %td (Rs)
        %td (Rs)
        %td
      - company_data = false
      - stock_transactions.each do |stock_transaction|
        - if stock_transaction.company
          %tr
            %td.dates= l stock_transaction.date
            %td.type{:class => stock_transaction.action}= stock_transaction.action.to_s.titleize
            %td.name= stock_transaction.company.name
            %td.quantity= stock_transaction.quantity
            %td.price= stock_transaction.price
            %td.amount= stock_transaction.value.abs
            %td.comment= stock_transaction.comments && stock_transaction.comments.strip.empty? ? t("tables_not_available") : stock_transaction.comments
        - else
          - company_data = true
    = company_data ? t("company_data_not_found") : ""
