- unless stock_transactions.empty?
  %section{ :class => "StockTransactions" }
    %h5= "Stock Transactions"
    %table.table.table-striped.table-bordered
      %tr
        %th.span2 Date
        %th.span1 Type
        %th.span3 Name
        %th.span1 Quantity
        %th.span2 Price
        %th.span2 Amount
        %th.span1 Comments
      %tr
        %td
        %td
        %td
        %td
        %td (Rs)
        %td (Rs)
        %td
      - company_data = false
      - stock_transactions.each do |stock_transaction|
        - if stock_transaction.company
          %tr
            %td= l stock_transaction.date
            %td{:class => stock_transaction.action}= stock_transaction.action.to_s.titleize
            %td= stock_transaction.company.name
            %td= stock_transaction.quantity
            %td= stock_transaction.price
            %td= stock_transaction.value.abs
            %td= stock_transaction.comments && stock_transaction.comments.strip.empty? ? t("tables_not_available") : stock_transaction.comments
        - else
          - company_data = true
    = company_data ? t("company_data_not_found") : ""
