.row
  .span6
    = gchart(:data => financial_profile.financial_planner_ideal_asset_allocation.to_a, :title => 'Suggested Asset Allocation', :chart_type => 'Pie')
    %h3 Ideal Portfolio Mix
    %table.table.table-striped.table-bordered
      %tr
        %th Asset Class
        %th Percentage
      - financial_profile.financial_planner_ideal_asset_allocation.each do |asset_class, percentage|
        %tr
          %td= asset_class
          %td= "#{percentage}%"
    = financial_profile.ideal_investment_draw_top_elss_table

  .span6
    = financial_profile.ideal_investment_draw_asset_chart
    = financial_profile.ideal_investment_draw_asset_tables