= simple_nested_form_for([parent, resource]) do |f|
  = f.error_notification

  .inputs
    .security
      = f.fields_for :mutual_fund do |mf|
        = mf.input :scheme do
          = mf.text_field :scheme, data: { autocomplete_source: mutual_funds_path }
    = f.input :action, :collection => [["Buy", :buy], ["Sell", :sell]], :include_blank => false
    = f.input :quantity
    = f.input :price
    = f.input :date, :order => [:day, :month, :year]
    = f.input :comments

  .actions
    = f.button :submit
