= simple_nested_form_for([parent, resource]) do |f|
  = f.error_notification

  .inputs
    .security
      = f.input :scheme do
        = f.text_field :scheme, data: { autocomplete_source: mutual_funds_path, no_redirect: true }
    = f.input :action, :collection => [["Buy", :buy], ["Sell", :sell]], :include_blank => false
    = f.input :quantity
    = f.input :price
    = f.input :date, :order => [:day, :month, :year], :start_year => 2000
    = f.input :comments

  .actions
    = f.button :submit
