%h1 Listing  Mutual Fund Transactions

%table.table.table-striped
  %tr
    %th Date
    %th Type
    %th Name
    %th Quantity
    %th Price
    %th Total Amount

  - collection.each do |mf_transaction|
    %tr
      %td= mf_transaction.date
      %td= mf_transaction.action
      %td= mf_transaction.mutual_fund.name
      %td= mf_transaction.amount
      %td= mf_transaction.price
      %td= mf_transaction.value
      %td= link_to 'Show', resource_path(mf_transaction)
      %td= link_to 'Edit', edit_resource_path(mf_transaction)
      %td= link_to 'Destroy', resource_path(mf_transaction), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Stock transaction', new_resource_path

