<h1><%= name %></h1>

<table class="basic_details">
  <tr>
    <th>Security Name</th>
    <td><%= name %></td>
    <th>Asset Class</th>
    <td><%= asset_class %></td>
  </tr>
  <tr>
    <th>Symbol</th>
    <td><%= symbol %></td>
    <th>Sector</th>
    <td><%= sector %></td>
  </tr>
</table>

<section class="stock_chart">
  <iframe id='iframe_stock' class='iframe_stock' frameborder="0" scrolling="no" src="http://www.cs4w.in/Forska/TechnicalChart.aspx?Code=<%= symbol %>&width=100%&height=450" />
</section>

<dl class="quote_data">
  <dt>Last Traded Price</dt>
  <dd><%= last_traded_price %></dd>
  <dt>Percentage Change</dt>
  <dd><%= percent_change %></dd>
  <dt>Day Change</dt>
  <dd><%= day_change %></dd>
  <dt>Volume</dt>
  <dd><%= volume %></dd>
  <dt>Day High/Low Price</dt>
  <dd><%= high_price %> / <%= low_price %></dd>
</dl>
<dl class="fundamental_data">
  <dt>EPS</dt>
  <dd><%= eps %></dd>
  <dt>P/E Ratio</dt>
  <dd><%= pe %></dd>
  <dt>Year High/Low Prices</dt>
  <dd><%= fifty_two_week_high_price %> / <%= fifty_two_week_low_price %></dd>
  <dt>Year High/Low Dates</dt>
  <dd><%= fifty_two_week_high_date %> / <%= fifty_two_week_low_date %></dd>
  <dt>Beta</dt>
  <dd><%= beta %></dd>
</dl>
