//= render 'mutual_funds/search', :search => @search
.page-header
  = facebook_recommendation(@nav_category_detail.scheme_class_description)

%p= t ".#{@nav_category_detail.scheme_class_description.gsub(/[^\w]/,"").underscore}"


- if @schemes && @schemes.count > 0
  = paginate @schemes
  %table.table.table-striped
    %tr
      %th.name Scheme Name
      %th.center_align Crisil Rank
      %th.nav NAV
      %th.invest_amount Min Investment Amt
      %th.center_align 1 W
      %th.center_align 1 M
      %th.center_align 3 M
      %th.center_align 6 M
      %th.center_align 1 Y
      %th.center_align 2 Y
      %th.center_align 3 Y
    %tr
      %td
      %td
      %td.right_align (Rs)
      %td.right_align (Rs)
      %td.center_align{:colspan => 7} Returns (%)
    - resource.each do |scheme|
      %tr.right_align
        %td.name= link_to scheme.name, mutual_fund_path(scheme)
        %td= scheme.rank
        %td= scheme.nav_amount
        %td= scheme.minimum_investment_amount
        %td= scheme.prev1_week_percent
        %td= scheme.prev1_month_percent
        %td= scheme.prev3_months_percent
        %td= scheme.prev6_months_percent
        %td= scheme.prev_year_percent
        %td= scheme.prev2_year_comp_percent
        %td= scheme.prev3_year_comp_percent

