= render 'mutual_funds/search', :search => @search
%h1= @nav_category_detail.scheme_class_description

%p= t ".#{@nav_category_detail.scheme_class_description.gsub(/[^\w]/,"").underscore}"


- if @schemes && @schemes.count > 0
  = paginate @schemes
  %table
    %tr
      %th.name{:rowspan => 2} Scheme Name
      %th.center{:rowspan => 2} Crisil Rank
      %th.nav NAV
      %th.invest_amount Min Investment Amt
      %th.center{:colspan => 7} Returns (%)
    %tr
      %th.right (Rs)
      %th.right (Rs)
      %th.center 1 W
      %th.center 1 M
      %th.center 3 M
      %th.center 6 M
      %th.center 1 Y
      %th.center 2 Y
      %th.center 3 Y
    - resource.each do |scheme|
      %tr.right
        %td.name= link_to scheme.scheme_name, scheme_summary_mutual_fund_path(scheme.scheme_name)
        %td= scheme.rank
        %td= number_to_indian_currency scheme.nav_amount
        %td= number_to_indian_currency scheme.minimum_investment_amount
        %td= number_to_indian_currency scheme.prev1_week_percent
        %td= number_to_indian_currency scheme.prev1_month_percent
        %td= number_to_indian_currency scheme.prev3_months_percent
        %td= number_to_indian_currency scheme.prev6_months_percent
        %td= number_to_indian_currency scheme.prev_year_percent
        %td= number_to_indian_currency scheme.prev2_year_comp_percent
        %td= number_to_indian_currency scheme.prev3_year_comp_percent

