.subnav
  %ul.nav.nav-pills
    - if @nav_category_detail.try(:scheme_class_description)
      = navigation_link @nav_category_detail.scheme_class_description, main_app.mutual_fund_category_path(params[:id])
    - if @scheme.try(:name)
      = navigation_link 'Scheme Summary'      , main_app.mutual_fund_path(@scheme)
      = navigation_link 'Scheme Returns'      , main_app.scheme_returns_mutual_fund_path(@scheme)
      = navigation_link 'Top Holdings'        , main_app.top_holdings_mutual_fund_path(@scheme)
      = navigation_link 'Detailed Holdings'   , main_app.detailed_holdings_mutual_fund_path(@scheme)
      = navigation_link 'Asset Allocation'    , main_app.asset_allocation_mutual_fund_path(@scheme)
      = navigation_link 'Sectoral Allocation' , main_app.sectoral_allocation_mutual_fund_path(@scheme)
    %li.pull-right
      = simple_form_for @search, :url => main_app.mutual_funds_path, :method => :get, :html => {:novalidate => true, :class => 'form-search'} do |f|
        .input-append
          = f.text_field :name, data: { autocomplete_source: mutual_funds_path }, :placeholder => 'Search Mutual Funds', :class => 'search-query'
