.row.show-grid
  .span12
    = render 'subnav'
- provide :title, @scheme.name if @scheme.model
- if @scheme.asset_allocation
  .row
    .span12
      = facebook_recommendation("Asset Allocation <small>#{@scheme.name}</small>")
  .row
    .span8
      -gchart(:data => @scheme.asset_allocation.to_a, :title => 'Asset Allocation', chart_type: 'Pie')

    .span4
      %table.table.table-striped.table-bordered
        %th Asset Class
        %th Holding (%)
        - @scheme.asset_allocation.each do |name, value|
          %tr
            %td= name
            %td= value
- else
  %p Data not available

#disqus_thread{data: {disqus_identifier: "mutual_funds_#{@scheme.security_code}"}}
