

- if @scheme.portfolio_holdings
  .mf_container
    %h1= "#{@scheme.scheme_name}'s Detailed holdings"
    #detailed_holdings_data
      %table
        %tr
          %th= 'Company Name'
          %th= 'Sector'
          %th= 'Asset Class'
          %th= 'Holding (%)'
          %th= 'Market Value (%)'
          %th= 'Rating'
        - @scheme.portfolio_holdings.each do |portfolio|
          %tr
          %td= portfolio["InvestedCompanyName"]
          %td= portfolio["IndustryName"] || "-"
          %td= portfolio["InstrumentName"] || "-"
          %td= portfolio["Percentage"]
          %td= portfolio["MarketValue"]
          %td= portfolio["Rating"] || "-"
- else
  %p Data Not available

#disqus_thread{data: {disqus_identifier: "mutual_funds_#{@scheme.securitycode}"}}
