.mf_container
  %h1 MutualFunds
  = simple_form_for @search, :url => mutual_funds_path, :method => :get, :html => {:novalidate => true} do |f|
    = f.input :scheme_name
    = f.submit 'Search'

  #scheme_masters
    - if @categories
      %table
        %th Category
        %th No. of Schemes
        %th 1 Week
        %th 1 Month
        %th 3 Months
        %th 6 Months
        %th 1 Year
        %th 2 Years
        %th 3 Years
        - @categories.each do |cat|
          %tr
            %td= cat.scheme_class_description
            %td= cat.no_of_schemes
            %td= cat.one_week_return.round(2)
            %td= cat.one_month_return.round(2)
            %td= cat.three_months_return.round(2)
            %td= cat.six_months_return.round(2)
            %td= cat.one_year_return.round(2)
            %td= cat.two_year_return.round(2)
            %td= cat.three_year_return.round(2)
    -if @scheme_masters
      = paginate @scheme_masters
      %table
        %th Scheme
        %th Minimum Investment Amount
        - @scheme_masters.each do |scheme|
          %tr
            %td
              =link_to scheme.scheme_name, scheme_summary_mutual_fund_path(scheme.scheme_name)
            %td= scheme.minimum_invement_amount

