.row.show-grid
  .span12
    = render 'subnav'
- if @scheme.model
  - provide :title, @scheme.name
  .row
    .span12
      = facebook_recommendation("Comparative returns <small>#{@scheme.name}</small>")
  .row
    .span8.show-grid
      -gchart(:data => @scheme.comparative_returns_data_table, :title => 'Comparative Returns', :yAxisTitle => 'Return(%)', :chart_type => 'Column', :legend => 'bottom')
    .span4.show-grid
      %table.table.table-striped.table-bordered
        %tr
          %th Time Frame
          %th Scheme Return (%)
          %th Category Return (%)

        %tr
          %th 1 day
          %td= rg_colorize @scheme.percentage_change
          %td= rg_colorize @scheme.one_day_return

        %tr
          %td 1 week
          %td= rg_colorize @scheme.percentage_change
          %td= rg_colorize @scheme.one_week_return

        %tr
          %th 1 month
          %td= rg_colorize @scheme.prev1_month_percent
          %td= rg_colorize @scheme.one_month_return

        %tr
          %th 3 months
          %td= rg_colorize @scheme.prev3_months_percent
          %td= rg_colorize @scheme.three_months_return

        %tr
          %th 6 months
          %td= rg_colorize @scheme.prev6_months_percent
          %td= rg_colorize @scheme.six_months_return

        %tr
          %th 9 months
          %td= rg_colorize @scheme.prev9_months_percent
          %td= rg_colorize @scheme.nine_months_return

        %tr
          %th 1 Year
          %td= rg_colorize @scheme.prev_year_percent
          %td= rg_colorize @scheme.one_year_return

        %tr
          %th 2 Years
          %td= rg_colorize @scheme.prev2_year_comp_percent
          %td= rg_colorize @scheme.two_year_return

        %tr
          %th 3 Years
          %td= rg_colorize @scheme.prev3_year_comp_percent
          %td= rg_colorize @scheme.three_year_return
      %p *All returns for periods greater than 1year are annualized.
- else
  %p Data not available

#disqus_thread{data: {disqus_identifier: "mutual_funds_#{@scheme.security_code}"}}
