- if @scheme.model
  .mf_container
    %h1= "Comparative returns - #{@scheme.scheme_name}"
    #comparative_returns
      #mf-comparative-returns-chart{ 'data-scheme-returns' => @scheme.scheme_returns, 'data-category-returns' => @scheme.category_returns  }
      #comparative_returns_data
        %table
          %tr
            %th Time Frame
            %th Scheme Return (%)
            %th Category Return (%)

          %tr
            %td
              %b= '1 day'
            %td= "#{@scheme.percentage_change} %"
            %td= "#{@scheme.one_day_return} %"

          %tr
            %td
              %b= '1 week'
            %td= "#{@scheme.prev1_week_per} %"
            %td= "#{@scheme.one_week_return} %"

          %tr
            %td
              %b= '1 month'
            %td= "#{@scheme.prev1_month_per} %"
            %td= "#{@scheme.one_month_return} %"

          %tr
            %td
              %b= '3 months'
            %td= "#{@scheme.prev3_months_per} %"
            %td= "#{@scheme.three_months_return} %"

          %tr
            %td
              %b= '6 months'
            %td= "#{@scheme.prev6_months_per} %"
            %td= "#{@scheme.six_months_return} %"

          %tr
            %td
              %b= '9 months'
            %td= "#{@scheme.prev9_months_per} %"
            %td= "#{@scheme.nine_months_return} %"

          %tr
            %td
              %b= '1 Year'
            %td= "#{@scheme.prev_year_per} %"
            %td= "#{@scheme.one_year_return} %"

          %tr
            %td
              %b= '2 Years'
            %td= "#{@scheme.prev2_year_comp_per} %"
            %td= "#{@scheme.two_year_return} %"

          %tr
            %td
              %b= '3 Years'
            %td= "#{@scheme.prev3_year_comp_per} %"
            %td= "#{@scheme.three_year_return} %"
        %p  *All returns for periods greater than 1year are annualized.
- else
  %p Data not available
