= render 'subnav'
- provide :title, @scheme.name if @scheme.model
- if @scheme.sectoral_allocation
  .row
    .span12.show-grid
      .page-header
        %h2
          Sectoral Allocation
          %small= @scheme.name
  .row
    .span8.show-grid
      #mf-sectoral-allocation-chart.chart{ data: { elements: [['','']] + @scheme.sectoral_allocation.to_a,
                                                   title: 'Sectoral Allocation', chartType: 'Pie' } }
    .span4.show-grid
      %table.table.table-striped
        %th Sector
        %th Holding (%)
        - @scheme.sectoral_allocation.each do |name, value|
          %tr
            %td= name
            %td= value
- else
  %p Data not available

#disqus_thread{data: {disqus_identifier: "mutual_funds_#{@scheme.security_code}"}}
