.row.show-grid
  .span12
    = render 'subnav'
- provide :title, @scheme.name if @scheme.model
- if @scheme.sectoral_allocation
  .row
    .span12
      .page-header
        = facebook_recommendation("Sectoral Allocation <small>#{@scheme.name}</small>")
  .row
    .span8.show-grid
      -gchart(:data => @scheme.sectoral_allocation, :title => 'Sectoral Allocation', chartType: 'Pie')
    .span4
      %table.table.table-striped.table-bordered
        %th Sector
        %th Holding (%)
        - @scheme.sectoral_allocation.each do |name, value|
          %tr
            %td= name
            %td= value
- else
  %p Data not available

#disqus_thread{data: {disqus_identifier: "mutual_funds_#{@scheme.security_code}"}}
