
- provide :title, @scheme.scheme_name if @scheme.model
- if @scheme.sectoral_allocation
  .mf_container
    %h1= "#{@scheme.scheme_name}'s Sectoral Allocation"
    #sectoral_allocation
      #mf-sectoral-allocation-chart.chart{ data: { elements: [['','']] + @scheme.sectoral_allocation.to_a,
                                                   title: 'Sectoral Allocation', chartType: 'Pie' } }
      #sectoral_allocation_data
        %table
          %th Sector
          %th Holding (%)
          - @scheme.sectoral_allocation.each do |name, value|
            %tr
              %td= name
              %td= value
- else
  %p Data not available

#disqus_thread{data: {disqus_identifier: "mutual_funds_#{@scheme.securitycode}"}}
