= render 'subnav'
- if @scheme.model
  - provide :title, @scheme.name
  .row
    .span12
      .page-header
        %h1
          =@scheme.name
          %small
            %strong= @scheme.nav_amount
            = @scheme.day_change
            = rg_colorize "(#{@scheme.percentage_change}%)", @scheme.percentage_change
  .row
    .span12
      %p
        %strong= 'Category :'
        %span= @scheme.class_description
        %strong= 'Benchmark Index :'
        %span= @scheme.bench_mark_index_name
  .row
    .span12.show-grid
      %table.table.table-striped
        %tr
          %td
            %b= 'Asset Management Company'
          %td= @scheme.company_name
        %tr
          %td
            %b= 'Plan'
          %td= @scheme.plan_description

        %tr
          %td
            %b= 'Type'
          %td= @scheme.type_description

        %tr
          %td
            %b= 'Launch Date'
          %td= l @scheme.launch_date , :format => :short_date

        %tr
          %td
            %b= 'Minimum Investment Amount (Rs)'
          %td= number_to_indian_currency @scheme.minimum_investment_amount

        %tr
          %td
            %b= 'Entry Load'
          %td{:style => "width:70%"}= "#{@scheme.entry_load.to_f} %"

        %tr
          %td
            %b= 'Exit Load'
          %td= "#{@scheme.exit_load.to_f} %"

        %tr
          %td
            %b= 'Redemption Frequency'
          %td= @scheme.redemption_frequency

        %tr
          %td
            %b= 'SIP Possible ?'
          %td= @scheme.sip

        %tr
          %td
            %b= 'Fund Manager Name'
          %td= "#{@scheme.fund_manager_prefix} #{@scheme.fund_manager_name}"

        %tr
          %td
            %b= 'Size (Rs)'
          %td= "#{@scheme.size}cr"


        %tr
          %td
            %b= 'Objective'
          %td= @scheme.objective

        %tr
          %td
            %b= 'Dividend'
          %td= @scheme.dividend_percentage

        %tr
          %td
            %b= 'Date of Dividend'
          %td= @scheme.dividend_date
  #disqus_thread{data: {disqus_identifier: "mutual_funds_#{@scheme.security_code}"}}
- else
  %p Data not available
