.row.show-grid
  .span12
    = render 'subnav'

- provide :title, @scheme.name if @scheme.model
- if @scheme.portfolio_holdings
  .row
    .span12
      .page-header
        = facebook_recommendation("Top holdings <small>#{@scheme.name}</small>")
  .row
    .span12.show-grid
      -gchart(:data => @scheme.top_ten_holdings_percentages, :title => 'Top 10 holdings Distribution', :chartType => 'Pie')

  .row.show-grid
    .span12
      %table.table.table-striped.table-bordered
        %tr
          %th= 'Company Name'
          %th= 'Holding (%)'
          %th= 'Asset Class'
          %th= 'Sector'
          %th= 'Rating'
          - @scheme.portfolio_holdings.take(10).each do |portfolio|
            %tr{ class: cycle("odd", "even") }
              %td= portfolio["InvestedCompanyName"]
              %td= portfolio["Percentage"]
              %td= portfolio["InstrumentName"]
              %td= portfolio["IndustryName"] || "-"
              %td= portfolio["Rating"] || "-"

- else
  %p Data not available

#disqus_thread{data: {disqus_identifier: "mutual_funds_#{@scheme.security_code}"}}
