- provide :title, @scheme.scheme_name if @scheme.model
- if @scheme.portfolio_holdings
  .mf_container
    %h1= "#{@scheme.scheme_name}'s Top Holdings"
    #top_holdings
      #top-holdings-chart.chart{data: { elements: [['','']] + @scheme.top_ten_holdings_percentages,
                                        title: 'Top 10 holdings Distribution', chartType: 'Pie' } }
      #top_holdings_data
        %table
          %tr
            %th= 'Company Name'
            %th= 'Holding (%)'
            %th= 'Asset Class'
            %th= 'Sector'
            %th= 'Rating'
            - @scheme.portfolio_holdings.take(10).each do |portfolio|
              %tr
                %td= portfolio["InvestedCompanyName"]
                %td= portfolio["Percentage"]
                %td= portfolio["InstrumentName"]
                %td= portfolio["IndustryName"] || "-"
                %td= portfolio["Rating"] || "-"

- else
  %p Data not available

#disqus_thread{data: {disqus_identifier: "mutual_funds_#{@scheme.securitycode}"}}
