.row
  .span9
    %h1 You have successfully completed your quiz.
    %h2
      = "Your score  :  #{@learning_tool.score} out of #{LearningTool::QUIZ_LIMIT}"
    %h2 Listing attempted questions

    %table.table
      %thead
        %tr
          %th No
          %th Question
          %th Your Response
          %th Answer
      - @learning_tool.quiz_summary.each_with_index do |summary, index|
        = QuizSummaryDecorator.new(summary, index).table_rows

    Share your score on facebook.
    = link_to t('.facebook.post_wall'), facebook_share_url(quiz_details_fb_hsh(@learning_tool.score)), :class => 'btn btn-primary'
    Start new quiz.
    = link_to "Restart Quiz",start_quiz_learning_tools_path

  .span3
    %img{:src => "http://placehold.it/270x300&text=ads"}/
    %img{:src => "http://placehold.it/270x300&text=ads"}/