%category
  %h1 Investment Concepts
  %ul
    %li= link_to 'Risk & Return', 'risk_and_return'
    %li= link_to 'Time Value of Money','time_value_of_money'
    %li= link_to 'Diversification','diversification'
    %li= link_to 'Investment vs Trading','investment_trading'
%category
  %h1 Investment Process
  %ul
    %li= link_to 'Analyzing your Needs', 'analyzing_needs'
    %li= link_to 'Investment Plan', 'investment_plan'
    %li= link_to 'Asset Allocation', 'asset_allocation'
    %li= link_to 'Choosing Investments', 'choosing_investments'
    %li= link_to 'Start Investing', 'start_investing'
    %li= link_to 'Track your Investments', 'track_investment'
    %li= link_to 'Risk Management', 'risk_management'
    %li= link_to 'Reduce Your Taxes', 'reduce_taxes'
%category
  %h1 Investment Analysis
  %ul
    %li= link_to 'Fundamental AnalysisI', 'fundamental_analysis1'
    %li= link_to 'Fundamental AnalysisII', 'fundamental_analysis2'
    %li= link_to 'Technical Analysis', 'technical_analysis'
%category
  %h1 Types Of Investment
  %ul
    %li= link_to 'Cash Equivalents', 'cash_equivalents'
    %li= link_to 'Stocks I', 'stocks1'
    %li= link_to 'Stocks II', 'stocks2'
    %li= link_to 'Bonds', 'bonds'
    %li= link_to 'Mutual Funds', 'mutual_funds'
    %li= link_to 'Exchange Traded Funds', 'exchange_traded'
    %li= link_to 'Commodities', 'commodities'
    %li= link_to 'Insurance Products', 'insurance_products'
    %li= link_to 'Real Estate Investments', 'real_estate_investment'
%category
  %h1 Advanced Investments
  %ul
    %li= link_to 'Foreign Exchange I', 'foreign_exchange1'
    %li= link_to 'Foreign Exchange II', 'foreign_exchange2'
    %li= link_to 'Forwards', 'forwards'
    %li= link_to 'Futures I', 'futures1'
    %li= link_to 'Futures II', 'futures2'
    %li= link_to 'Options I', 'options1'
    %li= link_to 'Options II', 'options2'
%category
  %h1 Jargon Demystified
  %ul
    %li=link_to 'Glossary', 'glossary'
