%nav
  %ul
    %li= link_to 'Stock Markets', '#stock_markets'
    %li.active= link_to 'Economy News', '#economy_news'
    %li= link_to 'World News', '#world_news'
    %li= link_to 'IPOs', '#ipos'
    %li= link_to 'Results', '#results'
    %li= link_to 'Sector Spotlights', '#sector_spotlights'
    %li= link_to 'Commodities', '#commodities'

%section#stock_markets
  %ul
    %li
      %h1 Sebi's new takeover rules come into force
      %p
        Widely known as the Takeover Code, the new regulations were notified by the Sebi last month.
        = link_to "Read more", "http://www.financialexpress.com/news/sebis-new-takeover-rules-come-into-force/864340/"
    %li
      %h1 Sensex dives to 5-week low on SBI downgrade
      %p
        The BSE Sensex dropped for a third straight session on Tuesday, falling 1.77 percent to its lowest close in more than five weeks.
        = link_to "Read more", "http://economictimes.feedsportal.com/fy/8av2EvV0SQ8av0yZ/story01.htm"
    %li
      %h1 RBI meet, eurozone woes to affect mkts
      %p
        The BSE benchmark Sensex last week shed 1.73% on high inflation and mixed global cues.
        = link_to "Read more", "http://www.financialexpress.com/news/rbi-meet-eurozone-woes-to-affect-mkts/864291/"
    %li
      %h1 Patni Computers is outperforming the market: Mitesh Thacker
      %p
        Patni needs to get past Rs 300-305 to get into some kind of an upside momentum but otherwise this is one stock, which is holding out nicely.
        = link_to "Read more", "http://economictimes.feedsportal.com/fy/8av2EvV0SQ6dv0yZ/story01.htm"
    %li
      %h1 Seven cos lose Rs 36K cr in m-cap
      %p
        M-cap of TCS dropped Rs 16,881 crore, at Rs 2,05,165 crore, as on Friday.
        = link_to "Read more", "http://www.financialexpress.com/news/seven-cos-lose-rs-36k-cr-in-mcap/864284/"
    %li
      %h1 Groupon's scaled back IPO to raise up to $540 mn
      %p
        The company aims to sell 30 million shares, or less than 5 percent of the company.
        = link_to "Read more", "http://www.financialexpress.com/news/groupons-scaled-back-ipo-to-raise-up-to-540-mn/864016/"
    %li
      %h1 Nifty ends below 4775; SBI, Coal India, M&amp;M down
      %p
        The 50-share Nifty index ended in deep red but off day’s lows as weak cues from European peers and downgrade of SBI hurt investors’ sentiment.
        = link_to "Read more", "http://economictimes.feedsportal.com/fy/8av2EvV0SQ1JX0yY/story01.htm"
    %li
      %h1 DLF stock sheds 4% on SEBI probe order
      %p
        A Delhi-based businessman said that he was duped of Rs 34 cr by DLF.
        = link_to "Read more", "http://www.financialexpress.com/news/dlf-stock-sheds-4-on-sebi-probe-order/863460/"
    %li
      %h1 Markeet is reading into the news in case of SBI: Jitendra Sriram, HSBC Asset Management
      %p
        SBI will always score a little higher because it is completely government owned. It is the biggest bank in the country.
        = link_to "Read more", "http://economictimes.feedsportal.com/fy/8av2EvV0SQ1JW0yY/story01.htm"
    %li
      %h1 Wait and watch for Sintex: Ashwani Gujral
      %p
        Sintex stock is weak and may be it could go down another 10-15 bucks but in this sort of market it is very difficult to use technicals for midcaps.
        = link_to "Read more", "http://economictimes.feedsportal.com/fy/8av2EvV0SPzWq0yY/story01.htm"
