%nav
  %ul
    %li= link_to 'Stock Markets', '#stock_markets'
    %li.active= link_to 'Economy News', '#economy_news'
    %li= link_to 'World News', '#world_news'
    %li= link_to 'IPOs', '#ipos'
    %li= link_to 'Results', '#results'
    %li= link_to 'Sector Spotlights', '#sector_spotlights'
    %li= link_to 'Commodities', '#commodities'

- %w(stock_markets economy_news world_news ipos results sector_spotlights commodities).each do |section_name|
  %section{:id => section_name}
    - get_feeds(section_name).each do |entry|
      %article
        %h1= entry[:title]
        %p
          = entry[:summary]
          = entry[:published]
          = entry[:source]
          = link_to "Read more..", entry[:url]

