%nav
  %ul
    %li= link_to 'Stock Markets', '#stock_markets'
    %li.active= link_to 'Economy News', '#economy_news'
    %li= link_to 'World News', '#world_news'
    %li= link_to 'IPOs', '#ipos'
    %li= link_to 'Results', '#results'
    %li= link_to 'Sector Spotlights', '#sector_spotlights'
    %li= link_to 'Commodities', '#commodities'

- NewsArticle.get_feeds.each do |section_name,articles|
  %section{:id => section_name}
    %article
    - articles.each do |article|
      = link_to article.url, :title => article.source, :target => :blank do
        %h1= article.id
      %p= article.summary
