%nav
  %ul
    - %w(stock_markets economy_news world_news ipos results sector_spotlights commodities).each do |section_name|
      %li{:id => "#{section_name}-parent"}= link_to t(".#{section_name}"), "##{section_name}", 'data-slidein' => true

- %w(stock_markets economy_news world_news ipos results sector_spotlights commodities).each do |section_name|
  %section{:id => section_name}
    - get_feeds(section_name).each do |entry|
      %article
        %h1= entry[:title]
        %p
          = entry[:summary]
          = entry[:published]
          = entry[:source]
          = link_to "Read more..", entry[:url]

