%ul
  %li Sensex
  %li= REDIS.get("Ticker_sensex_current")
  %li= REDIS.get("Ticker_sensex_change")
  %li Nifty
  %li= REDIS.get("Ticker_nifty_current")
  %li= REDIS.get("Ticker_nifty_change")
  %li DowJones
  %li= REDIS.get("Ticker_dowjones_current")
  %li= REDIS.get("Ticker_dowjones_change")
  %li USD 1
  %li= REDIS.get("Ticker_usd_to_inr")
  %li Gold (10 Gms.)
  %li= REDIS.get("Ticker_gold_current")
