.row
  .span12
    = facebook_recommendation('Alcohol Sector')
    %small Report published on August 21st, 2012
    %p #{link_to 'By Aditya Gupta', main_app.page_path('research-team')}
    %section
      %h5 Sector Overview
      %p
        With 50% of Indian population below the age of 25 and a growing middle class, the Indian demographic
        picture certainly holds a very promising future for the Alcohol sector in India. However the sector is marred by
        excessive regulation, taxation and constantly fluctuating prices of raw materials.

      %p
        As a growing number of youth enter the work force, the prospects of growth of alcohol industry looks bright.
        This clubbed with increased disposable income in hands of average user and greater influence of western
        culture looks like a positive for the industry.

      %p
        On the flip side, the industry is heavily regulated. In certain states, sale and consumption of alcohol is banned
        (example: Gujarat). Alcohol is taxed at the state level and is one of the biggest contributors to the state
        coffers. Nearly 60-70% of MRP is actually paid out in form of taxes. Considering most of the states are tightly
        clipped in terms of funds, we do not see states passing on any relief to the alcohol industry in the near future.
        Restricted communication in form of direct advertisement also hurts the industry. The industry suffers from
        constantly fluctuating input costs.
    %section
      %h2 Fundamentals

      %h5 Growth History
      %p
        Liquor industry is highly seasonal in nature with the summer months marking the peak season. Over the past
        few years the industry has been clocking earnings growth in double digits. However last year the momentum
        seems to have slowed down. In fact the three largest players by sales; United Spirits, United Breweries and
        Radico Khaitan ; have all registered a fall in ‘per share earnings’ during this period.
    %section
      = image_tag 'EPS-from-June-2008-June-2012.png'
      %h3 EPS from June 2008 - June 2008
    %section
      = image_tag 'Source-Standalone-quarterly-filings-of-various-companies-from-Dion-Global.png'
      %br
      %small Source: Standalone quarterly filings of various companies from Dion Global
    %section
      %h5 Growth Prospects
      %p
        As mentioned earlier, the potential for growth in sales in India is huge and going by recent trends, we only see
        it spiralling up. Market leaders, United Spirits and United Breweries have clocked an impressive 4 year CAGR
        growth of 22.90% p.a. and 28.08% p.a. respectively. Relatively smaller counter - Globus Spirits has grown
        at 45.27% p.a. (4 year CAGR). Radico Khaitan when compared to its peers has been a tad disappointing but
        we feel the company stands in a good position to catch up with its peers. It holds the largest selling brand of
        vodka (Magic Moments) in its portfolio and has recently tied up with Suntory of Japan, one of world’s largest
        premium spirits companies, to cater to India’s growing demand for premium alcohol. Amongst the mid-tier
        firms though, Tilaknagar Industries recorded an impressive 30.5% growth in sales (y-o-y), Globus Spirits has
        been extremely impressive registering a growth of 64.1% in the past year and clocking a growth of 45.27%
        p.a. (CAGR) over 2 years.
      %table.table.table-bordered.table-striped
        %tr
          %caption
            %b Sales Summary
        %tr
          %th.span4
          %th United Breweries
          %th United Spirits
          %th Radico Khaitan
          %th Tilaknagar Industries
          %th Globus Spirits
        %tr
          %td Current Sales (crores)
          %td 3875.07
          %td 7788.25
          %td 1178.1
          %td 486.71
          %td 585.68
        %tr
          %td 4 Year CAGR (per annum)
          %td 28.08%
          %td 22.90%
          %td 9.64%
          %td 14.96%*
          %td 45.27%*
        %tr
          %td 1 Year CAGR
          %td 30.92%
          %td 12.93%
          %td 10.01%
          %td 30.52%
          %td 64.12%
        %tr
          %td Rating
          %td A
          %td A
          %td C
          %td B
          %td A
        %tr
          %td{:colspan => '6'}
            %small* 2 year CAGR growth
    %section
      %table.table.table-bordered.table-striped
        %tr
          %caption
            %b Most Prominent Brand (sales of over 1 million cases)
        %tr
          %th Whisky
          %th Brandy
          %th Rum
          %th Vodka & Gin
          %th Beer
        %tr
          %th.align-center{:colspan => 5} United Breweries
        %tr
          %th -
          %th -
          %th -
          %th -
          %th -
        %tr
          %th.align-center{:colspan => 5} United Spirits
        %tr
          %td Director's Special
          %td McDowell's No.1
          %td Old Cask Rum
          %td Carew's
          %td -
        %tr
          %td Old Tavern
          %td Honey Bee
          %td Bagpiper Rum
          %td White Mischief
          %td -
        %tr
          %td Haywards
          %td McDowell's VSOP Brandy
          %td McDowell's No.1 Celebration Rum
          %td Romanov
          %td - 
        %tr
          %td McDowell's Green Label
          %td - 
          %td - 
          %td - 
          %td - 
        %tr
          %td Gold Riband Royal Challenge
          %td - 
          %td - 
          %td - 
          %td - 
        %tr
          %td DSP Black Signature
          %td - 
          %td - 
          %td - 
          %td - 
        %tr
          %td Derby Special Whisky
          %td - 
          %td - 
          %td - 
          %td - 
        %tr
          %td Men's Club Whisky
          %td - 
          %td - 
          %td - 
          %td - 
        %tr
          %td Bagpiper
          %td - 
          %td - 
          %td - 
          %td - 
        %tr
          %td McDowell's No.1
          %td - 
          %td - 
          %td - 
          %td - 
        %tr
          %td McDowell's No.1 Platinum Whisky
          %td - 
          %td - 
          %td - 
          %td -
        %tr
          %th.align-center{:colspan => 5} Radico
        %tr
          %td 8 PM
          %td Old Admiral Brandy
          %td Contessa Rum
          %td Magic Moments
          %td -
        %tr
          %th.align-center{:colspan => 5} Tilaknagar Industries
        %tr
          %td -
          %td Mansion House
          %td Madira Rum
          %td -
          %td -
          %tr
            %th.align-center{:colspan => 5} Globus Spirits
          %tr
            %td -
            %td -
            %td -
            %td -
            %td -

    %section
      %h5 Profitability
      %p
        Though the growth potential for the industry seems very good, the challenge that remains in front of the
        companies is maintaining consistency in profits. While United Breweries’s profits has shown a handsome
        growth of 30.28% p.a. over the past 4 years (CAGR), its profits for last year declined by 5.58% relative to 2
        years back. United Spirits Y-o-Y profits declined by 16.61%. In fact the company’s profit growth has been
        remained flat over the past 4 years. Radico Khaitan has been very inconsistent in terms of its profitability
        (refer to the table: Y-o-Y growth in profitability- Net Profit). Its Y-o-Y profits have declined by 17.36%. In-spite
        of the decline, the company managed to post a healthy 4 year CAGR growth rate of 23.23% p.a. Tilaknagar
        Industries and Globus Spirits are walking shoulder to shoulder with 2 year CAGRs of 17.43% p.a. and 16.84%
        p.a.
      %table.table.table-bordered.table-striped
        %caption
          %b Growth in Net Profit
        %tr
          %th.span4
          %th United Breweries
          %th United Spirits
          %th Radico Khaitan
          %th Tilaknagar Industries
          %th Globus Spirits
        %tr
          %td Current Net Profit (Jun 11- Jun 12)
          %td 153.78
          %td 350.01
          %td 64.04
          %td 46.39
          %td 38.84
        %tr
          %td 4 Year CAGR (per annum)
          %td 30.28%
          %td -0.04%
          %td 23.23%
          %td 17.43%*
          %td 16.84%*
        %tr
          %td 1 Year CAGR
          %td -5.58%
          %td -16.61%
          %td -17.36%
          %td 35.92%*
          %td 20.02%*
        %tr
          %td Rating
          %td A
          %td C
          %td B
          %td B
          %td B
        %tr
          %td{:colspan => '6'}
            %small * 2 year growth

      %table.table.table-bordered.table-striped
        %caption
          %b Y-o-Y growth in profitability (Net Profit)
        %tr
          %th.span4
          %th United Breweries
          %th United Spirits
          %th Radico Khaitan
          %th Tilaknagar Industries
          %th Globus Spirits
        %tr
          %td Jun 11- Jun 12
          %td -5.58%
          %td -16.61%
          %td -17.36%
          %td 35.92%
          %td 20.02%
        %tr
          %td Jun 10- Jun 11
          %td 20.41%
          %td 21.88%
          %td 65.22%
          %td 1.46%
          %td 13.74%
        %tr
          %td Jun 09- Jun 10
          %td 80.26%
          %td -3.73%
          %td 352.27%
          %td
          %td
        %tr
          %td Jun 08 -Jun 09
          %td 40.56%
          %td 2.02%
          %td -62.66%
          %td
          %td
      %table.table.table-bordered.table-striped
        %caption
          %b Net Profit Margin
        %tr
          %th.span4
          %th United Breweries
          %th United Spirits
          %th Radico Khaitan
          %th Tilaknagar Industries
          %th Globus Spirits
        %tr
          %td Net Profit Margin*
          %td 8.05%
          %td 6.99%
          %td 6.95%
          %td 8.80%
          %td 6.62%
        %tr
          %td{:colspan => '6'}
            %small * As on June 30th, 2012 filing
      %p
        United Spirits has been able to maintain an operating profit which is in line with that of the industry but it suffers from heavy outflow of cash in the form of interest expense. Last year, United Spirits paid almost 54% of its operating profits towards interest expenses. Over the past 5 years, interest expense has costed the company nearly 38.5% of its operating profit. Tilaknagar Industries has the most impressive operating profit margins but again the company is a victim of high interest expense.
      %table.table.table-bordered.table-striped
        %caption
          %b Operating Profit Margins
        %tr
          %th.span4
          %th United Breweries
          %th United Spirits
          %th Radico Khaitan
          %th Tilaknagar Industries
          %th Globus Spirits
        %tr
          %td Operating Profit Margin
          %td 15.43%
          %td 16.91%
          %td 17.26%
          %td 27.81%
          %td 13.06%
        %tr
          %td 5 Years Average *
          %td 11.42%
          %td 16.79%
          %td 13.10%
          %td 27.42%
          %td 13.91%
        %tr
          %td 1 Year Average*
          %td 10.12%
          %td 14.10%
          %td 15.35%
          %td 29.69%
          %td 12.59%
        %tr
          %td{:colspan => '6'}
            %small * Average of quarterly operating margins for the corresponding period.
      %table.table.table-bordered.table-striped
        %caption
          %b Interest paid as percentage of Gross Profit
        %tr
          %th.span4
          %th United Breweries
          %th United Spirits
          %th Radico Khaitan
          %th Tilaknagar Industries
          %th Globus Spirits
        %tr
          %td 5 Years Average*
          %td 23.72%
          %td 37.54%
          %td 47.10%
          %td 37.17%
          %td 5.17%
        %tr
          %td 1 Year Average*
          %td 20.46%
          %td 56.10%
          %td 34.18%
          %td 37.80%
          %td 7.04%
        %tr
          %td Rating
          %td B
          %td C
          %td C
          %td C
          %td A
        %tr
          %td{:colspan => '6'}
            %small * Average = average of quarterly results
    %section
      %h5 Short term solvency
      %p United Spirits looks comfortable to meet its short term obligations. Tilaknagar Industries and Globus Spirits seem to be on the border line and any deterioration from this point will be a cause of concern.
      %table.table.table-bordered.table-striped
        %caption
          %b Current Ratio
        %tr
          %th.span4
          %th United Breweries
          %th United Spirits
          %th Radico Khaitan
          %th Tilaknagar Industries
          %th Globus Spirits
        %tr
          %td As on June 30, 2012
          %td 1.03
          %td 2.08
          %td 1.07
          %td 0.75
          %td 0.75
    %section
      %h5 Valuation
      %p At a PE of 95.26, not only is United Breweries the most expensive counter but it is also trading at a valuation which is almost three times that of the closest stock in the industry. United Spirits and Tilaknagar Industries are trading close to their 4 year average PE, while Radico Khaitan and Global Spirits seem to be trading below their long term average PE.
      %table.table.table-bordered.table-striped
        %caption
          %b P/E Summary
        %tr
          %th.span4 Company
          %th United Breweries
          %th United Spirits
          %th Radico Khaitan
          %th Tilaknagar Industries
          %th Globus Spirits
        %tr
          %td CMP
          %td 557.3
          %td 980
          %td 106
          %td 49.1
          %td 108
        %tr
          %td Current PE
          %td 95.26
          %td 36.62
          %td 21.95
          %td 12.49
          %td 6.39
        %tr
          %td Average PE
          %td 62.66
          %td 31.79
          %td 35.28
          %td 12.82
          %td 8.41
        %tr
          %td Highest PE
          %td 114.66
          %td 59.99
          %td 73.62
          %td 19.13
          %td 13.02
        %tr
          %td Lowest PE
          %td 33.21
          %td 15.62
          %td 19
          %td 8.23
          %td 5.27
        %tr
          %td Rating
          %td C
          %td B
          %td A
          %td B
          %td A
    %section.align-center
      %h3 Historical PE (based on trailing 12 months earnings)
      = image_tag 'Historical-PE.png'
    %section
      %h5 Return History
      %p United Breweries and Tilaknagar Industries have returned the most over a 4 year period, while United Spirits and Globus Spirits have yielded negative returns. Radico Khaitan has yielded mediocre returns during the same period.
      %table.table.table-bordered.table-striped
        %caption
          %b Return History
        %tr
          %th.span4 Period
          %th United Breweries
          %th United Spirits
          %th Radico Khaitan
          %th Tilaknagar Industries
          %th Globus Spirits
        %tr
          %td CMP
          %td 557.3
          %td 980
          %td 106
          %td 49.1
          %td 108
        %tr
          %td 4y Stock return
          %td 33.04%
          %td -6.25%
          %td 9.33%
          %td 38.93%
          %td -19.94%*
        %tr
          %td 4y NSE return
          %td 6.06%
          %td 6.06%
          %td 6.06%
          %td 6.06%
          %td -0.10%*
        %tr
          %td 1y Stock return
          %td 34.18%
          %td 4.70%
          %td -16.76%
          %td 31.46%
          %td -14.05%
        %tr
          %td 1y NSE return
          %td 11.87%
          %td 11.87%
          %td 11.87%
          %td 11.87%
          %td 11.87%
        %tr
          %td{:colspan => '6'}
            %small * 2.5 years return
    %section
      %h5 Short term recommendations
      %p Due to the on-going Kingfisher Airline crises, the UB Group may be forced to sell a piece of their holdings in United Breweries and United Spirits which may result in some value unlocking in the respective companies. But at a PE of 95.26, we feel United Breweries is an extremely over-priced counter and calls for an immediate sell. United Spirits seems to be fairly priced and investors, who have already invested in it, may continue holding their shares and expect moderate returns. While the industry PE is 41.28 (source: www.moneycontrol.com), at just 6.39, Globus Spirits seems to be available at a bargain and thus we put a “Buy” on it.
      %table.table.table-bordered.table-striped
        %caption
          %b Short term recommendations
        %tr
          %th.span4 Company
          %th United Breweries
          %th United Spirits
          %th Radico Khaitan
          %th Tilaknagar Industries
          %th Globus Spirits
        %tr
          %td Short term rating
          %td Sell
          %td Sell
          %td Hold
          %td Hold
          %td Buy
    %section
      %h5 Long term recommendations
      %p
        %b United Breweries:
        United Breweries has everything going right for it. It has a great business, very good portfolio of brands, consistently growing sales and profits, debt burden is not huge. But would you be willing to pay a premium of 95.26 times its earnings. I doubt. There are better prospects available within the industry and across the market. Hence we put a “SELL” on it.

      %p
        %b United Spirits:
        Market leader by huge margin, United Spirits has done exceedingly well to maintain its position. However we feel that the interest burden is casting its spell on the company’s operations and eating away a huge share of its profits. Over the past 4 years, the company’s profit growth has remained flat in spite of a 22.9% CAGR growth in sales. Unless the company takes steps to reduce debt, we do not see an improvement in profitability.  Hence we put a “SELL” on it.

      %p
        %b Radico Khaitan:
        The company has been very inconsistent in terms performance. It sales and profits have been very fluctuating. There seems to be no consistent trend in its earnings. Also it is plagued by heavy interest expense. However, if we consider its portfolio of brands and its recent alliances such as that with Suntory of Japan, we feel it has potential but we would like to see some consistency before we start investing in it. We put a “HOLD” on it.
      %p
        %b Tilaknagar Industries:
        The company has been growing at a steady rate and has given excellent returns in the past (compounded returns of 38.93% p.a. over 4 years). It has the highest operating margins in the industry. But again, interest outflow is a point of concern. With the stock trading close to its 4 year average PE, we feel the share is fairly priced and can give modest returns for those who continue holding it. We put a ”HOLD” on it.

      %p
        %b Globus Spirits:
        The company has been really impressive in terms of its sales growth. Other parameters like net profit margin and gross profit margins look fairly good and in line with industry standards. It has an extremely low interest outflow. We feel the stock is thoroughly under-priced and stands to undergo a rating change in the near future. We put a “BUY” on it.
      %table.table.table-bordered.table-striped
        %caption
          %b Long term recommendations
        %tr
          %th.span4 Company
          %th United Breweries
          %th United Spirits
          %th Radico Khaitan
          %th Tilaknagar Industries
          %th Globus Spirits
        %tr
          %td Long term rating
          %td Sell
          %td Sell
          %td Hold
          %td Hold
          %td Buy
        %tr
          %td Price Target
          %td 473.7
          %td 931
          %td 113.95
          %td 55.25
          %td 156.6
        %tr
          %td Current Price
          %td 557.3
          %td 980
          %td 106
          %td 49.1
          %td 108

