.row.show-grid
  .span9
    %h1 How it works
    .row-fluid
      .span6.bs-well
        %h5.header Step 1
        %p Tell us a bit about your financial condition, future goals and constraints.
      .span6.bs-well
        %h5.header Step 2
        %p We will convert your 4% return from a savings bank account to a money multiplying portfolio.
    %hr.soften
    .row-fluid
      .span6
        .thumb
          %h5
            = image_tag 'Personalized.png', :class => 'bs-icon'
            Personalized investment suggestions
          %p Gives you personalized investment suggestions based on your unique financial needs & constraints.
      .span6
        .thumb
          %h5
            = image_tag 'Sectoral_Analysis.png', :class => 'bs-icon'
            Balance between risk and return
          %p Ensures that you strike a perfect balance between risk and return. All suggestions are based on financial experts’ opinion & backed by 10 years of market data.
    .row-fluid
      .span6
        .thumb
          %h5
            = image_tag 'Diversification.png', :class => 'bs-icon'
            Diversification
          %p Automatically ensures diversification across asset classes such as stocks, fixed deposits and gold. This reduces the riskiness of your portfolio drastically.
      .span6
        .thumb
          %h5
            = image_tag 'Quick_-free_and_beginner_-friendly.png', :class => 'bs-icon'
            Quick, free and beginner friendly
          %p Completely free of cost and doesn’t require a credit card or email address. Takes less than a minute to finish and requires no prior knowledge of investing.
    .row-fluid.show-grid
      .span12.align-center
        .thumb
          = link_to 'Get Started..Free!', main_app.edit_comprehensive_risk_profiler_path, :class => %w(btn btn-warning btn-large)
    .row-fluid.show-grid
      .span12.align-center
        .well
          %iframe{:width => "840", :height=>"450", :src=>"http://www.youtube.com/embed/8slrbi6lflU?rel=0", :frameborder=>"0"}
  .span3
    .row-fluid
      .span12
        .thumb
          = link_to image_tag('investment-workshop.png',:class => 'img-rounded'), main_app.page_path('investment-workshop')
    .row-fluid
      .span12.well
        %h5.header User Testimonials
        %ul.styling-testimonials.unstyled
          %li
            %blockquote
              %p A stud of financial planning.

            %p
              %cite -Amit, Delhi
          %hr
          %li
            %blockquote
              %p Thank you for such a website! I really needed this! I'm sure the site would become popular soon! Keep up the good work.
            %p
              %cite -Nikhil, Bangalore
          %hr
          %li
            %blockquote
              %p It tells a normal man about the right investment and in right direction. moreover it tells about stock market .no. of shares of various companies.
              %p The new website looks very impressive.
            %p
              %cite -Akash
          %hr
          %li
            %blockquote
              %p
                Wow I'm really impressed by my ideal investment, I'd definetly go for the suggestion.Thanks a lot :-)
            %p
              %cite -Bethika, Delhi
          %hr
          %li
            %blockquote
              %p
                I am very much impressed by the investment suggestions given by the finginie.
                I think this is one of the best investment portals for the beginners.
              %p
                Looking forward to invest through finginie in future.
            %p
              %cite -Pravir, Bhuvaneshwar
