.row
  .span8
    #home-slider.carousel.slide
      .carousel-inner
        .item.active
          = image_tag 'http://placehold.it/770x350&text=slide+1'
        .item
          = image_tag 'http://placehold.it/770x350&text=slide+2'
        .item
          = image_tag 'http://placehold.it/770x350&text=slide+3'
        .item
          = image_tag 'http://placehold.it/770x350&text=slide+4'
      %a.carousel-control.left{:href => '#home-slider', :data => {:slide => :prev}} &lsaquo;
      %a.carousel-control.right{:href => '#home-slider', :data => {:slide => :next}} &rsaquo;
  .span4
    .well=image_tag 'http://placehold.it/350x330/85C9F4/FFFFFF&text=Ad+space'
%hr.soften
.marketing
  .row
    %h1.header.align-center Manage Trade and investments with ease
  .row.show-grid
    .span4
      = image_tag "piggy-bank-icon.png", :class => 'bs-icon'
      %h5 Stock Recommendations
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .span4
      = image_tag "piggy-bank-icon.png", :class => 'bs-icon'
      %h5 Research Reports
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .span4
      = image_tag "piggy-bank-icon.png", :class => 'bs-icon'
      %h5 Best News
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  .row.show-grid
    .span4
      = image_tag "piggy-bank-icon.png", :class => 'bs-icon'
      %h5 Trading Account
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .span4
      = image_tag "piggy-bank-icon.png", :class => 'bs-icon'
      %h5 Personalized Financial Plan
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .span4
      = image_tag "piggy-bank-icon.png", :class => 'bs-icon'
      %h5 Manage Investments
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  .row.show-grid
    .span4
      = image_tag "piggy-bank-icon.png", :class => 'bs-icon'
      %h5 Stocks Screener
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .span4
      = image_tag "piggy-bank-icon.png", :class => 'bs-icon'
      %h5 Social Features
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .span4
      = image_tag "piggy-bank-icon.png", :class => 'bs-icon'
      %h5 Manage Investments
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
%hr.soften
.row
  .marketing
    %h1 Manage and Share Portfolio in Finginie
