.row
  .span12
    %section
      %h1 Finginie cares
      %p
        Finginie is proud to extend support to India’s most influential show
        #{link_to 'Satyamev Jayate',  'http://www.satyamevjayate.in/', html_options = {:target => "_blank"}}.
        Three NGOs - Association for Rural and Urban Needy, Snehalaya and Family
        of Disabled, supported by the show, will receive donations in equal amounts. For more details about
        these NGOs, please  #{link_to 'Click here', 'http://www.satyamevjayate.in/donation/', html_options = {:target => "_blank"}}
    %section
      %ul
        %li
          %p
            %hgroup{:class => "social" }
              We will donate Re 1 for every user who likes our Facebook page #{render 'layouts/facebook'}

        %li
          %p We will donate Re 1 on behalf of every user who shares this post on Facebook.

        %li
          %p
            We will donate Rs 2 for every newly registered user on our website. Registration is always free, takes
            less than 5 seconds and gives you access to the best in breed financial planning and investing tools such
            as risk profiling, stock recommendations, research reports etc.
    %section
      %p
        So, go ahead and help us in donating for a noble cause. For you it is just a click, for many unfortunate
        people it’s a life.

- unless current_user
  = render 'sessions/form', :origin => comprehensive_risk_profiler_ideal_investments_path(:special_offer => true)

= render 'sessions/signin_benefits'

.row
  .span12
    #{link_to '*Terms and Conditions', main_app.page_path('terms_and_conditions') }
