%section
  %h1 Investment Concepts
  =image_tag "investment_education/InvestmentConcepts_1.jpg"
  %p
    Master the important concepts of investing like
    = link_to "Risk & Return",  "risk_and_return"
    ,
    = link_to "Time Value of Money", "time_value_of_money"
    ,
    = link_to "Diversification", "diversification"
    ,
    = link_to "investing and trading", "investment_trading"
  %br/
  = link_to "Read More..",  "risk_and_return"
%section
  %h1 Investment Process
  =image_tag "investment_education/InvestmentProcess_1.jpg"
  %p
    Start investing the smart way by
    = link_to "analyzing your needs", "analyzing_needs"
    ,
    = link_to "creating an investment plan", "investment_plan"
    ,
    = link_to "identifying the right asset classes", "asset_allocation"
    to invest in,
    = link_to "choosing the right investments", "choosing_investments"
    ,
    = link_to "trading", "start_investing"
    ,
    = link_to "monitoring your investments", "track_investment"
    ,
    = link_to "managing your risks", "risk_management"
    and
    = link_to "minimizing taxes", "reduce_taxes"
  %br/
  = link_to "Read More..",  "analyzing_needs"
%section
  %h1 Investment Analysis
  =image_tag "investment_education/InvestmentAnalysis_1.jpg"
  %p
    Analyze and identify stocks that can beat the market and give you superior returns by conducting
    = link_to "fundamental analysis", "fundamental_analysis1"
    and
    = link_to "technical analysis", "technical_analysis"
  %br/
  = link_to "Read More..",  "fundamental_analysis1"
%section
  %h1 Types Of Investment
  =image_tag "investment_education/InvestmentTypes_1.jpg"
  %p
    Discover the secrets of different types of investments such as
    = link_to "stocks", "stocks1"
    ,
    = link_to "bonds", "bonds"
    ,
    = link_to "mutual funds", "mutual_funds"
    ,
    = link_to "ETFs", "exchange_traded"
    ,
    = link_to "commodities", "commodities"
    ,
    = link_to "real estate", "real_estate_investments"
    ,
    = link_to "insurance products", "insurance_products"
  %br/
  = link_to "Read More..",  "stocks1"
%section
  %h1 Advanced Investments
  =image_tag "investment_education/AdvancedInvestments_1.jpg"
  %p
    Trade using a lower amount of capital by investing in advanced financial instruments like
    = link_to "foreign exchange", "foreign_exchange1"
    ,
    = link_to "forwards", "forwards"
    ,
    = link_to "futures", "futures1"
    and
    = link_to "options", "options1"
  %br/
  = link_to "Read More..",  "foreign_exchange"
%sections
  %h1 Jargon Demystified
  =image_tag "investment_education/jargon.jpg"
  %p Understand the most commonly used financial terms.
  %br/
  = link_to "Read More..",  "glossary"
