.row
  .span9
    = facebook_recommendation('Midcap IT stocks for the long term: An investor’s perspective')
    %small Report published on August 8th, 2012
    %p #{link_to 'By Ashwini Anand, CFA and Aditya Gupta', main_app.page_path('research-team')}
    %section
      %h5 Effect of macroeconomic factors
      %p Like we said in our report on Largecap IT stocks, the 3+ year outlook for this segment too sector is excellent. The current problem, as we had pointed out in the relevant report, is really that of global economic uncertainty. But eventually, this too shall pass - investors in Europe will eventually either take haircuts or liquidate holdings at losses; banks will be recapitalized and growth will eventually be back in the global economy.
      %p However, it is not unlikely that we see a further slowdown in the global economy in the short-medium term. If this happens, we will see discretionary spending in USA and Europe going down. We will see pricing pressures and maybe even order cancellations. Midcap IT companies are probably both more susceptible and more sensitive to order cancellations and pricing pressures than their largecap peers. Why? This is because they are smaller players, have fewer clients and are less well established than their largecap peers. A 100 million dollar order cancellation will barely make a dent on a TCS ($ 10 billion in revenue) or an Infosys ($ 7 billion in revenue) but it would significantly affect a midcap IT company.
      %p If this happens, we will see big drops in share prices across the board. Midcap IT companies will then be hit a lot harder than largecap IT companies. We therefore take a cautious stance in the short-medium term though, we are cautiously optimistic on the 1+ year outlook for this sector. In the 3+ year term, we will definitely see strong growth from these midcap IT companies and they may even grow much faster than their largecap peers since they are starting from smaller bases. The enhanced agility that small size brings is not something that we should discount either. Therefore, it is prudent to add some midcap IT companies to a well diversified portfolio because of their excellent growth prospects.
    %section
      %h5 Fundamentals
      %p Mindtree and Hexaware are quite similar to TCS or Infosys in the sense that their service offerings include IT consulting, testing, analytics, application development etc. Points worth mentioning here are that Hexaware has a big Enterprise Solutions practice which accounts for about 30% of their revenues while testing makes up about 17% of Mindtree’s revenues.
      %p EClerx focuses on Knowledge Process Outsourcing (KPO). KPO involves the performance of core business / core business support functions that are outsourced by clients. This is an activity that is relatively high up in the value chain and therefore typically brings good margins. Therefore, it is not surprising that EClerx clocked in an average quarterly operating profit margin of 42.98% and an average quarterly net profit margin of 33.17%.
      %p Persistent Systems specializes in application and product development while Oracle Financial Services Software (formerly i-Flex) focuses on software for the financial services industry.
    %section.align-center
      = image_tag 'Quarterly EPS adjusted for splits and stock bonuses.png'
    %section
      %p The problem, as we see it is that though the midcap IT companies under consideration have all had periods of rapid growth, they have simply not delivered the kind of consistent growth and profitability that their largecap peers have, with the possible exception of Hexaware.  This is probably to be expected since if everything were perfect, they would have had much higher earnings and be trading at significantly higher P/E ratios as well.
    %section
      %h5 Growth Prospects
      %p As per June ’12 ‘s quarterly results, all the companies under consideration demonstrated improvement in sales per share with the sole exception of Oracle Financial Services Software with E-Clerx and Persistent Systems showing the highest growth.  E-Clerx’s acquisition of the USA based company - Agilyst helped drive revenues. Organic revenue growth was estimated at about 1%. Persistent is more vulnerable to a slowdown due to its focus on product development – something that tends to suffer during slowdowns.
      %table.table.table-bordered.table-striped
        %tr
          %th.span4 Growth   in Jun ‘12
          %th Hexaware
          %th Mindtree
          %th E-Clerx
          %th Persistent Systems
          %th Oracle
        %tr
          %td Sales growth over previous quarter
          %td 13.12%
          %td 10.05%
          %td 20.49%
          %td 16.83%
          %td -5.87%
        %tr
          %td Company’s growth expectations*
          %td >10-14%
          %td 9.86
          %td
          %td >10-14%
          %td
        %tr
          %td Growth prospects- Rating
          %td A
          %td B
          %td B
          %td C
          %td B
      %small *Growth projections as per the company’s management
    %section
      %h5 Growth History
      %p Hexaware has demonstrated the most consistent long term growth among the companies mentioned here, with an impressive 55% CAGR in EPS over the last 3 years and an average geometric mean growth rate of about 75% p.a.  Mind Tree showed negative growth between FYs 2010 and 2011 but has since picked up well to clock in an impressive 56% geometric average growth rate. Oracle Financial Services has been inconsistent and Persistent Systems, though consistent, has shown growth that is low on a relative basis but reasonably good when viewed in isolation.
      %table.table.table-bordered.table-striped
        %tr
          %th.span4 Growth History
          %th Hexaware
          %th Mindtree
          %th E-Clerx
          %th Persistent
          %th Oracle
        %tr
          %td 3y EPS CAGR p.a.
          %td 55.06%
          %td 28.13%
          %td 42.90%
          %td ~24%**
          %td N.A
        %tr
          %td 1y EPS Growth p.a.
          %td 66.84%
          %td 123.86%
          %td 61.08%
          %td 17.32%
          %td -18.18%
        %tr
          %td 3y SPS CAGR  p.a.
          %td 14.80%
          %td 15.54%
          %td 34.90%
          %td Not Relevant
          %td N.A
        %tr
          %td 1y SPS Growth p.a.
          %td 40.35%
          %td 32.23%
          %td 44.35%
          %td 33.49%
          %td 5.00%
        %tr
          %td Geometric avg growth p.a (%)
          %td 74.73%
          %td 56.47%
          %td 36.26%
          %td 24.36%
          %td 7.06%
      %small *SPS = Sales per share; *Persistent Systems- Mar 09-Mar 12;
    %section.align-center
      = image_tag 'Rebased Annual Earnings.png'
    %section
      %h5 Profitability
      %p E-Clerx and Oracle are by far the most profitable of the companies under consideration mainly because they are in niche, high value segments. Hexaware and Persistent have demonstrated good profitability while Mindtree has lagged behind on this front. These profit margins are way below those of largecaps like TCS or Infosys. But this is acceptable since these companies are growing fast.
      %table.table.table-bordered.table-striped
        %tr
          %th.span4 Profitability
          %th Hexaware
          %th Mindtree
          %th E-Clerx
          %th Persistent
          %th Oracle
        %tr
          %td Avg Quarterly NPM- 3y
          %td 15.01%
          %td 11.80%
          %td 33.54%
          %td Not Relevant
          %td 30.87%
        %tr
          %td Avg Quarterly NPM- 1y
          %td 19.02%
          %td 13.01%
          %td 33.17%
          %td 14.45%
          %td 28.96%
        %tr
          %td Avg Quarterly OPM- 3y
          %td 15.86%
          %td 16.86%
          %td 41.81%
          %td Not Relevant
          %td 35.92%
        %tr
          %td Avg Quarterly OPM- 1y
          %td 21.58%
          %td 15.76%
          %td 42.98%
          %td 22.04%
          %td 35.10%
        %tr
          %td Profitability- Rating
          %td B
          %td C
          %td A
          %td B
          %td A
    %section
      %h5 Valuation and Return History
      %p Notice that all the companies mentioned are currently trading below their average P/Es over the last 3 years (barring Hexaware). Hexaware was a loss making entity for a substantial amount of time and was trading at a paltry 2.35 times adjusted EPS.
      %table.table.table-bordered.table-striped
        %tr
          %th.span4 Metric
          %th Hexaware
          %th Persistent
          %th Mindtree
          %th Oracle
          %th Rupee
        %tr
          %td Max P/E
          %td 14.29
          %td 17.99
          %td 39.17
          %td 26.35
          %td 57.22
        %tr
          %td Min P/E
          %td 2.35
          %td 8.61
          %td 9.45
          %td 13.05
          %td 40.55
        %tr
          %td Average P/E
          %td 7.24
          %td 11.25
          %td 15.22
          %td 19.69
          %td 47.45
        %tr
          %td Current P/E
          %td 11.49
          %td 10.72
          %td 11.55
          %td 22.98
          %td 55.95
    %section
      %h5 Relative Valuation
      %p We think that all the companies being discussed in the report are reasonably valued on the basis of trailing (twelve months) earnings. Mindtree, with lower long term growth and profitability than Hexaware and lower profitability than Persistent is trading at a slight discount to them while E-Clerx seems to be getting a slight premium for high profitability and a good growth record.
      %table.table.table-bordered.table-striped
        %tr
          %th.span4 Valuation
          %th Hexaware
          %th Mindtree
          %th E-Clerx
          %th Persistent Systems
          %th Oracle Financial Services
        %tr
          %td EPS
          %td 11.55
          %td 67.36
          %td 59.82
          %td 38.94
          %td 127.86
        %tr
          %td P/E
          %td 10.32
          %td 9.37
          %td 12.26
          %td 9.72
          %td 22.31
        %tr
          %td P/S
          %td 2.2
          %td 1.32
          %td 3.84
          %td 1.96
          %td 6.65
        %tr
          %td Valuation – Rating
          %td A
          %td A
          %td A
          %td A
          %td B
    %section
      %h5 Return History
      %p E-Clerx and Hexaware have returned the most over a 3 year period, with Persistent yielding negative returns. Mindtree has yielded mediocre returns while Oracle Financial Services has given good returns during the same period.
      %table.table.table-bordered.table-striped
        %tr
          %th.span4 Metric
          %th Hexaware
          %th Mindtree
          %th E-Clerx
          %th Persistent Systems
          %th Oracle Financial Services
        %tr
          %td 3y Stock return
          %td 41.76%
          %td 11.49%
          %td 55.44%
          %td -2.99%
          %td 24.50%
        %tr
          %td 3y Nifty return
          %td 6.25%
          %td 6.25%
          %td 6.25%
          %td 6.25%
          %td 6.25%
        %tr
          %td 1y Stock return
          %td 2.50%
          %td -1.61%
          %td 1.72%
          %td 0.87%
          %td -2.22%
        %tr
          %td 1y Nifty return
          %td 4.93
          %td 4.93
          %td 4.93
          %td 4.93
          %td 4.93
    %section
      %h5 Short term recommendations
      %p We would love to have all these stocks in our long term portfolio as they have all demonstrated good growth & profitability and also have good long term prospects. However, the global macro environment is shaky and we may see a further deterioration of the global business environment leading to order cancellations, cuts in discretionary spending and/or pricing pressure. Persistent is especially at risk because, being a product development company, it relies on discretionary spending. Therefore, our short term recommendations are as follows.
      %table.table.table-bordered.table-striped
        %tr
          %th.span4 Valuation
          %th Hexaware
          %th Mindtree
          %th E-Clerx
          %th Persistent Systems
          %th Oracle Financial Services
        %tr
          %td Short term rating
          %td Hold
          %td Hold
          %td Hold
          %td Sell
          %td Hold
    %section
      %h5 Long term recommendations
      %p In the long term, the risks of negatives as a result of deterioration in the global business environment are far outweighed by the sheer growth potential of these companies.
      %p Hexaware gets a “Buy” rating for consistent growth and good growth prospects. E-Clerx is also a “Buy” for its profitability, good growth and niche position in the value chain which brings with it, certain diversification benefits.
      %p Persistent depends on discretionary spending and we are therefore a little cautious about it. It gets a “Hold” rating. We are neutral on Oracle Financial Services because of its inconsistent earnings record. There is potential for price upside but we prefer Hexaware and E-Clerx over Oracle Financial Services. Mindtree gets a “Hold” rating for fairly good but inconsistent earnings and low margins.
      %p We have set the following conservative target prices for a 1 year period based on profitability, earnings records, return history, growth prospects.  The risk of deterioration in the global business environment has had a significant effect on the target prices. In the longer run (longer than 1-2 year), we think that these stocks should far exceed the target prices set below.
      %table.table.table-bordered.table-striped
        %tr
          %th.span4
          %th Hexaware
          %th Mindtree
          %th E-Clerx
          %th Persistent Systems
          %th Oracle Financial
        %tr
          %td Long  term rating
          %td Buy
          %td Hold
          %td Buy
          %td Hold
          %td Hold
        %tr
          %td 1 year target price(Rs)
          %td 150
          %td 700
          %td 880
          %td 395
          %td 3130
        %tr
          %td Current Price
          %td 119.15
          %td 631.3
          %td 733.2
          %td 378.65
          %td 2852.65

    %section
      %h5 Terms of use
      %p
        This report is intended for use by the recipients only and may not be distributed/circulated. The numbers/figures used in this report are sourced from publicly available sources which we considered to be accurate and/or reliable. Adjustments are made to numbers or figures, where deemed appropriate. Finginie, its analysts, management, shareholders, affiliates are not responsible for any discrepancies/errors in any of the numbers/figures/information contained in
        this report. Finginie, its analysts, management, shareholders and/or affiliates do not guarantee the accuracy, completeness or timeliness of any information contained in this report. Further, the contents of this report, including any recommendations are the opinions of the analysts who have prepared this report. The suitability of any of the investments mentioned in this report must be assessed by the investor in the context of his/her needs and his/her overall portfolio. The investor must consult a qualified/licensed financial advisor before making any investment decisions. Finginie, its analysts, management, shareholders and/or affiliates will not be responsible or liable for the results of any investment decisions made after reading this report. This is not an offer or solicitation to buy/sell securities and should not be treated as such. Finginie, its analysts/shareholders/management may have existing positions and/or may take new positions in some/all of the securities mentioned in this report.
  .span3.show-grid
    .thumb
      = link_to image_tag('ebola-370.jpg', :class => %w(img-rounded)), main_app.page_path('win-an-ipad3')
    .thumb
      = link_to image_tag('investment-workshop.png',:class => 'img-rounded'), main_app.page_path('investment-workshop')
    .row-fluid
      .span12.well
        .thumb
          %h5= link_to 'Financial Planning', main_app.edit_comprehensive_risk_profiler_path
          %p Planning can be nerve-wracking. That’s why we did all the complicated number crunching so that you can invest with a single click.
        .thumb
          %h5= link_to 'Learn Investing', main_app.page_path('investment_education')
          %p An investment in knowledge pays the best interest." - Benjamin Franklin Learn how to make good investment decisions.
        .thumb
          %h5= link_to 'Stock Recommendations', main_app.page_path('stock-recommendations')
          %p No one has become a crorepati by saving money in a bank account or fixed deposit. That’s why we recommend money-multiplying stocks.
        .thumb
          %h5= link_to 'Stock Market data', main_app.page_path('markets')
          %p The stock market is flooding with information. Stay ahead of others with the latest news, quotes and detailed corporate information. We support 3,500 stocks and 5,000 mutual funds
        .thumb
          %h5= link_to 'Research Reports', main_app.page_path('research')
          %p Our research report aggregator tool is so vast that you can become a Ph.d in Financial Research.
        .thumb
          %h5= link_to 'Portfolio Tracking', portfolios_path
          %p No unnecessary paperwork, excel formulas or any other fancy tools. Get a financial analyst’s perspective of all your investments with just a few clicks.
        .thumb
          %h5
            Social Features
            %small Coming Soon
          %p Connect with the kings of investing and learn how to make profitable investments.If you are a king yourself, build a kingdom of followers.
