.row
  .span9
    = facebook_recommendation('Largecap IT stocks: An investor’s perspective')
    %small Report published on August 8th, 2012
    %p #{link_to 'By Ashwini Anand, CFA and Aditya Gupta', main_app.page_path('research-team')}
    %section
      %h5 Long term effect of macroeconomic factors
      %p
        The 3+ year outlook for this sector is excellent. The current problem is really that of global economic
        uncertainty. But eventually, this too shall pass - investors in Europe will eventually either take haircuts
        or liquidate holdings at losses; banks will be recapitalized and growth will eventually be back in the
        global economy. This will be a fantastic time for Indian IT companies like TCS, Cognizant and Infosys to
        not only taken on the likes of Accenture, IBM but also win.
      %p
        But before that, it is entirely possible that we have another large global economic slowdown/recession
        triggered by a European sovereign default (Greece, Spain, Portugal, Italy are all potential candidates).
        The Chinese economy and the American economy are slowing too and will very likely be affected by
        major events in Europe. If this happens, we will see big drops in share prices across the board. That will
        hit largecap IT companies hard as they are export dependent. Therefore, we are cautiously optimistic on
        the 1+ year outlook for this sector.
    %section
      %h5 Position in the value chain:
      %p
        Core application development, enterprise solutions and IT consulting are all considered to be higher
        up in the value chain than commoditized offerings. Business process outsourcing is relatively lower in
        the value chain but is a significant source of revenue for all three companies (TCS, Infosys and Wipro).
        Other horizontals such as application support, maintenance, IT infrastructure management etc. are also
        relatively commoditized horizontals but form a large part of the revenue mixes of all three IT companies.
      %p
        TCS and Infosys have made a sustained effort to move further up the value chain. We now see a small
        (but growing) amount of revenue coming in from high value segments like management consulting.
        Niche segments like mobility and cloud computing seem to be growing at a rapid pace. If this trend
        continues and we see significant progress on this front, it is entirely possible for companies like TCS and
        Infosys to reach the size and scale of global giants such as Accenture and IBM which traditionally have a
        large portion of revenue coming in from high value projects which generally bring higher margins than
        commoditized offerings. They also help companies build a competitive advantage over their peers.
      %p
        However, IT consulting (includes Enterprise solutions and implementation of third party products),
        application development and outsourcing are most likely to continue to form the bulk of the revenues of
        the Indian IT majors.
      %h1 Fundamentals
    %section
      %h5 Growth and Growth Prospects
      %p
        TCS has shown fabulous growth over the last 4 years while Infosys has shown much slower growth
        during the same period. Their earnings per share (adjusted for splits and bonuses) have grown by 21.9%
        and 10.5% respectively. Wipro has been lagging behind at 8.57%. Last quarter, TCS posted a 38% rise
        in profit while Infosys reported a 33% rise. However, Infosys has cut its earnings guidance and expects
        to grow only at about 5% this year. TCS has revenues just in excess of 10 billion US$ while Infosys has
        revenues of about 7 billion US$.
      %p
        We are concerned about the possibilities of reduced margins and order cancellations due to the global
        economic uncertainty in the short run. However, we are confident that in the long run, the growth
        prospects for both TCS and Infosys are excellent. Wipro has underperformed consistently and we see no
        good reason for the future to be substantially different from the past as far as Wipro is concerned.
    %section
      %table.table.table-striped.table-bordered
        %caption Growth Metrics
        %tr
          %th.span5 Metric
          %th TCS
          %th Infosys
          %th Wipro
        %tr
          %td 4y EPS Growth (CAGR -% p.a)
          %td 21.9
          %td 10.5
          %td 8.57
        %tr
          %td 1y EPS Growth(% p.a)
          %td 14.53
          %td 25.91
          %td 9.94
        %tr
          %td 1y Sales per share growth (% p.a.)
          %td 32.73
          %td 24.74
          %td 21.13
        %tr
          %td Growth Prospects
          %td Excellent
          %td Average
          %td Average
        %tr
          %td Growth and Growth Prospects- Rating
          %td A
          %td B
          %td C
    %section
      %h5 Profitability
      %p
        TCS and Infosys have a track record of high profitability. TCS’s average quarterly profit margin was
        21.4% while that of Infosys was even higher at 24.75%. Wipro was far less profitable at 14.77%. TCS
        is virtually debt free and Infosys is completely debt free. Therefore, their profitability isn’t directly
        tied to the interest rate cycle. Infosys has stated that it is facing margin compression due to the
        business environment in key markets – USA and Europe. TCS hasn’t indicated anything of this sort yet.
        Cognizant’s recent results have allayed some of these concerns to an extent. However, we feel that the
        risk of margin compression, order cancellation and a reduction in discretionary spending is very real. Yet,
        we are of the impression that the long term opportunities outweigh the risks.
      %table.table.table-striped.table-bordered
        %caption  Profitability Metrics
        %tr
          %th.span5 Metric
          %th TCS
          %th Infosys
          %th Wipro
        %tr
          %td Avg Quarterly NPM 12m(%)
          %td 21.40%
          %td 24.75%
          %td 14.77%
        %tr
          %td Avg Quarterly OPM 12m(%)
          %td 29.30%
          %td 29.31%
          %td 19.98%
        %tr
          %td Likely future profitability
          %td A
          %td B
          %td -
        %tr
          %td Profitability- Rating
          %td A
          %td B
          %td C
    %section
      %h5 Business Mix
      %p
        Both Infosys and TCS are heavily dependent on the Banking and finance sector. Infosys gets a substantial
        amount of revenue from the telecom and retail sectors. Infosys seems to be less dependent on a single
        vertical for revenue and is in that sense better diversified than TCS.
      %table.table.table-striped.table-bordered
        %caption Revenues by Vertical
        %tr
          %th.span5 Vertical
          %th TCS
          %th Infosys
        %tr
          %td Banking and Finance
          %td 43.08%
          %td 35.75%
        %tr
          %td Telcom
          %td 12.69%
          %td 21.03%
        %tr
          %td Retail
          %td 12.18%
          %td 23.65%
        %tr
          %td Manufacturing
          %td 7.77%
          %td 19.57%
        %tr
          %td Others
          %td 24.28%
          %td -
      %p
        All three IT companies in question- TCS, Infosys and Wipro are heavily dependent on USA and Europe.
        TCS also has a reasonable amount of domestic demand and is, to some extent less dependent on
        exports than Infosys.
      %table.table.table-striped.table-bordered
        %caption Revenues by Geography
        %tr
          %th.span5 Metric
          %th TCS
          %th Infosys
        %tr
          %td North America
          %td 53.31%
          %td 65.10%
        %tr
          %td UK + Europe
          %td 25.32%
          %td 21.16%
        %tr
          %td India
          %td 8.59%
          %td 2.37%
        %tr
          %td Rest of the world
          %td 12.77%
          %td 11.37%
      %p
        There is not much choose between Infosys and TCS as far as business risk is concerned since they are
        both pretty much dependent on the same geographies, and do similar types of work. However, TCS is
        generally considered to be more flexible in terms of pricing and this is a big plus in the current business
        environment.
    %section
      %h5 Effect of exchange rate volatility
      %p While it is true that exchange rate volatility has an impact on earnings, we consider it to be a factor to be considered in the short-medium term for the following reasons:
      %ol
        %li
          %p Most large IT companies hedge a large part of their foreign currency revenues/receivables through FX options and in some cases futures contracts.
        %li
          %p Out analysis has shown that in the long run, P/E multiples are not significantly affected by the prevailing exchange rates. (see graph below)
        %li
          %p Since most of the revenues of IT exporters such as TCS and Infosys are earned in US dollars, British pounds and Euros, and since these currencies tend to strengthen (versus the Indian Rupee) during times of global economic uncertainty, there is a natural hedge against excessive revenue volatility built into these companies. What this essentially means is that when there is a global economic slowdown, the reduced dollar revenues (because of lower demand) are to some extent offset by a rise in the exchange rate of the dollar versus the rupee.
    %section.align-center
      = image_tag 'it-sector-chart.png'

    %section
      %h5 Valuation	
      %p We believe that TCS is slightly expensive given that it is trading at about 22 times trailing earnings. However, given its strong track record and stellar growth, this may be justified. Infosys is trading at low multiple of about 15 times trailing earnings and is a good bargain worth acquiring for the long term. We also believe that Wipro, with its poor growth and profitability is overvalued compared to Infosys.
      %table.table.table-striped.table-bordered
        %caption Valuation metrics
        %tr
          %th.span5 Metric
          %th TCS
          %th Infosys
          %th Wipro
        %tr
          %td Price per share
          %td 1264
          %td 2255
          %td 348
        %tr
          %td Earnings per share
          %td 58.06
          %td 155.34
          %td 23.68
        %tr
          %td Sales per share
          %td 270.61
          %td 625.47
          %td 160.38
        %tr
          %td P/E
          %td 21.77
          %td 14.52
          %td 14.69
        %tr
          %td P/S
          %td 4.67
          %td 3.61
          %td 2.17
        %tr
          %td Valuation-Rating
          %td B
          %td A
          %td C
      %p It is interesting to note that despite the fact that TCS is trading at a relatively high 22X earnings in 2011, it has traded at about 30X trailing earnings in the past. So, this isn’t excessive by any stretch of imagination.
      %table.table.table-striped.table-bordered
        %tr
          %caption Range of P/E s since May 2008
          %th.span5 Metric
          %th Infosys
          %th TCS
          %th Wipro
        %tr
          %td P/E (Max)
          %td 31
          %td 29.59
          %td 29.15
        %tr
          %td P/E (Min)
          %td 11.94
          %td 8.37
          %td 8.75
    %section.align-center
      = image_tag 'Infosys-wipro-tCS-chart.png'

    %section
      %h5 Long term recommendations
      %p For its stellar track record, consistent growth & profitability along with excellent growth prospects- TCS is given a Buy rating. Despite its lackluster performance in recent term, Infosys is trading at a very reasonable valuation and has long term potential for growth. Therefore, we give it a rating of Accumulate. Wipro is given a Hold rating for its low growth, low profitability and the lack of any credible reason to expect any dramatic change in its performance. Despite all this, we think that Wipro is probably a much better bet than many other stocks in other sectors since its numbers are reasonably good on an absolute basis. Hence, it is not given an outright Sell rating as it may be continued to be held in a portfolio that already has it.
      %p It is purely due to the prevailing global economic uncertainty and a potential drop in earnings multiples in the event of a further slowdown that we are setting the following modest target prices after considering factors such as market sentiment, historic earnings multiples, premiums and discounts for growth, profitability etc.
      %table.table.table-striped.table-bordered
        %caption Stocks, recommendations and 1 year target prices
        %tr
          %th.span5 Stock
          %th Rating
          %th Target Price(Rs)
        %tr
          %td TCS
          %td Buy
          %td 1515
        %tr
          %td Infosys
          %td Accumulate
          %td 2490
        %tr
          %td Wipro
          %td Hold
          %td 375

    %section
      %h5 Terms of use
      %p
        This report is intended for use by the recipients only and may not be distributed/circulated. The numbers/figures used in this report are sourced from publicly available sources which we considered to be accurate and/or reliable. Adjustments are made to numbers or figures, where deemed appropriate. Finginie, its analysts, management, shareholders, affiliates are not responsible for any discrepancies/errors in any of the numbers/figures/information contained in
        this report. Finginie, its analysts, management, shareholders and/or affiliates do not guarantee the accuracy, completeness or timeliness of any information contained in this report. Further, the contents of this report, including any recommendations are the opinions of the analysts who have prepared this report. The suitability of any of the investments mentioned in this report must be assessed by the investor in the context of his/her needs and his/her overall portfolio. The investor must consult a qualified/licensed financial advisor before making any investment decisions. Finginie, its analysts, management, shareholders and/or affiliates will not be responsible or liable for the results of any investment decisions made after reading this report. This is not an offer or solicitation to buy/sell securities and should not be treated as such. Finginie, its analysts/shareholders/management may have existing positions and/or may take new positions in some/all of the securities mentioned in this report.

  .span3.show-grid
    .thumb
      = link_to image_tag('ebola-370.jpg', :class => %w(img-rounded)), main_app.page_path('win-an-ipad3')
    .thumb
      = link_to image_tag('investment-workshop.png',:class => 'img-rounded'), main_app.page_path('investment-workshop')
    .row-fluid
      .span12.well
        .thumb
          %h5= link_to 'Financial Planning', main_app.edit_comprehensive_risk_profiler_path
          %p Planning can be nerve-wracking. That’s why we did all the complicated number crunching so that you can invest with a single click.
        .thumb
          %h5= link_to 'Learn Investing', main_app.page_path('investment_education')
          %p An investment in knowledge pays the best interest." - Benjamin Franklin Learn how to make good investment decisions.
        .thumb
          %h5= link_to 'Stock Recommendations', main_app.page_path('stock-recommendations')
          %p No one has become a crorepati by saving money in a bank account or fixed deposit. That’s why we recommend money-multiplying stocks.
        .thumb
          %h5= link_to 'Stock Market data', main_app.page_path('markets')
          %p The stock market is flooding with information. Stay ahead of others with the latest news, quotes and detailed corporate information. We support 3,500 stocks and 5,000 mutual funds
        .thumb
          %h5= link_to 'Research Reports', main_app.page_path('research')
          %p Our research report aggregator tool is so vast that you can become a Ph.d in Financial Research.
        .thumb
          %h5= link_to 'Portfolio Tracking', portfolios_path
          %p No unnecessary paperwork, excel formulas or any other fancy tools. Get a financial analyst’s perspective of all your investments with just a few clicks.
        .thumb
          %h5
            Social Features
            %small Coming Soon
          %p Connect with the kings of investing and learn how to make profitable investments.If you are a king yourself, build a kingdom of followers.

