
.row
  .span12
    %section
      %h1 Programming Contest
      %p
        Unleash all your creativity by building a web app of your choice using #{link_to 'Meteor-JS', 'http://www.meteor.com/', :target => :blank}, or #{ link_to 'Ruby on Rails', 'http://rubyonrails.org/', :target => :blank }.
        If you are able to #{ link_to 'build an app', 'http://railscasts.com/episodes/310-getting-started-with-rails', :target => :blank } using #{ link_to 'Ruby on Rails', 'http://guides.rubyonrails.org/', :target => :blank } you can earn bonus points.
        This app can be in any domain: technology, finance, business, management, gaming, utilities, entertainment, etc.
        #{ link_to 'Meteor-JS', 'http://www.meteor.com/', :target => :blank } will help you build a web app very easily.
        You will find complete documentation about it in the #{ link_to 'official documentation', 'http://docs.meteor.com/', :target => :blank } on website.
      %p
        If you have any questions, feel free to contact us at <code>careers at finginie dot com</code>.
        You may form teams up to three members and the prize will be awarded to the entire team.
        You have to present a working demo of your web app.
        You will have 4 weeks from the date of registration to submit your developed app.
        Registrations for this programming contest closes on August 30, 2012.
    %section
      %h5 Criteria for Judgement:
      %ul
        %li Needless to say, it should be a working app
        %li Your code should cover as many edge cases as possible
        %li Maintain Code Quality- Neatly written code, avoiding code repetition, etc
    %section
      %iframe{  :src => "https://docs.google.com/a/finginie.com/spreadsheet/embeddedform?formkey=dGFUNXZRc3NCSnIzZV82bVQ2WlN6V0E6MQ",
                :width => 760,
                :height => 713,
                :frameborder => 0,
                :marginheight => 0,
                :marginwidth => 0}
        Loading...

