.row.show-grid
  .span9
    .row-fluid
      %ul.thumbnails
        %li.span6
          .thumbnail
            = image_tag 'stock-recommendations-image.png'
            .caption
              %h2 Finginie's Stock Picks
              %p Ride the money wave by investing in stocks picked by our finance experts.
              = link_to 'Go', main_app.page_path('stock-recommendations'), :class => %w(btn btn-primary)
        %li.span6
          .thumbnail
            = image_tag 'broker-recommendations-image.png'
            .caption
              %h2 Broker's Stock picks
              %p Find out which stocks are the brokers' darlings. View consolidated ratings for each stock.
              = link_to 'Go', main_app.research_ratings_path, :class => %w(btn btn-primary)
      .row-fluid
        %ul.thumbnails
          %li.span6
            .thumbnail
              = image_tag 'research-reports-image.png'
              .caption
                %h2 Research Reports
                %p If you would like to do the research yourself, look through hundreds of research reports published by brokerages across India.
                = link_to 'Go', main_app.research_reports_path, :class => %w(btn btn-primary)
          %li.span6
            .thumbnail
              = image_tag 'market-commentary-image.png'
              .caption
                %h2 Market Commentary
                %p Stay up-to-date with the latest action in the India stock markets with our daily market commentary.
                %br
                = link_to 'Go', main_app.blog_path, :class => %w(btn btn-primary)
  = render 'easy_navigation_right_aside'
