#myModal.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h4
      = image_tag 'Mail.png'
      Choose contacts
  .modal-body
    %table.table#example

  .modal-footer
    %a.btn.btn-primary{"data-dismiss" => "modal", :href => "#"}
      %span#count Invite 0 Friends
    %a.btn{:href => "#"} Cancel

=link_to 'share', 'http://127.0.0.1:3001/twitter_post'

%h2#option-b Invite by email
.option
  %p{:style => "margin-bottom:1em;"} Invite your contacts (Gmail, AOL, Yahoo, etc.)
.alert.alert-error#error_msg{:style => 'display:none'}
= form_tag import_contacts_path, :remote => true, :id => 'contacts_form' do
  .sector.control-group
    = label_tag "Contact", "Email", :class => 'control-label'
    .controls
      = email_field_tag("login")
  .sector.control-group
    = label_tag "Contact", "Password", :class => 'control-label'
    .controls
      = password_field_tag("password")
  .actions
    = submit_tag 'Retrieve Contacts'

:javascript
  $(document).ready(function() {
    $("#contacts_form").bind("ajax:beforeSend", function(data) {
      $("#error_msg").hide();
      $("#count").html("Invite 0 Friends");
    });

    $("#contacts_form").bind("ajax:error", function(xhr, data, status) {
      $("#error_msg").show();
      $("#error_msg").html(data.responseText);
    });

    $("#contacts_form").bind("ajax:success", function(xhr, data) {
      $('#example').dataTable( {
          "aaData": data['aaData'],
          "bScrollInfinite": true,
          "bScrollCollapse": true,
          "sScrollY": "200px",
          "bSort": false,
          "bDestroy": true,
          "bFilter": true,
          "aoColumns": [ null, null, null]
      } );

      $('#example tr .a').live('click', function () {
        var x  = $('.a').filter(":checked").length;
        $("#count").html("Invite "+ x + " Friends");
      });

      $('#myModal').modal()
    });
  });