.row
  .span12
    %section
      %h1 Signup and Win
.row
  .span6
    %section
      %h3
        1st prize:
        %small Apple ipad 3(WiFi)
        = image_tag 'ipad_pic.png'
  .span6
    %section
      %h3
        2nd prize:
        %small Samsung Galaxy-SII
        = image_tag 'Galaxy-SII.png'

.row
  .span12
    %section
      %h2 How it works
      %p Want to win a an iPad 3(WiFi) or Samsung Galaxy-SII and a host of other cool stuff? All you have to do is to signup for a free Finginie account. Here is how it works:

      %p You get points for every action that you take on Finginie.
      %table.table.table-bordered.table-striped
        %tr
          %th Action
          %th Points
          %th No of times you can take action
        %tr
          %td Take Personalized Financial Profile quiz. It does not take much of your time. We promise.
          %td 50
          %td 1
        %tr
          %td Sign up.You can get free access to so many cool features now and in the future.
          %td 100
          %td 1
        %tr
          %td Share your financial plan on Facebook. You need to take the Personalized Financial Profile quiz before you can share.
          %td 200
          %td Unlimited
        %tr
          %td Share your financial plan on Twitter. You need to take the Personalized Financial Profile quiz before you can share.
          %td 200
          %td Unlimited
        %tr
          %td Share your financial plan via Email. You need to take the Personalized Financial Profile quiz before you can share.
          %td 200
          %td Unlimited
        %tr
          %td Every friend who signs up from a shared link. You cannot do anything, it is totally up to your friends.
          %td 200
          %td Unlimited
        %tr
          %td Like our Facebook Page. #{link_to 'Visit:- www.facebook.com/finginie', 'http://www.facebook.com/finginie', :target => '_blank'}
          %td 50
          %td 1
        %tr
          %td Follow us on Twitter. Our twitter handle is @finginie.
          %td 50
          %td 1
        %tr
          %td +1 us on Google Plus. Find us on Google Plus.
          %td 50
          %td 1
        %tr
          %td Tell us what you think of Finginie. Use the feedback button on the left.
          %td 200
          %td 1
      %p Users with the highest number of points have the highest chances of winning prizes.
      .alert.alert-notice
        %p.align-center So, go ahead and sign up now! Be the proud owner of a Apple iPad 3(WiFi) and an Samsung Galaxy S-II.#{link_to 'Terms and Conditions', main_app.page_path('ebola-terms-and-conditions'), :target => '_blank'}
    = render 'sessions/form', :origin => edit_comprehensive_risk_profiler_path

