= simple_nested_form_for([parent, resource]) do |f|
  = f.error_notification

  .security
    = f.fields_for :loan do |income|
      = income.input :type, :as => :hidden
      = income.input :name, :hint => "e.g. Home loan from LIC"

  .inputs
    = f.input :action, :collection => [["Borrow",:borrow]], :include_blank => false
    = f.input :price
  .security
    = f.fields_for :loan do |income|
      = income.input :period
      = income.input :rate_of_interest
  .inputs
    = f.input :date,:order=> [:day,:month,:year]
    = f.input :comments

  .actions
    = f.button :submit
