- unless loan_transactions.empty?
  %table
    %tr
      %th Date
      %th Type
      %th Name
      %th Transaction Amount (Rs)
      %th Rate of Interest (% p.a.)
      %th Duration (years)
      %th Comments

    - loan_transactions.each do |loan_transaction|
      %tr
        %td= l loan_transaction.date
        %td= loan_transaction.action.to_s.titleize
        %td= loan_transaction.name
        %td= number_to_indian_currency loan_transaction.amount
        %td= loan_transaction.rate_of_interest
        %td= loan_transaction.period
        %td= loan_transaction.comments || t("tables_not_available")
- else
  = t "transactions.no_loan_transactions"

