- unless loan_transactions.empty?
  %section{ :class => "LoanTransactions" }
    %h1= "Loan Transactions"
    %table.table.table-striped.table-bordered
      %tr
        %th.dates Date
        %th.type Type
        %th.name Name
        %th.duration Duration
        %th.rate Interest Rate
        %th.amount Amount
        %th.comment Comments
      %tr.right_align
        %td
        %td
        %td
        %td (years)
        %td (% p.a.)
        %td (Rs)
        %td

      - loan_transactions.each do |loan_transaction|
        %tr
          %td.dates= l loan_transaction.date
          %td.type{:class => loan_transaction.action}= loan_transaction.action.to_s.titleize
          %td.name= loan_transaction.name
          %td.duration= loan_transaction.period
          %td.rate=   number_with_precision loan_transaction.rate_of_interest
          %td.amount= loan_transaction.price
          %td.comment= loan_transaction.comments && loan_transaction.comments.strip.empty?  ? t("tables_not_available") : loan_transaction.comments

