.row.show-grid
  .span9
    .row
      .span9
        %h1= t('quiz.compelete_quiz')
    .row
      .span3
        %h5
          Review:
          = t('quiz.score_message', :score => @responses.score, :limit => Response::QUIZ_LIMIT)
      .span6.align-right
        %h3
          Share your score on facebook
          %span
            = link_to t('facebook.post_wall'), facebook_share_url(quiz_details_fb_hsh(@responses.score,@responses.quiz_info.keys)),
             :class =>'btn btn-primary'
            = link_to "Start New Quiz", main_app.questions_path, :class => 'btn btn-success'
    .row
      .span9
        - @responses.summary.each_with_index do |summary, index|
          = QuizSummaryDecorator.new(summary,index).question_summary


        %h3
          Share your score on facebook
          %span
            = link_to t('facebook.post_wall'), facebook_share_url(quiz_details_fb_hsh(@responses.score,@responses.quiz_info.keys)),
             :class =>'btn btn-primary'
            = link_to "Start New Quiz", main_app.questions_path, :class => 'btn btn-success'
  = render 'pages/easy_navigation_right_aside'
