= simple_form_for resource, :html => {:class => 'form-horizontal'} do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.association :user
    = f.input :current_price
    = f.input :location

  .actions
    = f.button :submit
