= simple_form_for(resource) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.association :user
    = f.input :current_price
    = f.input :location

  .actions
    = f.button :submit
