= simple_nested_form_for([parent, resource]) do |f|
  = f.error_notification

  .security
    = render "#{resource.security.type.downcase}_fields", :f => f

  .transactions
    = f.fields_for :transactions

    = f.link_to_add "Add another Transaction", :transactions

  .actions
    = f.button :submit
