- resource.security = RealEstate.new
= f.fields_for :security do |real_estate|
  = real_estate.input :type, :as => :hidden
  = real_estate.input :name
  = real_estate.input :location
  = real_estate.input :current_price
