%h1 Listing transactions

%table
  %tr
    %th Price
    %th Date
    %th Quantity
    %th Comments
    %th

  - transactions.each do |transaction|
    %tr
      %td= transaction.price
      %td= transaction.date
      %td= transaction.quantity
      %td= transaction.comments
      %td.actions
        = button_to 'Edit', edit_portfolio_net_position_transaction_path(parent, resource, transaction), :method => :get
        = button_to 'Destroy', portfolio_net_position_transaction_path(parent, resource, transaction), :confirm => 'Are you sure?', :method => :delete

%br

= button_to 'New Transaction', new_portfolio_net_position_transaction_path(parent, resource), :method => :get
