= f.input :price
= f.input :date
= f.input :action, :collection => [:buy, :sell], :label_method => lambda { |item| t ".#{item}.#{resource.security.type}" }
= f.input :amount unless %w[RealEstate Loan].include?(resource.security.type)
= f.input :comments

=# f.link_to_remove "Remove This Transaction"
