%p#notice= notice

%p
  %b Portfolio:
  = parent.name

%p
  %b Security:
  = resource.security.name

%section#transactions
  = render 'transactions', :transactions => @net_position.transactions

= button_to 'Edit', edit_resource_path(resource), :method => :get
= link_to 'Back', parent_path
