%table.table.table-striped
  %tr
    %th Name
    %th NAV
    %th % Change
    %th Size (Crores)
    %th 1y return (%)
  - @biggest_schemes.each do |scheme|
    %tr{ class: cycle("odd", "even") }
      %td= link_to scheme.name, mutual_fund_url(scheme)
      %td= scheme.nav_amount
      %td= rg_colorize scheme.percentage_change
      %td= scheme.size
      %td= rg_colorize scheme.prev_year_percent

