%table.table.table-striped
  %tr
    %th Name
    %th NAV
    %th % Change
    %th Size (Crores)
    %th 1y return (%)
  - @biggest_schemes.each do |scheme|
    %tr{ class: cycle("odd", "even") }
      %td= link_to scheme.name, mutual_fund_url(scheme)
      %td= scheme.nav_amount
      %td= rg_colorize number_with_precision(scheme.percentage_change), scheme.percentage_change.to_f
      %td= scheme.size
      %td= rg_colorize number_with_precision(scheme.prev_year_percent), scheme.prev_year_percent.to_f

