%table.table.table-striped
  %tr
    %th Name
    %th NAV
    %th % Change
    %th 1m return (%)
    %th 1y return (%)
    %th 3y return (%)
  - @top_performers.each do |scheme|
    %tr{ class: cycle("odd", "even") }
      %td= link_to scheme.name, mutual_fund_url(scheme)
      %td= scheme.nav_amount
      %td= rg_colorize scheme.percentage_change
      %td= rg_colorize scheme.prev1_month_percent
      %td= rg_colorize scheme.prev_year_percent
      %td= rg_colorize scheme.prev3_year_percent
