%table.table.table-striped.table-bordered{:data => {:role => 'top_performers'} }
  %tr
    %th Name
    %th NAV
    %th % Change
    %th 1m return (%)
    %th 1y return (%)
    %th 3y return (%)
  - @top_performers.each do |scheme|
    %tr{ class: cycle("odd", "even") }
      %td= link_to scheme.name, mutual_fund_url(scheme)
      %td= scheme.nav_amount
      %td= rg_colorize number_with_precision(scheme.percentage_change), scheme.percentage_change.to_f
      %td= rg_colorize number_with_precision(scheme.prev1_month_percent), scheme.prev1_month_percent.to_f
      %td= rg_colorize number_with_precision(scheme.prev_year_percent), scheme.prev_year_percent.to_f
      %td= rg_colorize number_with_precision(scheme.prev3_year_percent), scheme.prev3_year_percent.to_f
