- if @stock.company_code && @audited_results[0].model
  %h1= "#{@audited_results[0].company_name} - Balance Sheet"
  %p *All Numbers are in crores of rupees unless specified otherwise
  %table
    %tr
      %th
      - @audited_results.each do |audited_result|
        %th= l audited_result.year_ending, :format => :yearly_results

    - @audited_results[0].balance_sheet_view_items.each do |item|
      %tr
        %td
          - if item[:heading]
            %b= item[:title]
          -else
            = item[:title]
        - @audited_results.each do |audited_result|
          %td= audited_result.send(item[:field_name].to_sym) if item[:field_name]
- else
  %p Data not available for this company
