= render 'stocks/subnav'
- provide :title, @company.name if @company

- if @share_holding.model
  %h1= "ShareHolding - #{@company.name}"
  #share-holding-chart{ 'data-share-holding' => @share_holding.groupwise_percentages }
  %table
    %th Investor Type
    %th Percentage(%)
    - @share_holding.non_zero_groups.each do |attr|
      %tr
        %th.group{:colspan => 2}= t "share_holding.#{attr}"
      - ShareHoldingDecorator::SHARE_HOLDING_CODES[attr].each do |item|
        - if @share_holding.get_element_by_code(item[:code])["Percentage"]
          %tr
            %td= item[:name]
            %td= @share_holding.get_element_by_code(item[:code])["Percentage"]
      %tr
        %td.total Total
        %td= @share_holding.send(attr)
- else
  %p No Data Available

#disqus_thread{data: {disqus_identifier: "stocks_#{@company.code}"}}
