= resource.comprehensive_risk_profiler_alert_message
.row
  .span8
    -if resource.comprehensive_risk_profiler_valid?
      %h1
        Your Risk Appetite is :
        %small
          = resource.comprehensive_risk_profiler_score
          out of 10. (10 indicates maximum risk taking ability)
      = facebook_recommendation_tag
      %ul
        = resource.comprehensive_risk_profiler_public_summary
      %h5.show-gird Suggested Investment Mix
      %p= t "ideal_investments.risk_summary.suggestion"
    - else
      %h1 Balanced Portfolio
      = facebook_recommendation_tag
      %p= t("ideal_investments.show.default_suggestion", :quiz_link => (link_to 'short quiz', edit_comprehensive_risk_profiler_path)).html_safe
      %h5.show-gird Suggested Investment Mix
      %p= t "ideal_investments.risk_summary.suggestion"

  .span4
    .pull-right
      = link_to image_tag('ebola-370.jpg'), main_app.page_path('win-an-ipad3')

.row.show-grid
  .span6
    - fp = FinancialPlanner.new(resource.comprehensive_risk_profiler_score)
    = gchart(:data => fp.ideal_asset_allocation.to_a, :title => 'Suggested Asset Allocation', :chart_type => 'Pie')
    %h3 HEADER
    %table.table.table-striped.table-bordered
      %tr
        %th Asset Class
        %th Percentage
      - fp.ideal_asset_allocation.each do |asset_class, percentage|
        %tr
          %td= asset_class
          %td= "#{percentage}%"
    = resource.ideal_investment_draw_top_elss_table

  .span6
    = resource.ideal_investment_draw_asset_chart
    = resource.ideal_investment_draw_asset_tables

- unless current_user && current_user.id == resource.comprehensive_risk_profiler_user.id
  = link_to t('.take_quiz'), edit_comprehensive_risk_profiler_path