= simple_form_for @fixed_deposit_calculator, :method => :get do |f|
  = f.error_notification

  %h4 Fixed Deposit Calculator
  %ul
    %li The calculator assumes you are depositing money at the beginning of each month.
  %br

  .inputs
    = f.input :amount_invested
    = f.input :rate_of_return
    = f.input :no_months
    = f.input :compounding_frequency ,:collection => FixedDepositCalculator::COMPOUNDING_FREQUENCY_OPTIONS, :include_blank => false
  .actions
    = f.button :submit

  = content_tag :div, flash[:result], :id => 'result' if flash[:result]


