- content_for :aside do
  = render 'list'
= simple_nested_form_for @life_insurance_calculator do |f|
  = f.error_notification

  %h4 Life Insurance Calculator
  %ul
    %li It is assumed that your family income will not contribute to your desired estate value even if the family income is more than enough to cover your dependents’ expenses.
    %li Only you will contribute to your desired estate value.
  %br

  .inputs
    = f.input :existing_life_insurance
    = f.input :existing_provident_fund
    = f.input :total_outstanding_liabilities
    = f.input :total_assets
    = f.input :desired_value_of_bequeathed_estate
    = f.input :family_income
    .fieldset.dependents
      = f.fields_for :dependents do |d|
        = d.input :years
        = d.input :expense
        = d.link_to_remove "Remove Dependent"
      = f.link_to_add "Add Dependent", :dependents, :model_class => LifeInsuranceCalculator::Dependent

  .actions
    = f.button :submit


