- content_for :aside do
  = render 'list'
= simple_form_for @rate_of_return_calculator, :url => rate_of_return_calculator_path do |f|
  = f.error_notification

  %h4 Rate of Return Calculator

  .inputs
    = f.input :initial_investment
    = f.input :received_amount
    = f.input :no_years

  .actions
    = f.button :submit


