- content_for :aside do
  = render_navigation :level => 2
= simple_form_for @rate_of_return_calculator, :url => rate_of_return_calculator_path do |f|
  = f.error_notification

  %h4 Rate of Return Calculator

  .inputs
    = f.input :initial_investment
    = f.input :received_amount
    = f.input :no_years

  .actions
    = f.button :submit


  #result
    = flash[:result] if flash[:result].is_a?(String)
