- content_for :aside do
  = render_navigation :level => 2
= simple_form_for @retirement_corpus_calculator, :url => retirement_corpus_calculator_path do |f|
  = f.error_notification

  %h4 Retirement Corpus Calculator
  %ul
    %li The corpus amount is calculated based on the assumption that life expectancy is 80 years.
  %br

  .inputs
    = f.input :current_age
    = f.input :retirement_age
    = f.input :monthly_expence
    = f.input :inflation
    = f.input :expected_return
  .actions
    = f.button :submit


  #result
    = flash[:result] if flash[:result].is_a?(String)
