- content_for :aside do
  = render 'list'
= simple_form_for @sip_calculator, :url => sip_calculator_path  do |f|
  = f.error_notification

  %h4 SIP Calculator
  %ul
    %li It is assumed that you make the monthly saving at the beginning of each month.
    %li The rate of return is effective annual rate which is compounded monthly.
  %br

  .inputs
    = f.input :initial_investment
    = f.input :monthly_amount
    = f.input :no_months
    = f.input :rate_of_return
  .actions
    = f.button :submit


