%h1 Financial Planner
#asset-allocation
  = simple_form_for resource, :url => financial_planner_path do |f|
    = f.input :willingness_to_take_risk
    .actions
      = f.submit 'Submit'
  %h1 Suggested Asset Allocation
  - if resource.get_asset_allocation
    #asset-allocation-chart{ 'data-asset-allocation' => resource.get_asset_allocation.to_a }

- content_for :aside do
  %ul#financial_planner
    - resource.risk_profilers.each do |risk_profiler|
      %li
        = link_to risk_profiler.name, financial_planner_risk_profiler_path(:id => risk_profiler.quiz.slug)
        = risk_profiler.score
