%h1 Statement

%table
  %tr
    %th Date
    %th Asset Name
    %th Type
    %th Action
    %th Price Per Unit
    %th Quantity
    %th Value
    %th Portfolio Value
    -@transactions.each do |transaction|
      %tr
        %td= transaction.date
        %td= transaction.net_position.security.name
        %td= transaction.net_position.security.type
        %td= transaction.action
        %td= transaction.price
        %td= transaction.quantity
        %td= transaction.total_value
