%h1 Listing transactions

%table
  %tr
    %th Price
    %th Date
    %th Quantity
    %th Comments
    %th

  - @transactions.each do |transaction|
    %tr
      %td= transaction.price
      %td= transaction.date
      %td= transaction.quantity
      %td= transaction.comments
      %td.actions
        = link_to 'Show', resource_path(transaction)
        = button_to 'Edit', edit_resource_path(transaction), :method => :get
        = button_to 'Destroy', resource_path(transaction), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Transaction', new_resource_path
