= simple_form_for @trade_account, :url => trade_account_path, :html => {:class => 'form-horizontal'} do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :phone_number
    = f.input :address
    = f.input :city
    = f.input :special_requirements

  .form-actions
    = f.button :submit
