.row.show-grid
  .span12
    = render 'stocks/subnav'

- unless collection.count == 0
  %table.table.table-striped.tabel-bordered
    %tr
      %th Date
      %th Source
      %th Report Name
      %th Current Market Price
      %th Target Price
      %th Recommendation
    - collection.each do |report|
      %tr
        - if report.date
          %td= l report.date, :format => :stock_52w_date
        %td= report.source
        %td= link_to report.name, report.link_url, :target => :blank
        %td= number_with_precision report.current_market_price
        %td= number_with_precision report.target_price
        %td= report.recommendation
- else
  %p= t(".message", :name => @company.name)
