.row.show-grid
  .span6
    = facebook_recommendation('Research reports')
  .span6
    .pull-right
      = simple_form_for @reports, :url => research_reports_path, :method => :get, :class => 'form-search' do |f|
        .input-append
          = f.input :source_or_company_name_or_sector_contains, :label => false, :placeholder => 'Search by company,source or sector'
          %span{:data => {:role => 'research_report_query' } }
            = button_tag :class => 'btn' do
              %i.icon-search

= content_tag :div, flash[:result], :id => 'result' if flash[:result].is_a?(String)
- unless collection.count == 0
  %table.table.table-striped.table-bordered
    %tr
      %th Date
      %th Report Name
      %th Source
      %th Company Name
      %th Sector
    - collection.each do |report|
      %tr
        - if report.date
          %td= l report.date, :format => :stock_52w_date
        %td= link_to report.name, report.link_url, :target => :blank
        %td= report.source
        %td= report.company_name
        %td= report.sector
- if params[:query]
  .pull-right
    = link_to 'Back to Reports home', research_reports_path

