%h1 Research Reports

= form_tag research_reports_path, :method => :get do
  = text_field_tag :query, nil, :placeholder => 'Search by company, source or sector'
  = submit_tag 'Search'

- unless collection.empty?
  - unless parent?
    %table
      %tr
        %th Date
        %th Report Name
        %th Source
        %th Company Name
        %th Sector
      - collection.each do |report|
        %tr
          - if report.date
            %td= l report.date, :format => :stock_52w_date
          %td= link_to report.name, report.link_url
          %td= report.source
          %td= report.company_name
          %td= report.sector
  - else
    %table
      %tr
        %th Date
        %th Source
        %th Report Name
        %th Current Market Price
        %th Target Price
        %th Recommendation
      - collection.each do |report|
        %tr
          - if report.date
            %td= l report.date, :format => :stock_52w_date
          %td= report.source
          %td= link_to report.name, report.link_url
          %td=number_to_indian_currency(report.current_market_price, 2)
          %td= number_to_indian_currency(report.target_price,0)
          %td= report.recommendation
