%h1 Research Reports

= form_tag collection_path, :method => :get do
  = text_field_tag :query, nil, :placeholder => 'Search by company, source or sector'
  = submit_tag 'Search'

%table
  %tr
    %th Date
    %th Report Name
    %th Source
    %th Company Name
    %th Sector
  - !collection.empty? && collection.each do |report|
    %tr
      - if report.date
        %td= l report.date, :format => :stock_52w_date
      %td= link_to report.name, report.link_url
      %td= report.source
      %td= report.company_name
      %td= report.sector
