- unless gold_transactions.empty?
  %section{ :class => "GoldTransactions" }
    %h1= "Gold Transactions"
    %table.table.table-striped
      %tr
        %th.dates Date
        %th.type Type
        %th.name Name
        %th.quantity Quantity
        %th.price Price
        %th.amount Amount
        %th.comment Comments
      %tr.right_align
        %td
        %td
        %td
        %td (grams)
        %td (Rs)
        %td (Rs)
        %td
      - gold_transactions.each do |gold_transaction|
        %tr
          %td.dates= l gold_transaction.date
          %td.type{:class => gold_transaction.action}= gold_transaction.action.to_s.titleize
          %td.name Gold
          %td.quantity= gold_transaction.quantity
          %td.price= gold_transaction.price
          %td.amount= gold_transaction.value.abs
          %td.comment= gold_transaction.comments && gold_transaction.comments.strip.empty?  ? t("tables_not_available") : gold_transaction.comments
