- unless gold_transactions.empty?
  %section{ :class => "GoldTransactions" }
    %h3= "Gold Transactions"
    %table.table.table-striped.table-bordered
      %tr
        %th.span2.align-center Date
        %th.span1.align-center Type
        %th.span3 Name
        %th.span1.align-center Quantity
        %th.span2.align-center Price
        %th.span2.align-center Amount
        %th.span1 Comments
      %tr
        %td
        %td
        %td
        %td.align-center (gm)
        %td.align-center{:colspan => '2'} (Rs)
        %td
      - gold_transactions.each do |gold_transaction|
        %tr
          %td.align-center= l gold_transaction.date
          %td.align-center{:class => gold_transaction.action}= gold_transaction.action.to_s.titleize
          %td Gold
          %td.align-right= gold_transaction.quantity
          %td.align-right= gold_transaction.price
          %td.align-right= gold_transaction.value.abs
          %td= gold_transaction.comments && gold_transaction.comments.strip.empty?  ? t("tables_not_available") : gold_transaction.comments
