.span4
  %h5= t(".#{type}")
  %table.table.table-striped.table-bordered{ :data => { :role => type } }
    %tr
      %th.span10 Name
      %th.span2
        = I18n.send('t', "ideal_investments.#{value}")
    -ideal_investment_mix.send(type).each do |investment|
      %tr
        - if type == 'fixed_deposits'
          %td= investment.name
        - else
          %td= link_to investment.name, mutual_fund_path(ideal_investment_mix.scheme(investment.name))
        %td= investment.send(value)