.row.show-grid
  .span4
    %h4.align-center
      Nifty
      %small
        %strong= NiftyDecorator.last_traded_price
        =  rg_colorize NiftyDecorator.net_change
        (#{rg_colorize NiftyDecorator.percent_change})

  .span4
    %h4.align-center
      Sensex
      %small
        %strong= SensexDecorator.last_traded_price
        =  rg_colorize SensexDecorator.net_change
        (#{rg_colorize SensexDecorator.percent_change})

  .span4
    %h4.align-center
      Gold (10 gm)
      %small
        %strong= GoldDecorator.current_price
        =  rg_colorize GoldDecorator.net_change
        (#{rg_colorize GoldDecorator.percent_change})
