%nav
  - navbar do |bar|
    = bar.collapse
    = bar.nav do
      = bar.dropdown 'Financial Planning' do
        = bar.item 'Personalized Financial Plan',
                    main_app.edit_comprehensive_risk_profiler_path
        = bar.item 'Ideal Portfolio Mix',
                    main_app.comprehensive_risk_profiler_path
        - if current_user
          = bar.item 'Ideal Investments',
                      main_app.comprehensive_risk_profiler_ideal_investments_path

      = bar.dropdown 'Learn Investing' do
        .container
          .row
            .span6
              .row
                .span2
                  %li.nav-header Preparing to Invest
                  = bar.item 'How to Invest',
                              main_app.page_path('investment_education/smart-investments')
                  = bar.item 'Types of Investments',
                              main_app.page_path('investment_education/investment-types')
                  = bar.item 'Investing vs Trading',
                              main_app.page_path('investment_education/investing-trading-shares')

                  %li.nav-header Before you Invest
                  = bar.item 'Investment Plan',
                              main_app.page_path('investment_education/investment-plan')
                  = bar.item 'Where to Invest',
                              main_app.page_path('investment_education/where-to-invest')
                  = bar.item 'Diversification',
                              main_app.page_path('investment_education/investment-diversification')
                  = bar.item 'Planning your Taxes',
                              main_app.page_path('investment_education/tax-planning')

                .span2
                  %li.nav-header Investments Types
                  = bar.item 'Fixed Deposits',
                              main_app.page_path('investment_education/investment-fixed-deposits')
                  = bar.item 'Gold',
                              main_app.page_path('investment_education/gold-investment')
                  = bar.item 'Shares',
                              main_app.page_path('investment_education/shares')
                  = bar.item 'Mutual Funds and ETFs',
                              main_app.page_path('investment_education/mutual-funds-etf')
                  = bar.item 'Bonds',
                              main_app.page_path('investment_education/bonds')
                  = bar.item 'Life Insurance',
                              main_app.page_path('investment_education/life-insurance-policies')
                  = bar.item 'Sip',
                              main_app.page_path('investment_education/sip')

                .span2
                  %li.nav-header Investing in Shares
                  = bar.item 'Share Market',
                              main_app.page_path('investment_education/share-market')
                  = bar.item 'Fundamental Analysis',
                              main_app.page_path('investment_education/fundamental-analysis-shares')
                  = bar.item 'Technical Analysis',
                              main_app.page_path('investment_education/technical-analysis-shares')
                  = bar.item 'Banking Sector',
                              main_app.page_path('investment_education/banking-sector-shares')
                  = bar.item 'IT Sector',
                              main_app.page_path('investment_education/it-sector')

                  %li.nav-header Further Reading
                  = bar.item 'Articles',
                              main_app.page_path('investment_education/articles')

      = bar.dropdown 'Financial Calculators' do
        = bar.item 'EMI Calculator',
                    personal_financial_tools.emi_calculator_path
        = bar.item 'Fixed Deposit Calculator',
                    personal_financial_tools.fixed_deposit_calculator_path
        = bar.item 'Recurring Deposit Calculator',
                    personal_financial_tools.recurring_deposit_calculator_path
        = bar.item 'SIP Calculator',
                    personal_financial_tools.sip_calculator_path
        = bar.item 'Monthly SIP Calculator',
                    personal_financial_tools.monthly_sip_calculator_path
        = bar.item 'Income Tax Calculator',
                    personal_financial_tools.income_tax_calculator_path
        = bar.item 'Rate of Return Calculator',
                    personal_financial_tools.rate_of_return_calculator_path
        = bar.item 'Life Insurance Calculator',
                    personal_financial_tools.life_insurance_calculator_path
        = bar.item 'Retirement Calculator',
                    personal_financial_tools.retirement_calculator_path
      = bar.item 'Manage Investments',
                      main_app.portfolios_path
      = bar.dropdown 'Markets and Trading' do
        = bar.item 'Shares',
                    main_app.stocks_path
        = bar.item 'Stock Screener',
                    main_app.screener_stocks_path
        = bar.item 'Mutual Funds',
                    main_app.mutual_funds_path
        = bar.item 'Fixed Deposits',
                    main_app.fixed_deposits_path
        = bar.item 'Open low cost brokerage account',
                    main_app.page_path('trade')
        = bar.item 'Market Commentary',
                    main_app.blog_path
        = bar.item 'Research',
                    main_app.research_reports_path
        = bar.item 'Stock Recommendations',
                    main_app.page_path('stock-recommendations')
      = bar.item 'We Care',
                      main_app.page_path('finginie-cares')
      = bar.item 'Programming Contest',
                      main_app.page_path('programming-contest')

    = bar.second_nav do
      - if current_user
        = bar.item 'Sign out', omniauth_single_signon.signout_path
      - else
        = bar.item 'Sign in', main_app.signin_path
        = bar.item 'Register', main_app.signin_path

