%nav
  - navbar do |bar|
    = bar.collapse
    = bar.nav do
      = bar.dropdown 'Financial Planning' do
        = bar.item 'Personalized Financial Plan', main_app.page_path('Personalized Financial Plan')
        = bar.item 'Ideal portfolio mix', main_app.page_path('Ideal portfolio mix')
        = bar.dropdown 'Calculators' do
          = bar.item 'EMI Calculator', main_app.page_path('EMI Calculator')
          = bar.item 'Fixed Deposit Calculator', main_app.page_path('Fixed Deposit Calculator')
          = bar.item 'Recurring Deposit Calculator', main_app.page_path('Recurring Deposit Calculator')
          = bar.item 'SIP Calculator', main_app.page_path('SIP Calculator')
          = bar.item 'Monthly SIP Calculator', main_app.page_path('Monthly SIP Calculator')
          = bar.item 'Income Tax Calculator', main_app.page_path('Income Tax Calculator')
          = bar.item 'Rate of Return Calculator', main_app.page_path('Rate of Return Calculator')
          = bar.item 'Life Insurance Calculator', main_app.page_path('Life Insurance Calculator')
          = bar.item 'Retirement Calculator', main_app.page_path('Retirement Calculator')
      = bar.item 'Manage Investments', main_app.portfolios_path
      = bar.item 'Markets', main_app.stocks_path
      = bar.item 'Trade', main_app.page_path(:trade)
      = bar.item 'Learn Investing', main_app.page_path(:investment_education)
