!!!
%html
  %head
    %title= auto_page_seo_content('title', yield(:title) )
    %meta{ :name => "description", :content => auto_page_seo_content('description', yield(:description) ) }
    %meta{ :name => 'keywords', :content => auto_page_seo_content('keywords', yield(:keywords) ) }
    %meta{ :name => 'viewport', :content => "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag :application
    = javascript_include_tag :application, :async => !Rails.env.development?
    = airbrake_javascript_notifier
    = csrf_meta_tags

  %body{ :class => auto_page_class_names }
    - if ENV['PRODUCTION_INSTANCE']
      = render :partial => 'layouts/alexa'
      %webengage{license: '76aa3c4'}
    - if ENV['MAINTENANCE']
      #maintenance_notice.alert.alert-block
        %button.close{:data => { :dismiss => :alert }} x
        We are upgrading our systems as we speak. You may face minor issues during this period. Thank you for understanding :)
    %header
      .container
        %hgroup.social
          .row.show-grid
            .span8.align-right
              =render 'layouts/twitter'
            .span1
              =render 'layouts/facebook'
            .span3
              - if current_user
                %ul.nav.nav-pills
                  %li.dropdown.pull-right
                    %a.dropdown-toggle{ :href => '#', :data => {:toggle => :dropdown}}
                      = current_user.email
                      %b.caret
                    %ul.dropdown-menu
                      = navigation_link 'Change Password', single_signon_change_passwords_path("#{request.fullpath}?message=change_password")
                      = navigation_link 'Profile',  own_profile_path
                      %li.divider
                      = navigation_link 'Sign out', omniauth_single_signon.signout_path
              - else
                = link_to 'Signin / Register', main_app.signin_path, :class => 'pull-right'

        %hgroup.title
          %h1
            = link_to main_app.root_path do
              = image_tag 'logo.png'
            %small India's Best Investment Portal for Beginners
            .pull-right
              = link_to "#{current_user.try(:ebola_points).to_i} points", main_app.accumulated_points_path, :id => 'points'
        = render 'layouts/navigation'
        = yield :header
        #indices
    #main.container
      .row
        .span12
          %span.notice
            - flash.each do |name, msg|
              - if msg.is_a?(String)
                %div{ :id => "flash_#{name}", :class => ['alert', "alert-#{name}"] }
                  %button.close{:data => { :dismiss => :alert }} x
                  = msg

      = yield
    %footer.footer
      .container
        = render 'layouts/footer'
        = yield :footer
        .row
          .span12.show-grid
            %p.align-center
              Copyright © 2012 Finginie.com.
              All rights reserved.
              = link_to 'Terms of use', main_app.page_path('terms_of_use')

