!!!
%html
  %head
    %title FinGinie
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = raw airbrake_javascript_notifier
    = csrf_meta_tags
  %body
    %header
      %nav.user
        -# user control links here
      %hgroup.title
        = link_to root_path do
          = image_tag 'logo.png', :alt => 'Finginie'
        %span.tag Beta
      %nav
        -# main navigation links here
      %hgroup.page_header
        =yield :header
    %aside
      =yield :aside
    .container
      #main
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}", :class => name if msg.is_a?(String)
        = yield
      %aside
    %footer
      =yield :footer
