!!!
%html
  %head
    %title FinGinie
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = raw airbrake_javascript_notifier
    = csrf_meta_tags

  %body{:class => [params[:controller], params[:action]] + (params[:id] || '').split('/')}
    %header
      %hgroup.title
        = link_to root_path do
          //%h1 Finginie
          = image_tag 'logo.png'
      %nav.user
        %ul
          - if current_user
            -#%li= link_to current_user.email, edit_user_registration_path
            %li= button_to 'Sign out', signout_path, :method => :delete
          - else
            %li Login with
            %li
              = link_to '/auth/facebook' do
                = image_tag 'facebook_32.png'
            %li
              = link_to '/auth/google_oauth2' do
                = image_tag 'google_32.png'
            -#%li= link_to 'Sign up', new_user_registration_path
      %nav.main
        = render_navigation :level => 1
        = yield :header
    #wrapper
      %nav.breadcrumbs= render_navigation :renderer => :breadcrumbs, :join_with => " &gt; "
      #main
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}", :class => name if msg.is_a?(String)
        = yield
      %aside
        %h1= active_navigation_item_name :level => 1
        %nav= render_navigation :expand_all => true, :skip_if_empty => true, :level => 2..3
        =yield :aside
    %footer
      %nav.sitemap
        = render_navigation :expand_all => true, :level => 1..2
      =yield :footer
