!!!
%html
  %head
    %title Finginie
    = stylesheet_link_tag :application
    = javascript_include_tag 'http://js.exceptional.io/exceptional.js'
    = javascript_include_tag :application
    = csrf_meta_tags

  %body{ :class => auto_page_class_names }
    - if ENV['PRODUCTION_INSTANCE']
      %webengage{license: '76aa3c4'}
    %header
      #header_resize
        .global_social
          #divtwitter
            = render :partial => 'layouts/twitter'
          #divfacebook
            = render :partial => 'layouts/facebook'
          %nav.user
            %ul
              - if current_user
                -#%li= link_to current_user.email, edit_user_main_app.registration_path
                %li
                  = link_to 'Sign out', main_app.signout_path, :method => :delete, :class => "btnsignout"
              - else
                %li
                  = image_tag 'loginwith_button.png'
                %li
                  = link_to '/auth/facebook' do
                    = image_tag 'facebook_20.png'
                %li
                  = link_to '/auth/google_oauth2' do
                    = image_tag 'google_20.png'
                -#%li= link_to 'Sign up', new_user_main_app.registration_path

        %hgroup.title
          = link_to main_app.root_path do
            //%h1 Finginie
            = image_tag 'logo_new.png'
            //=image_tag  "logoBlueGreen.png"
        %nav.main
          = render_navigation :level => 1
          = yield :header
    #wrapper
      #main
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}", :class => name if msg.is_a?(String)
        .container
          = yield
      %aside
        %h1= active_navigation_item_name :level => 1
        %nav= render_navigation :expand_all => true, :skip_if_empty => true, :level => 2..3
        =yield :aside
    %footer
      %nav.sitemap
        = render_navigation :expand_all => true, :level => 1..2
      =yield :footer
      .legal
        .disclaimer
          Disclaimer: The prices/NAVs and any other information displayed on the website are indicative only. We do not take responsibility for the accuracy/relevance of this information. Please contact the appropriate exchange/fund for the latest price. Investments are subject to market risks. Please study the offer documents carefully before investing. Finginie, its agents/partners/directors will not be liable in any way for the gains/losses that arise from the investments that you make
        .copyright
          Copyright © 2012 Finginie.com. All rights reserved.

